// Controlling how a background image behaves when scrolling
$background-attachment-fixed: fixed;
$background-attachment-local: local;
$background-attachment-scroll: scroll;
$background-attachment-default: scroll;
