// Controlling the background size of an element's background image
$background-size-contain: contain;
$background-size-cover: cover;
$background-size-auto: auto;
$background-size-default: auto auto;
