// Controlling the width an element's borders
$border-width-0: 0;
$border-width-1: 1 * $scale + $unit;
$border-width-2: 2 * $scale + $unit;
$border-width-4: 4 * $scale + $unit;
$border-width-8: 8 * $scale + $unit;
$border-width-16: 16 * $scale + $unit;
$border-with-1-no-scale: 1 + $unit;
$border-with-2-no-scale: 2 + $unit;
$border-with-4-no-scale: 4 + $unit;
$border-with-8-no-scale: 8 + $unit;
$border-with-16-no-scale: 16 + $unit;
$border-width-default: 1 + $unit;
