.bg-default {
  &,
  .light & {
    background-color: $background-color-default;
  }

  .dark & {
    background-color: $background-color-default-reverse;
  }
}

.bg-divider {
  &,
  .light & {
    background-color: $background-color-divider;
  }

  .dark & {
    background-color: $background-color-divider-reverse;
  }
}

.bg-table-header {
  &,
  .light & {
    background-color: $background-color-table-header;
  }

  .dark & {
    background-color: $background-color-table-header-reverse;
  }
}

.light,
.bg-light {
  background-color: $background-color-light;
}

.dark,
.bg-dark {
  background-color: $background-color-dark;
}

.bg-primary {
  &,
  .light & {
    background-color: $color-primary;
  }

  .dark & {
    background-color: $color-primary-reverse;
  }
}

.bg-success {
  &,
  .light & {
    background-color: $color-success;
  }

  .dark & {
    background-color: $color-success-reverse;
  }
}

.bg-warning {
  &,
  .light & {
    background-color: $color-warning;
  }

  .dark & {
    background-color: $color-warning-reverse;
  }
}

.bg-error {
  &,
  .light & {
    background-color: $color-error;
  }

  .dark & {
    background-color: $color-error-reverse;
  }
}

.bg-info {
  &,
  .light & {
    background-color: $color-info;
  }

  .dark & {
    background-color: $color-info-reverse;
  }
}
