.bg-fixed {
  background-attachment: $background-attachment-fixed;
}

.bg-local {
  background-attachment: $background-attachment-local;
}

.bg-scroll {
  background-attachment: $background-attachment-scroll;
}
