.bg-repeat {
  background-repeat: $background-repeat-repeat;
}

.bg-repeat-y {
  background-repeat: $background-repeat-repeat-y;
}

.bg-repeat-x {
  background-repeat: $background-repeat-repeat-x;
}

.bg-repeat-space {
  background-repeat: $background-repeat-repeat-space;
}

.bg-repeat-round {
  background-repeat: $background-repeat-repeat-round;
}

.bg-no-repeat {
  background-repeat: $background-repeat-no-repeat;
}
