.bg-top {
  background-position: $background-position-top;
}

.bg-right {
  background-position: $background-position-right;
}

.bg-bottom {
  background-position: $background-position-bottom;
}

.bg-left {
  background-position: $background-position-left;
}

.bg-center {
  background-position: $background-position-center;
}
