[class*="border"] {
  &,
  .light & {
    border-color: $border-color-default;
  }

  .dark & {
    border-color: $border-color-default-reverse;
  }

  border-style: $border-style-solid;
  border-width: $spacing-1;
}

.border-top {
  border-right: $none !important;
  border-bottom: $none !important;
  border-left: $none !important;
}

.border-right {
  border-top: $none !important;
  border-bottom: $none !important;
  border-left: $none !important;
}

.border-bottom {
  border-top: $none !important;
  border-right: $none !important;
  border-left: $none !important;
}

.border-left {
  border-top: $none !important;
  border-right: $none !important;
  border-bottom: $none !important;
}

.border-none {
  border: $none !important;
}

.border-primary {
  border-color: $color-primary !important;
}

.border-success {
  border-color: $color-success !important;
}

.border-warning {
  border-color: $color-warning !important;
}

.border-error {
  border-color: $color-error !important;
}

.border-info {
  border-color: $color-info !important;
}
