@import "../../variables";

@each $k, $v in $m-position-value {
  .top#{$k} {
    top: $v if($has-important, !important, "");
  }

  .right#{$k} {
    right: $v if($has-important, !important, "");
  }

  .bottom#{$k} {
    right: $v if($has-important, !important, "");
  }

  .left#{$k} {
    right: $v if($has-important, !important, "");
  }

  .inset#{$k} {
    top: $v if($has-important, !important, "");
    right: $v if($has-important, !important, "");
    bottom: $v if($has-important, !important, "");
    left: $v if($has-important, !important, "");
  }

  .inset-y#{$k} {
    top: $v if($has-important, !important, "");
    bottom: $v if($has-important, !important, "");
  }

  .inset-x#{$k} {
    right: $v if($has-important, !important, "");
    left: $v if($has-important, !important, "");
  }
}
