$m-background-position: (
  top: top,
  right: right,
  bottom: bottom,
  left: left,
  right-top: right top,
  right-bottom: right bottom,
  left-top: left top,
  left-bottom: left bottom,
  center: center
);
