// 控制元素的盒子类型
$display-block: block;
$display-inline-block: inline-block;
$display-inline: inline;
$display-flex: flex;
$display-inline-flex: inline-flex;
$display-table: table;
$display-table-row: table-row;
$display-table-cell: table-cell;
$display-hidden: hidden;
$display-default: flex;
