// styles reset
@import "../node_modules/ress/ress.css";

page {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: $font-family-default;
  font-size: $font-size-base;
  font-weight: 400;
  line-height: $line-height-base;
  color: initial;
  cursor: default;
  user-select: none;
  background: initial;
  text-size-adjust: none;
}

view {
  display: block;
  padding: 0;
  margin: 0;
}

scroll-view {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}

// swiper {}

// movable-area {}

// movable-view {}

// cover-view {}

// cover-image {}

icon {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 0;
}

text,
rich-text {
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}

progress {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  vertical-align: baseline;
}

button {
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  min-height: 72rpx;
  padding: 8rpx 32rpx;
  margin: 0 auto;
  overflow: hidden;
  font-family: inherit;
  font-size: $font-size-base;
  font-weight: 400;
  line-height: $line-height-base;
  color: $color-main;
  text-align: center;
  text-decoration: none;
  background-color: $gray-3;

  &[disabled] {
    color: $color-disabled;
    background-color: $gray-2;
  }

  &::after {
    display: none;
  }
}

// checkbox {}

// editor {}

// form {}

input {
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}

label {
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}

// picker {}

// picker-view {}

// radio {}

// slider {}

// switch {}

textarea {
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}

// navigator {}

// audio {}

// camera {}

image {
  border-style: none;
}

// video {}

// live-player {}

// live-pusher {}

// map {}

// canvas {}

// web-view {}

// ad {}
