$ratio-1-24: 4.16666667%;
$ratio-1-20: 5%;
$ratio-1-12: 8.33333333%;
$ratio-1-10: 10%;
$ratio-1-8: 12.5%;
$ratio-3-20: 15%;
$ratio-1-6: 16.66666667%;
$ratio-1-5: 20%;
$ratio-5-24: 20.83333333%;
$ratio-1-4: 25%;
$ratio-7-24: 29.16666667%;
$ratio-3-10: 30%;
$ratio-1-3: 33.33333333%;
$ratio-7-20: 35%;
$ratio-3-8: 37.5%;
$ratio-2-5: 40%;
$ratio-5-12: 41.66666667%;
$ratio-9-20: 45%;
$ratio-11-24: 45.83333333%;
$ratio-1-2: 50%;
$ratio-13-24: 54.16666667%;
$ratio-11-20: 55%;
$ratio-7-12: 58.33333333%;
$ratio-3-5: 60%;
$ratio-5-8: 62.5%;
$ratio-13-20: 65%;
$ratio-2-3: 66.66666667%;
$ratio-7-10: 70%;
$ratio-17-24: 70.83333333%;
$ratio-3-4: 75%;
$ratio-19-24: 79.16666667%;
$ratio-4-5: 80%;
$ratio-5-6: 83.33333333%;
$ratio-17-20: 85%;
$ratio-7-8: 87.5%;
$ratio-9-10: 90%;
$ratio-11-12: 91.66666667%;
$ratio-19-20: 95%;
$ratio-23-24: 95.83333333%;
$ratio-half: 50%;
$ratio-full: 100%;

$m-ratio: (
  "-1-24": $ratio-1-24,
  "-1-20": $ratio-1-20,
  "-1-12": $ratio-1-12,
  "-1-10": $ratio-1-10,
  "-1-8": $ratio-1-8,
  "-3-20": $ratio-3-20,
  "-1-6": $ratio-1-6,
  "-1-5": $ratio-1-5,
  "-5-24": $ratio-5-24,
  "-1-4": $ratio-1-4,
  "-7-24": $ratio-7-24,
  "-3-10": $ratio-3-10,
  "-1-3": $ratio-1-3,
  "-7-20": $ratio-7-20,
  "-3-8": $ratio-3-8,
  "-2-5": $ratio-2-5,
  "-5-12": $ratio-5-12,
  "-9-20": $ratio-9-20,
  "-11-24": $ratio-11-24,
  "-1-2": $ratio-1-2,
  "-13-24": $ratio-13-24,
  "-11-20": $ratio-11-20,
  "-7-12": $ratio-7-12,
  "-3-5": $ratio-3-5,
  "-5-8": $ratio-5-8,
  "-13-20": $ratio-13-20,
  "-2-3": $ratio-2-3,
  "-7-10": $ratio-7-10,
  "-17-24": $ratio-17-24,
  "-3-4": $ratio-3-4,
  "-19-24": $ratio-19-24,
  "-4-5": $ratio-4-5,
  "-5-6": $ratio-5-6,
  "-17-20": $ratio-17-20,
  "-7-8": $ratio-7-8,
  "-9-10": $ratio-9-10,
  "-11-12": $ratio-11-12,
  "-19-20": $ratio-19-20,
  "-23-24": $ratio-23-24,
  "-half": $ratio-half,
  "-full": $ratio-full,
  "-auto": auto
);
