$flex-shrink-0: 0;
$flex-shrink-1: 1;
$flex-shrink-2: 2;
$flex-shrink-3: 3;
$flex-shrink-4: 4;
$flex-shrink-5: 5;
$flex-shrink-6: 6;
$flex-shrink-7: 7;
$flex-shrink-8: 8;
$flex-shrink-default: $flex-shrink-1 !default;

$flex-grow-0: 0;
$flex-grow-1: 1;
$flex-grow-2: 2;
$flex-grow-3: 3;
$flex-grow-4: 4;
$flex-grow-5: 5;
$flex-grow-6: 6;
$flex-grow-7: 7;
$flex-grow-8: 8;
$flex-grow-default: $flex-grow-0 !default;

$order-0: 0;
$order-1: 1;
$order-2: 2;
$order-3: 3;
$order-4: 4;
$order-5: 5;
$order-6: 6;
$order-7: 7;
$order-8: 8;
$order-9: 9;
$order-10: 10;
$order-11: 11;
$order-12: 12;
$order-13: 13;
$order-14: 14;
$order-15: 15;
$order-16: 16;
$order-17: 17;
$order-18: 18;
$order-19: 19;
$order-20: 20;
$order-21: 21;
$order-22: 22;
$order-23: 23;
$order-first: -9999;
$order-last: 9999;
$order-default: $order-0 !default;
