// variables that used by components

/* badge */
// common
$badge-top: 0 !default;
$badge-right: 0 !default;
$badge-z-index: auto !default;
$badge-display: flex !default;
$badge-sizing-benchmark: 20 !default;
$badge-min-width: $badge-sizing-benchmark * $scale + $unit !default;
$badge-height: $badge-sizing-benchmark * $scale + $unit !default;
$badge-padding-benchmark: 6 !default;
$badge-padding-y: 0 !default;
$badge-padding-x: $badge-padding-benchmark * $scale + $unit !default;
$badge-font-size-benchmark: $font-size-benchmark - 2 !default;
$badge-font-size: $badge-font-size-benchmark * $scale + $unit;
$badge-font-weight: $font-weight-default !default;
$badge-line-height: $badge-height !default;
$badge-border-style: solid !default;
$badge-border-width: 1 * $scale + $unit !default;
$badge-border-radius-benchmark: $badge-sizing-benchmark / 2 !default;
$badge-border-radius: $badge-border-radius-benchmark * $scale + $unit !default;
$badge-transition: $transition-delay $transition-timing-function !default;
$badge-transform: translate(50%, -50%) !default;
$badge-transform-origin: 100% 0 !default;
// default
$badge-color: $color-main !default;
$badge-background-color: $gray-5 !default;
$badge-border-color: $gray-5 !default;
$badge-box-shadow: 0 0 0 1 * $scale + $unit $container-background-color !default;
$badge-color-reverse: $color-main-reverse !default;
$badge-background-color-reverse: $gray-5 !default;
$badge-border-color-reverse: $gray-5 !default;
$badge-box-shadow-reverse: 0 0 0 1 * $scale + $unit $container-background-color-reverse !default;
// primary
$badge-primary-color: $gray-1 !default;
$badge-primary-background-color: $primary-5 !default;
$badge-primary-border-color: $primary-5 !default;
$badge-primary-color-reverse: $gray-1 !default;
$badge-primary-background-color-reverse: $primary-5-reverse !default;
$badge-primary-border-color-reverse: $primary-5-reverse !default;
// success
$badge-success-color: $gray-1 !default;
$badge-success-background-color: $success-5 !default;
$badge-success-border-color: $success-5 !default;
$badge-success-color-reverse: $gray-1 !default;
$badge-success-background-color-reverse: $success-5-reverse !default;
$badge-success-border-color-reverse: $success-5-reverse !default;
// warning
$badge-warning-color: $gray-1 !default;
$badge-warning-background-color: $warning-5 !default;
$badge-warning-border-color: $warning-5 !default;
$badge-warning-color-reverse: $gray-1 !default;
$badge-warning-background-color-reverse: $warning-5-reverse !default;
$badge-warning-border-color-reverse: $warning-5-reverse !default;
// error
$badge-error-color: $gray-1 !default;
$badge-error-background-color: $error-5 !default;
$badge-error-border-color: $error-5 !default;
$badge-error-color-reverse: $gray-1 !default;
$badge-error-background-color-reverse: $error-5-reverse !default;
$badge-error-border-color-reverse: $error-5-reverse !default;
// info
$badge-info-color: $gray-1 !default;
$badge-info-background-color: $info-5 !default;
$badge-info-border-color: $info-5 !default;
$badge-info-color-reverse: $gray-1 !default;
$badge-info-background-color-reverse: $info-5-reverse !default;
$badge-info-border-color-reverse: $info-5-reverse !default;
// size
$badge-sm-sizing-benchmark: 14 !default;
$badge-sm-min-width: $badge-sm-sizing-benchmark * $scale + $unit !default;
$badge-sm-height: $badge-sm-sizing-benchmark * $scale + $unit !default;
$badge-sm-padding-y: 0 !default;
$badge-sm-padding-x: 0 !default;
$badge-sm-font-size-benchmark: $badge-font-size-benchmark !default;
$badge-sm-font-size: $badge-sm-font-size-benchmark * $scale + $unit;
$badge-sm-line-height: $badge-sm-height;
$badge-sm-border-radius-benchmark: $badge-sm-sizing-benchmark / 2 !default;
$badge-sm-border-radius: $badge-sm-border-radius-benchmark * $scale + $unit !default;
// dot
$badge-dot-sizing-benchmark: 6 !default;
$badge-dot-width: $badge-dot-sizing-benchmark * $scale + $unit !default;
$badge-dot-min-width: auto !default;
$badge-dot-height: $badge-dot-sizing-benchmark * $scale + $unit !default;
$badge-dot-padding-y: 0 !default;
$badge-dot-padding-x: 0 !default;
$badge-dot-overflow: hidden !default;
$badge-dot-color: transparent !default;
$badge-dot-border-radius: 100% !default;

/* card */
// default
$card-display: flex !default;
$card-padding-y: 0 !default;
$card-padding-x: 0 !default;
$card-margin-y: 0 !default;
$card-margin-x: 0 !default;
$card-font-size-benchmark: $font-size-benchmark !default;
$card-font-size: $card-font-size-benchmark * $scale + $unit !default;
$card-font-weight: $font-weight-default !default;
$card-line-height: $line-height-benchmark !default;
$card-border-style: solid !default;
$card-border-width-benchmark: 1 !default;
$card-border-width: $card-border-width-benchmark * $scale + $unit;
$card-border-radius-benchmark: 2 !default;
$card-border-radius: 2 * $scale + $unit !default;
$card-color: $color-main !default;
$card-background-color: $container-background-color !default;
$card-border-color: $border-color !default;
$card-color-reverse: $color-main-reverse !default;
$card-background-color-reverse: $container-background-color-reverse !default;
$card-border-color-reverse: $border-color-reverse !default;
// header
$card-header-display: flex !default;
$card-header-padding-benchmark: 16 !default;
$card-header-padding-y: $card-header-padding-benchmark * $scale + $unit;
$card-header-padding-x: $card-header-padding-benchmark * 1.5 * $scale + $unit;
$card-header-font-size-benchmark: $font-size-benchmark + 2 !default;
$card-header-font-size: $card-header-font-size-benchmark * $scale + $unit !default;
$card-header-font-weight: $font-weight-medium !default;
$card-header-line-height: $line-height-benchmark !default;
// content
$card-content-padding-benchmark: $card-header-padding-benchmark !default;
$card-content-padding-y: $card-content-padding-benchmark * 1.5 * $scale + $unit;
$card-content-padding-x: $card-content-padding-benchmark * 1.5 * $scale + $unit;
// footer
$card-footer-padding-benchmark: $card-header-padding-benchmark !default;
$card-footer-padding-y: $card-footer-padding-benchmark * $scale + $unit;
$card-footer-padding-x: $card-footer-padding-benchmark * 1.5 * $scale + $unit;
// size
$card-sm-header-padding-benchmark: $card-header-padding-benchmark / 2 !default;
$card-sm-header-padding-y: $card-sm-header-padding-benchmark * $scale + $unit;
$card-sm-header-padding-x: $card-sm-header-padding-benchmark * 1.5 * $scale + $unit;
$card-sm-header-font-size-benchmark: $font-size-benchmark !default;
$card-sm-header-font-size: $card-sm-header-font-size-benchmark * $scale + $unit !default;
$card-sm-content-padding-benchmark: $card-sm-header-padding-benchmark !default;
$card-sm-content-padding-y: $card-sm-content-padding-benchmark * 1.5 * $scale + $unit;
$card-sm-content-padding-x: $card-sm-content-padding-benchmark * 1.5 * $scale + $unit;
$card-sm-footer-padding-benchmark: $card-sm-header-padding-benchmark !default;
$card-sm-footer-padding-y: $card-sm-footer-padding-benchmark * $scale + $unit;
$card-sm-footer-padding-x: $card-sm-footer-padding-benchmark * 1.5 * $scale + $unit;

/* divider */
// common
$divider-display: block !default;
$divider-width: 100% !default;
$divider-height: auto !default;
$divider-margin-benchmark: 8 !default;
$divider-margin-y: $divider-margin-benchmark * 3 * $scale + $unit !default;
$divider-margin-x: 0 !default;
$divider-border-top-style: solid !default;
$divider-border-top-width-benchmark: 1 !default;
$divider-border-top-width: $divider-border-top-width-benchmark * $scale + $unit;
$divider-border-top-color: $border-color !default;
$divider-border-top-color-reverse: $border-color-reverse !default;
$divider-transition: $transition-delay $transition-timing-function !default;
$divider-vertical-display: inline-block !default;
$divider-vertical-width: auto !default;
$divider-vertical-height: 100% !default;
$divider-vertical-margin-benchmark: $divider-margin-benchmark !default;
$divider-vertical-margin-y: 0 !default;
$divider-vertical-margin-x: $divider-vertical-margin-benchmark * $scale + $unit !default;
$divider-vertical-border-left-style: $divider-border-top-style !default;
$divider-vertical-border-left-width: $divider-border-top-width !default;
$divider-vertical-border-left-color: $border-color !default;
$divider-vertical-border-left-color-reverse: $border-color-reverse !default;
// wrapper
$divider-wrapper-display: flex !default;
// text
$divider-text-display: inline-block !default;
$divider-text-padding-benchmark: 16 !default;
$divider-text-padding-y: 0 !default;
$divider-text-padding-x: $divider-text-padding-benchmark * $scale + $unit;
$divider-text-font-size-benchmark: $font-size-benchmark !default;
$divider-text-font-size: $divider-text-font-size-benchmark * $scale + $unit;
$divider-text-font-weight: $font-weight-default !default;
$divider-text-line-height: $line-height-benchmark !default;

/* icon */
$icon-display: inline-block !default;
$icon-sizing-benchmark: $font-size-benchmark !default;
$icon-sizing: $icon-sizing-benchmark * $scale + $unit !default;
$icon-line-height: 1 !default;
$icon-sm-sizing: $icon-sizing-benchmark * $scale + $unit !default;
$icon-sm-line-height: 1 !default;
$icon-lg-sizing: ($icon-sizing-benchmark + 2) * $scale + $unit !default;
$icon-lg-line-height: 1 !default;

/* overlay */
$overlay-z-index: $z-index-max - $z-index-step * 2 !default;
$overlay-width: 100% !default;
$overlay-height: 100% !default;
$overlay-background-color: fade-out($black, .55) !default;
$overlay-background-color-reverse: $wrapper-modal-background-color !default;
