button,
.btn {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  padding: $button-padding-y $button-padding-x;
  margin: $button-margin-y $button-margin-x;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: $button-color;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: $button-background-color;
  border: $button-border;
  border-radius: $button-border-radius;
  outline: 0;
  transition: $button-transition;

  &[disabled] {
    color: $button-disabled-color;
    cursor: not-allowed;
    background-color: $button-disabled-background-color;
    border-color: $button-disabled-border-color;
  }

  &.is-ripply::after {
    position: absolute;
    top: $button-ripply-spacing-benchmark * $scale + $unit;
    right: $button-ripply-spacing-benchmark * $scale + $unit;
    bottom: $button-ripply-spacing-benchmark * $scale + $unit;
    left: $button-ripply-spacing-benchmark * $scale + $unit;
    display: block;
    pointer-events: none;
    content: "";
    background-color: $button-ripply-background-color;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: inherit;
    opacity: 0;
    transition: $button-ripply-transition;
  }

  &.is-ripply:active::after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: $button-ripply-active-opacity;
    transition: 0s;
  }

  &.is-small {
    padding: $button-sm-padding-y $button-sm-padding-x;
    font-size: $button-sm-font-size;
  }

  &.is-large {
    padding: $button-lg-padding-y $button-lg-padding-x;
    font-size: $button-lg-font-size;
  }

  &.is-loading:not([disabled]) {
    pointer-events: none;
    cursor: default;
  }

  &.is-text,
  .is-light &.is-text,
  &.is-light.is-text,
  .is-dark &.is-text,
  &.is-dark.is-text {
    color: $button-text-color;
    background-color: $button-text-background-color;
    border-color: $button-text-border-color;

    &:hover {
      color: $button-text-hover-color;
      background-color: $button-text-hover-background-color;
      border-color: $button-text-hover-border-color;
    }

    &:focus,
    &:focus-within {
      color: $button-text-focus-color;
      background-color: $button-text-focus-background-color;
      border-color: $button-text-focus-border-color;
    }

    &:active {
      color: $button-text-active-color;
      background-color: $button-text-active-background-color;
      border-color: $button-text-active-border-color;
    }

    &[disabled] {
      color: $button-text-disabled-color;
      background-color: $button-text-disabled-background-color;
      border-color: $button-text-disabled-border-color;
    }
  }

  &.is-primary,
  .is-light &.is-primary,
  &.is-light.is-primary {
    color: $button-primary-color;
    background-color: $button-primary-background-color;
    border-color: $button-primary-border-color;

    &:hover {
      color: $button-primary-hover-color;
      background-color: $button-primary-hover-background-color;
      border-color: $button-primary-hover-border-color;
    }

    &:focus,
    &:focus-within {
      color: $button-primary-focus-color;
      background-color: $button-primary-focus-background-color;
      border-color: $button-primary-focus-border-color;
    }

    &:active {
      color: $button-primary-active-color;
      background-color: $button-primary-active-background-color;
      border-color: $button-primary-active-border-color;
    }
  }

  &.is-primary-outlined,
  .is-light &.is-primary-outlined,
  &.is-light.is-primary-outlined {
    color: $button-primary-outlined-color;
    background-color: $button-primary-outlined-background-color;
    border-color: $button-primary-outlined-border-color;

    &:hover {
      color: $button-primary-outlined-hover-color;
      background-color: $button-primary-outlined-hover-background-color;
      border-color: $button-primary-outlined-hover-border-color;
    }

    &:focus,
    &:focus-within {
      color: $button-primary-outlined-focus-color;
      background-color: $button-primary-outlined-focus-background-color;
      border-color: $button-primary-outlined-focus-border-color;
    }

    &:active {
      color: $button-primary-outlined-active-color;
      background-color: $button-primary-outlined-active-background-color;
      border-color: $button-primary-outlined-active-border-color;
    }
  }

  &.is-primary-link,
  .is-light &.is-primary-link,
  &.is-light.is-primary-link {
    color: $button-primary-link-color;
    background-color: $button-primary-link-background-color;
    border-color: $button-primary-link-border-color;

    &:hover {
      color: $button-primary-link-hover-color;
      background-color: $button-primary-link-hover-background-color;
      border-color: $button-primary-link-hover-border-color;
    }

    &:focus,
    &:focus-within {
      color: $button-primary-link-focus-color;
      background-color: $button-primary-link-focus-background-color;
      border-color: $button-primary-link-focus-border-color;
    }

    &:active {
      color: $button-primary-link-active-color;
      background-color: $button-primary-link-active-background-color;
      border-color: $button-primary-link-active-border-color;
    }

    &[disabled] {
      color: $button-primary-link-disabled-color;
      background-color: $button-primary-link-disabled-background-color;
      border-color: $button-primary-link-disabled-border-color;
    }
  }

  .is-dark &.is-primary,
  &.is-dark.is-primary {
    color: $button-primary-color-reverse;
    background-color: $button-primary-background-color-reverse;
    border-color: $button-primary-border-color-reverse;

    &:hover {
      color: $button-primary-hover-color-reverse;
      background-color: $button-primary-hover-background-color-reverse;
      border-color: $button-primary-hover-border-color-reverse;
    }

    &:focus,
    &:focus-within {
      color: $button-primary-focus-color-reverse;
      background-color: $button-primary-focus-background-color-reverse;
      border-color: $button-primary-focus-border-color-reverse;
    }

    &:active {
      color: $button-primary-active-color-reverse;
      background-color: $button-primary-active-background-color-reverse;
      border-color: $button-primary-active-border-color-reverse;
    }
  }

  .is-dark &.is-primary-outlined,
  &.is-dark.is-primary-outlined {
    color: $button-primary-outlined-color-reverse;
    background-color: $button-primary-outlined-background-color-reverse;
    border-color: $button-primary-outlined-border-color-reverse;

    &:hover {
      color: $button-primary-outlined-hover-color-reverse;
      background-color: $button-primary-outlined-hover-background-color-reverse;
      border-color: $button-primary-outlined-hover-border-color-reverse;
    }

    &:focus,
    &:focus-within {
      color: $button-primary-outlined-focus-color-reverse;
      background-color: $button-primary-outlined-focus-background-color-reverse;
      border-color: $button-primary-outlined-focus-border-color-reverse;
    }

    &:active {
      color: $button-primary-outlined-active-color-reverse;
      background-color: $button-primary-outlined-active-background-color-reverse;
      border-color: $button-primary-outlined-active-border-color-reverse;
    }
  }

  .is-dark &.is-primary-link,
  &.is-dark.is-primary-link {
    color: $button-primary-link-color-reverse;
    background-color: $button-primary-link-background-color-reverse;
    border-color: $button-primary-link-border-color-reverse;

    &:hover {
      color: $button-primary-link-hover-color-reverse;
      background-color: $button-primary-link-hover-background-color-reverse;
      border-color: $button-primary-link-hover-border-color-reverse;
    }

    &:focus,
    &:focus-within {
      color: $button-primary-link-focus-color-reverse;
      background-color: $button-primary-link-focus-background-color-reverse;
      border-color: $button-primary-link-focus-border-color-reverse;
    }

    &:active {
      color: $button-primary-link-active-color-reverse;
      background-color: $button-primary-link-active-background-color-reverse;
      border-color: $button-primary-link-active-border-color-reverse;
    }

    &[disabled] {
      color: $button-primary-link-disabled-color-reverse;
      background-color: $button-primary-link-disabled-background-color-reverse;
      border-color: $button-primary-link-disabled-border-color-reverse;
    }
  }

  &.is-success,
  .is-light &.is-success,
  &.is-light.is-success {
    color: $button-success-color;
    background-color: $button-success-background-color;
    border-color: $button-success-border-color;

    &:hover {
      color: $button-success-hover-color;
      background-color: $button-success-hover-background-color;
      border-color: $button-success-hover-border-color;
    }

    &:focus,
    &:focus-within {
      color: $button-success-focus-color;
      background-color: $button-success-focus-background-color;
      border-color: $button-success-focus-border-color;
    }

    &:active {
      color: $button-success-active-color;
      background-color: $button-success-active-background-color;
      border-color: $button-success-active-border-color;
    }
  }

  &.is-success-outlined,
  .is-light &.is-success-outlined,
  &.is-light.is-success-outlined {
    color: $button-success-outlined-color;
    background-color: $button-success-outlined-background-color;
    border-color: $button-success-outlined-border-color;

    &:hover {
      color: $button-success-outlined-hover-color;
      background-color: $button-success-outlined-hover-background-color;
      border-color: $button-success-outlined-hover-border-color;
    }

    &:focus,
    &:focus-within {
      color: $button-success-outlined-focus-color;
      background-color: $button-success-outlined-focus-background-color;
      border-color: $button-success-outlined-focus-border-color;
    }

    &:active {
      color: $button-success-outlined-active-color;
      background-color: $button-success-outlined-active-background-color;
      border-color: $button-success-outlined-active-border-color;
    }
  }

  &.is-success-link,
  .is-light &.is-success-link,
  &.is-light.is-success-link {
    color: $button-success-link-color;
    background-color: $button-success-link-background-color;
    border-color: $button-success-link-border-color;

    &:hover {
      color: $button-success-link-hover-color;
      background-color: $button-success-link-hover-background-color;
      border-color: $button-success-link-hover-border-color;
    }

    &:focus,
    &:focus-within {
      color: $button-success-link-focus-color;
      background-color: $button-success-link-focus-background-color;
      border-color: $button-success-link-focus-border-color;
    }

    &:active {
      color: $button-success-link-active-color;
      background-color: $button-success-link-active-background-color;
      border-color: $button-success-link-active-border-color;
    }

    &[disabled] {
      color: $button-success-link-disabled-color;
      background-color: $button-success-link-disabled-background-color;
      border-color: $button-success-link-disabled-border-color;
    }
  }

  .is-dark &.is-success,
  &.is-dark.is-success {
    color: $button-success-color-reverse;
    background-color: $button-success-background-color-reverse;
    border-color: $button-success-border-color-reverse;

    &:hover {
      color: $button-success-hover-color-reverse;
      background-color: $button-success-hover-background-color-reverse;
      border-color: $button-success-hover-border-color-reverse;
    }

    &:focus,
    &:focus-within {
      color: $button-success-focus-color-reverse;
      background-color: $button-success-focus-background-color-reverse;
      border-color: $button-success-focus-border-color-reverse;
    }

    &:active {
      color: $button-success-active-color-reverse;
      background-color: $button-success-active-background-color-reverse;
      border-color: $button-success-active-border-color-reverse;
    }
  }

  .is-dark &.is-success-outlined,
  &.is-dark.is-success-outlined {
    color: $button-success-outlined-color-reverse;
    background-color: $button-success-outlined-background-color-reverse;
    border-color: $button-success-outlined-border-color-reverse;

    &:hover {
      color: $button-success-outlined-hover-color-reverse;
      background-color: $button-success-outlined-hover-background-color-reverse;
      border-color: $button-success-outlined-hover-border-color-reverse;
    }

    &:focus,
    &:focus-within {
      color: $button-success-outlined-focus-color-reverse;
      background-color: $button-success-outlined-focus-background-color-reverse;
      border-color: $button-success-outlined-focus-border-color-reverse;
    }

    &:active {
      color: $button-success-outlined-active-color-reverse;
      background-color: $button-success-outlined-active-background-color-reverse;
      border-color: $button-success-outlined-active-border-color-reverse;
    }
  }

  .is-dark &.is-success-link,
  &.is-dark.is-success-link {
    color: $button-success-link-color-reverse;
    background-color: $button-success-link-background-color-reverse;
    border-color: $button-success-link-border-color-reverse;

    &:hover {
      color: $button-success-link-hover-color-reverse;
      background-color: $button-success-link-hover-background-color-reverse;
      border-color: $button-success-link-hover-border-color-reverse;
    }

    &:focus,
    &:focus-within {
      color: $button-success-link-focus-color-reverse;
      background-color: $button-success-link-focus-background-color-reverse;
      border-color: $button-success-link-focus-border-color-reverse;
    }

    &:active {
      color: $button-success-link-active-color-reverse;
      background-color: $button-success-link-active-background-color-reverse;
      border-color: $button-success-link-active-border-color-reverse;
    }

    &[disabled] {
      color: $button-success-link-disabled-color-reverse;
      background-color: $button-success-link-disabled-background-color-reverse;
      border-color: $button-success-link-disabled-border-color-reverse;
    }
  }

  &.is-warning,
  .is-light &.is-warning,
  &.is-light.is-warning {
    color: $button-warning-color;
    background-color: $button-warning-background-color;
    border-color: $button-warning-border-color;

    &:hover {
      color: $button-warning-hover-color;
      background-color: $button-warning-hover-background-color;
      border-color: $button-warning-hover-border-color;
    }

    &:focus,
    &:focus-within {
      color: $button-warning-focus-color;
      background-color: $button-warning-focus-background-color;
      border-color: $button-warning-focus-border-color;
    }

    &:active {
      color: $button-warning-active-color;
      background-color: $button-warning-active-background-color;
      border-color: $button-warning-active-border-color;
    }
  }

  &.is-warning-outlined,
  .is-light &.is-warning-outlined,
  &.is-light.is-warning-outlined {
    color: $button-warning-outlined-color;
    background-color: $button-warning-outlined-background-color;
    border-color: $button-warning-outlined-border-color;

    &:hover {
      color: $button-warning-outlined-hover-color;
      background-color: $button-warning-outlined-hover-background-color;
      border-color: $button-warning-outlined-hover-border-color;
    }

    &:focus,
    &:focus-within {
      color: $button-warning-outlined-focus-color;
      background-color: $button-warning-outlined-focus-background-color;
      border-color: $button-warning-outlined-focus-border-color;
    }

    &:active {
      color: $button-warning-outlined-active-color;
      background-color: $button-warning-outlined-active-background-color;
      border-color: $button-warning-outlined-active-border-color;
    }
  }

  &.is-warning-link,
  .is-light &.is-warning-link,
  &.is-light.is-warning-link {
    color: $button-warning-link-color;
    background-color: $button-warning-link-background-color;
    border-color: $button-warning-link-border-color;

    &:hover {
      color: $button-warning-link-hover-color;
      background-color: $button-warning-link-hover-background-color;
      border-color: $button-warning-link-hover-border-color;
    }

    &:focus,
    &:focus-within {
      color: $button-warning-link-focus-color;
      background-color: $button-warning-link-focus-background-color;
      border-color: $button-warning-link-focus-border-color;
    }

    &:active {
      color: $button-warning-link-active-color;
      background-color: $button-warning-link-active-background-color;
      border-color: $button-warning-link-active-border-color;
    }

    &[disabled] {
      color: $button-warning-link-disabled-color;
      background-color: $button-warning-link-disabled-background-color;
      border-color: $button-warning-link-disabled-border-color;
    }
  }

  .is-dark &.is-warning,
  &.is-dark.is-warning {
    color: $button-warning-color-reverse;
    background-color: $button-warning-background-color-reverse;
    border-color: $button-warning-border-color-reverse;

    &:hover {
      color: $button-warning-hover-color-reverse;
      background-color: $button-warning-hover-background-color-reverse;
      border-color: $button-warning-hover-border-color-reverse;
    }

    &:focus,
    &:focus-within {
      color: $button-warning-focus-color-reverse;
      background-color: $button-warning-focus-background-color-reverse;
      border-color: $button-warning-focus-border-color-reverse;
    }

    &:active {
      color: $button-warning-active-color-reverse;
      background-color: $button-warning-active-background-color-reverse;
      border-color: $button-warning-active-border-color-reverse;
    }
  }

  .is-dark &.is-warning-outlined,
  &.is-dark.is-warning-outlined {
    color: $button-warning-outlined-color-reverse;
    background-color: $button-warning-outlined-background-color-reverse;
    border-color: $button-warning-outlined-border-color-reverse;

    &:hover {
      color: $button-warning-outlined-hover-color-reverse;
      background-color: $button-warning-outlined-hover-background-color-reverse;
      border-color: $button-warning-outlined-hover-border-color-reverse;
    }

    &:focus,
    &:focus-within {
      color: $button-warning-outlined-focus-color-reverse;
      background-color: $button-warning-outlined-focus-background-color-reverse;
      border-color: $button-warning-outlined-focus-border-color-reverse;
    }

    &:active {
      color: $button-warning-outlined-active-color-reverse;
      background-color: $button-warning-outlined-active-background-color-reverse;
      border-color: $button-warning-outlined-active-border-color-reverse;
    }
  }

  .is-dark &.is-warning-link,
  &.is-dark.is-warning-link {
    color: $button-warning-link-color-reverse;
    background-color: $button-warning-link-background-color-reverse;
    border-color: $button-warning-link-border-color-reverse;

    &:hover {
      color: $button-warning-link-hover-color-reverse;
      background-color: $button-warning-link-hover-background-color-reverse;
      border-color: $button-warning-link-hover-border-color-reverse;
    }

    &:focus,
    &:focus-within {
      color: $button-warning-link-focus-color-reverse;
      background-color: $button-warning-link-focus-background-color-reverse;
      border-color: $button-warning-link-focus-border-color-reverse;
    }

    &:active {
      color: $button-warning-link-active-color-reverse;
      background-color: $button-warning-link-active-background-color-reverse;
      border-color: $button-warning-link-active-border-color-reverse;
    }

    &[disabled] {
      color: $button-warning-link-disabled-color-reverse;
      background-color: $button-warning-link-disabled-background-color-reverse;
      border-color: $button-warning-link-disabled-border-color-reverse;
    }
  }

  &.is-error,
  .is-light &.is-error,
  &.is-light.is-error {
    color: $button-error-color;
    background-color: $button-error-background-color;
    border-color: $button-error-border-color;

    &:hover {
      color: $button-error-hover-color;
      background-color: $button-error-hover-background-color;
      border-color: $button-error-hover-border-color;
    }

    &:focus,
    &:focus-within {
      color: $button-error-focus-color;
      background-color: $button-error-focus-background-color;
      border-color: $button-error-focus-border-color;
    }

    &:active {
      color: $button-error-active-color;
      background-color: $button-error-active-background-color;
      border-color: $button-error-active-border-color;
    }
  }

  &.is-error-outlined,
  .is-light &.is-error-outlined,
  &.is-light.is-error-outlined {
    color: $button-error-outlined-color;
    background-color: $button-error-outlined-background-color;
    border-color: $button-error-outlined-border-color;

    &:hover {
      color: $button-error-outlined-hover-color;
      background-color: $button-error-outlined-hover-background-color;
      border-color: $button-error-outlined-hover-border-color;
    }

    &:focus,
    &:focus-within {
      color: $button-error-outlined-focus-color;
      background-color: $button-error-outlined-focus-background-color;
      border-color: $button-error-outlined-focus-border-color;
    }

    &:active {
      color: $button-error-outlined-active-color;
      background-color: $button-error-outlined-active-background-color;
      border-color: $button-error-outlined-active-border-color;
    }
  }

  &.is-error-link,
  .is-light &.is-error-link,
  &.is-light.is-error-link {
    color: $button-error-link-color;
    background-color: $button-error-link-background-color;
    border-color: $button-error-link-border-color;

    &:hover {
      color: $button-error-link-hover-color;
      background-color: $button-error-link-hover-background-color;
      border-color: $button-error-link-hover-border-color;
    }

    &:focus,
    &:focus-within {
      color: $button-error-link-focus-color;
      background-color: $button-error-link-focus-background-color;
      border-color: $button-error-link-focus-border-color;
    }

    &:active {
      color: $button-error-link-active-color;
      background-color: $button-error-link-active-background-color;
      border-color: $button-error-link-active-border-color;
    }

    &[disabled] {
      color: $button-error-link-disabled-color;
      background-color: $button-error-link-disabled-background-color;
      border-color: $button-error-link-disabled-border-color;
    }
  }

  .is-dark &.is-error,
  &.is-dark.is-error {
    color: $button-error-color-reverse;
    background-color: $button-error-background-color-reverse;
    border-color: $button-error-border-color-reverse;

    &:hover {
      color: $button-error-hover-color-reverse;
      background-color: $button-error-hover-background-color-reverse;
      border-color: $button-error-hover-border-color-reverse;
    }

    &:focus,
    &:focus-within {
      color: $button-error-focus-color-reverse;
      background-color: $button-error-focus-background-color-reverse;
      border-color: $button-error-focus-border-color-reverse;
    }

    &:active {
      color: $button-error-active-color-reverse;
      background-color: $button-error-active-background-color-reverse;
      border-color: $button-error-active-border-color-reverse;
    }
  }

  .is-dark &.is-error-outlined,
  &.is-dark.is-error-outlined {
    color: $button-error-outlined-color-reverse;
    background-color: $button-error-outlined-background-color-reverse;
    border-color: $button-error-outlined-border-color-reverse;

    &:hover {
      color: $button-error-outlined-hover-color-reverse;
      background-color: $button-error-outlined-hover-background-color-reverse;
      border-color: $button-error-outlined-hover-border-color-reverse;
    }

    &:focus,
    &:focus-within {
      color: $button-error-outlined-focus-color-reverse;
      background-color: $button-error-outlined-focus-background-color-reverse;
      border-color: $button-error-outlined-focus-border-color-reverse;
    }

    &:active {
      color: $button-error-outlined-active-color-reverse;
      background-color: $button-error-outlined-active-background-color-reverse;
      border-color: $button-error-outlined-active-border-color-reverse;
    }
  }

  .is-dark &.is-error-link,
  &.is-dark.is-error-link {
    color: $button-error-link-color-reverse;
    background-color: $button-error-link-background-color-reverse;
    border-color: $button-error-link-border-color-reverse;

    &:hover {
      color: $button-error-link-hover-color-reverse;
      background-color: $button-error-link-hover-background-color-reverse;
      border-color: $button-error-link-hover-border-color-reverse;
    }

    &:focus,
    &:focus-within {
      color: $button-error-link-focus-color-reverse;
      background-color: $button-error-link-focus-background-color-reverse;
      border-color: $button-error-link-focus-border-color-reverse;
    }

    &:active {
      color: $button-error-link-active-color-reverse;
      background-color: $button-error-link-active-background-color-reverse;
      border-color: $button-error-link-active-border-color-reverse;
    }

    &[disabled] {
      color: $button-error-link-disabled-color-reverse;
      background-color: $button-error-link-disabled-background-color-reverse;
      border-color: $button-error-link-disabled-border-color-reverse;
    }
  }
}
