textarea {
  position: relative;
  box-sizing: border-box;
  display: block;
  padding: 12rpx 36rpx;
  overflow: hidden;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  cursor: auto;
}
