/* 自定义变量 */

/* 选择 length 单位，默认为 rpx，支持任意单位 */
$unit: rpx !default;

/* length 单位缩放，默认为 2，可以进行细粒度控制 */
$scale: 2 !default;

$inherit: inherit;
$initial: initial;
$unset: unset;

@import "./_colors/index";
@import "./_ratio/index";
@import "./_spacing/index";
@import "./_positioning/index";
@import "./_box-model/index";
@import "./_typography/index";
@import "./_visual/index";
@import "./_misc/index";
