.float-left {
  float: $float-left;
}

.float-right {
  float: $float-right;
}

.float-none,
.float-default {
  float: $none;
}

.clear-float {
  &::after {
    display: $display-table;
    clear: both;
    content: "";
  }
}
