.m-0 {
  margin: $spacing-0;
}

.m-y-0 {
  margin-top: $spacing-0;
  margin-bottom: $spacing-0;
}

.m-t-0 {
  margin-top: $spacing-0;
}

.m-b-0 {
  margin-bottom: $spacing-0;
}

.m-x-0 {
  margin-right: $spacing-0;
  margin-left: $spacing-0;
}

.m-r-0 {
  margin-right: $spacing-0;
}

.m-l-0 {
  margin-left: $spacing-0;
}

.m-1 {
  margin: $spacing-1;
}

.m-y-1 {
  margin-top: $spacing-1;
  margin-bottom: $spacing-1;
}

.m-t-1 {
  margin-top: $spacing-1;
}

.m-b-1 {
  margin-bottom: $spacing-1;
}

.m-x-1 {
  margin-right: $spacing-1;
  margin-left: $spacing-1;
}

.m-r-1 {
  margin-right: $spacing-1;
}

.m-l-1 {
  margin-left: $spacing-1;
}

.m-2 {
  margin: $spacing-2;
}

.m-y-2 {
  margin-top: $spacing-2;
  margin-bottom: $spacing-2;
}

.m-t-2 {
  margin-top: $spacing-2;
}

.m-b-2 {
  margin-bottom: $spacing-2;
}

.m-x-2 {
  margin-right: $spacing-2;
  margin-left: $spacing-2;
}

.m-r-2 {
  margin-right: $spacing-2;
}

.m-l-2 {
  margin-left: $spacing-2;
}

.m-4 {
  margin: $spacing-4;
}

.m-y-4 {
  margin-top: $spacing-4;
  margin-bottom: $spacing-4;
}

.m-t-4 {
  margin-top: $spacing-4;
}

.m-b-4 {
  margin-bottom: $spacing-4;
}

.m-x-4 {
  margin-right: $spacing-4;
  margin-left: $spacing-4;
}

.m-r-4 {
  margin-right: $spacing-4;
}

.m-l-4 {
  margin-left: $spacing-4;
}

.m-8 {
  margin: $spacing-8;
}

.m-y-8 {
  margin-top: $spacing-8;
  margin-bottom: $spacing-8;
}

.m-t-8 {
  margin-top: $spacing-8;
}

.m-b-8 {
  margin-bottom: $spacing-8;
}

.m-x-8 {
  margin-right: $spacing-8;
  margin-left: $spacing-8;
}

.m-r-8 {
  margin-right: $spacing-8;
}

.m-l-8 {
  margin-left: $spacing-8;
}

.m-12 {
  margin: $spacing-12;
}

.m-y-12 {
  margin-top: $spacing-12;
  margin-bottom: $spacing-12;
}

.m-t-12 {
  margin-top: $spacing-12;
}

.m-b-12 {
  margin-bottom: $spacing-12;
}

.m-x-12 {
  margin-right: $spacing-12;
  margin-left: $spacing-12;
}

.m-r-12 {
  margin-right: $spacing-12;
}

.m-l-12 {
  margin-left: $spacing-12;
}

.m-16 {
  margin: $spacing-16;
}

.m-y-16 {
  margin-top: $spacing-16;
  margin-bottom: $spacing-16;
}

.m-t-16 {
  margin-top: $spacing-16;
}

.m-b-16 {
  margin-bottom: $spacing-16;
}

.m-x-16 {
  margin-right: $spacing-16;
  margin-left: $spacing-16;
}

.m-r-16 {
  margin-right: $spacing-16;
}

.m-l-16 {
  margin-left: $spacing-16;
}

.m-20 {
  margin: $spacing-20;
}

.m-y-20 {
  margin-top: $spacing-20;
  margin-bottom: $spacing-20;
}

.m-t-20 {
  margin-top: $spacing-20;
}

.m-b-20 {
  margin-bottom: $spacing-20;
}

.m-x-20 {
  margin-right: $spacing-20;
  margin-left: $spacing-20;
}

.m-r-20 {
  margin-right: $spacing-20;
}

.m-l-20 {
  margin-left: $spacing-20;
}

.m-24 {
  margin: $spacing-24;
}

.m-y-24 {
  margin-top: $spacing-24;
  margin-bottom: $spacing-24;
}

.m-t-24 {
  margin-top: $spacing-24;
}

.m-b-24 {
  margin-bottom: $spacing-24;
}

.m-x-24 {
  margin-right: $spacing-24;
  margin-left: $spacing-24;
}

.m-r-24 {
  margin-right: $spacing-24;
}

.m-l-24 {
  margin-left: $spacing-24;
}

.m-28 {
  margin: $spacing-28;
}

.m-y-28 {
  margin-top: $spacing-28;
  margin-bottom: $spacing-28;
}

.m-t-28 {
  margin-top: $spacing-28;
}

.m-b-28 {
  margin-bottom: $spacing-28;
}

.m-x-28 {
  margin-right: $spacing-28;
  margin-left: $spacing-28;
}

.m-r-28 {
  margin-right: $spacing-28;
}

.m-l-28 {
  margin-left: $spacing-28;
}

.m-32 {
  margin: $spacing-32;
}

.m-y-32 {
  margin-top: $spacing-32;
  margin-bottom: $spacing-32;
}

.m-t-32 {
  margin-top: $spacing-32;
}

.m-b-32 {
  margin-bottom: $spacing-32;
}

.m-x-32 {
  margin-right: $spacing-32;
  margin-left: $spacing-32;
}

.m-r-32 {
  margin-right: $spacing-32;
}

.m-l-32 {
  margin-left: $spacing-32;
}

.m-36 {
  margin: $spacing-36;
}

.m-y-36 {
  margin-top: $spacing-36;
  margin-bottom: $spacing-36;
}

.m-t-36 {
  margin-top: $spacing-36;
}

.m-b-36 {
  margin-bottom: $spacing-36;
}

.m-x-36 {
  margin-right: $spacing-36;
  margin-left: $spacing-36;
}

.m-r-36 {
  margin-right: $spacing-36;
}

.m-l-36 {
  margin-left: $spacing-36;
}
