.overflow-auto {
  overflow: $auto;
}

.overflow-x-auto {
  overflow-x: $auto;
}

.overflow-y-auto {
  overflow-y: $auto;
}

.overflow-hidden {
  overflow: $hidden;
}

.overflow-x-hidden {
  overflow-x: $hidden;
}

.overflow-y-hidden {
  overflow-y: $hidden;
}

.overflow-visible {
  overflow: $overflow-visible;
}

.overflow-x-visible {
  overflow-x: $overflow-visible;
}

.overflow-y-visible {
  overflow-y: $overflow-visible;
}

.overflow-scroll {
  overflow: $overflow-scroll;
}

.overflow-x-scroll {
  overflow-x: $overflow-scroll;
}

.overflow-y-scroll {
  overflow-y: $overflow-scroll;
}
