.w-0 {
  width: $spacing-0;
}

.w-1 {
  width: $spacing-1;
}

.w-auto {
  width: $spacing-auto;
}

.w-1-2 {
  width: $ratio-1-2;
}

.w-1-3 {
  width: $ratio-1-3;
}

.w-2-3 {
  width: $ratio-2-3;
}

.w-1-4 {
  width: $ratio-1-4;
}

.w-2-4 {
  width: $ratio-2-4;
}

.w-3-4 {
  width: $ratio-3-4;
}

.w-1-5 {
  width: $ratio-1-5;
}

.w-2-5 {
  width: $ratio-2-5;
}

.w-3-5 {
  width: $ratio-3-5;
}

.w-4-5 {
  width: $ratio-4-5;
}

.w-1-6 {
  width: $ratio-1-6;
}

.w-2-6 {
  width: $ratio-2-6;
}

.w-3-6 {
  width: $ratio-3-6;
}

.w-4-6 {
  width: $ratio-4-6;
}

.w-5-6 {
  width: $ratio-5-6;
}

.w-1-8 {
  width: $ratio-1-8;
}

.w-2-8 {
  width: $ratio-2-8;
}

.w-3-8 {
  width: $ratio-3-8;
}

.w-4-8 {
  width: $ratio-4-8;
}

.w-5-8 {
  width: $ratio-5-8;
}

.w-6-8 {
  width: $ratio-6-8;
}

.w-7-8 {
  width: $ratio-7-8;
}

.w-1-12 {
  width: $ratio-1-12;
}

.w-2-12 {
  width: $ratio-2-12;
}

.w-3-12 {
  width: $ratio-3-12;
}

.w-4-12 {
  width: $ratio-4-12;
}

.w-5-12 {
  width: $ratio-5-12;
}

.w-6-12 {
  width: $ratio-6-12;
}

.w-7-12 {
  width: $ratio-7-12;
}

.w-8-12 {
  width: $ratio-8-12;
}

.w-9-12 {
  width: $ratio-9-12;
}

.w-10-12 {
  width: $ratio-10-12;
}

.w-11-12 {
  width: $ratio-11-12;
}

.w-1-24 {
  width: $ratio-1-24;
}

.w-2-24 {
  width: $ratio-2-24;
}

.w-3-24 {
  width: $ratio-3-24;
}

.w-4-24 {
  width: $ratio-4-24;
}

.w-5-24 {
  width: $ratio-5-24;
}

.w-6-24 {
  width: $ratio-6-24;
}

.w-7-24 {
  width: $ratio-7-24;
}

.w-8-24 {
  width: $ratio-8-24;
}

.w-9-24 {
  width: $ratio-9-24;
}

.w-10-24 {
  width: $ratio-10-24;
}

.w-11-24 {
  width: $ratio-11-24;
}

.w-12-24 {
  width: $ratio-12-24;
}

.w-13-24 {
  width: $ratio-13-24;
}

.w-14-24 {
  width: $ratio-14-24;
}

.w-15-24 {
  width: $ratio-15-24;
}

.w-16-24 {
  width: $ratio-16-24;
}

.w-17-24 {
  width: $ratio-17-24;
}

.w-18-24 {
  width: $ratio-18-24;
}

.w-19-24 {
  width: $ratio-19-24;
}

.w-20-24 {
  width: $ratio-20-24;
}

.w-21-24 {
  width: $ratio-21-24;
}

.w-22-24 {
  width: $ratio-22-24;
}

.w-23-24 {
  width: $ratio-23-24;
}

.w-half {
  width: $ratio-50;
}

.w-full {
  width: $ratio-100;
}
