$flex-basis-fill: fill;
$flex-basis-max-content: max-content;
$flex-basis-min-content: min-content;
$flex-basis-fit-content: fit-content;
$flex-basis-content: content;
$flex-basis-default: auto;

$flex-direction-row: row;
$flex-direction-row-reverse: row-reverse;
$flex-direction-column: column;
$flex-direction-column-reverse: column-reverse;
$flex-direction-default: row;

$flex-wrap-nowrap: nowrap;
$flex-wrap-wrap: wrap;
$flex-wrap-wrap-reverse: wrap-reverse;
$flex-wrap-default: nowrap;

$flex-align-content-start: start;
$flex-align-content-end: end;
$flex-align-content-flex-start: flex-start;
$flex-align-content-flex-end: flex-end;
$flex-align-content-center: center;
$flex-align-content-normal: normal;
$flex-align-content-baseline: baseline;
$flex-align-content-first-baseline: first baseline;
$flex-align-content-last-baseline: last baseline;
$flex-align-content-space-between: space-between;
$flex-align-content-space-around: space-around;
$flex-align-content-space-evenly: space-evenly;
$flex-align-content-stretch: stretch;
$flex-align-content-safe: safe;
$flex-align-content-unsafe: unsafe;
$flex-align-content-default: normal;

$flex-align-items-start: start;
$flex-align-items-end: end;
$flex-align-items-flex-start: flex-start;
$flex-align-items-flex-end: flex-end;
$flex-align-items-self-start: self-start;
$flex-align-items-self-end: self-end;
$flex-align-items-center: center;
$flex-align-items-left: left;
$flex-align-items-right: right;
$flex-align-items-normal: normal;
$flex-align-items-baseline: baseline;
$flex-align-items-first-baseline: first baseline;
$flex-align-items-last-baseline: last baseline;
$flex-align-items-stretch: stretch;
$flex-align-items-safe: safe;
$flex-align-items-unsafe: unsafe;
$flex-align-items-default: normal;

$flex-align-self-auto: auto;
$flex-align-self-flex-start: flex-start;
$flex-align-self-flex-end: flex-end;
$flex-align-self-self-start: self-start;
$flex-align-self-self-end: self-end;
$flex-align-self-center: center;
$flex-align-self-normal: normal;
$flex-align-self-baseline: baseline;
$flex-align-self-first-baseline: first baseline;
$flex-align-self-last-baseline: last baseline;
$flex-align-self-stretch: stretch;
$flex-align-self-safe: safe;
$flex-align-self-unsafe: unsafe;
$flex-align-self-default: auto;

$flex-justify-content-start: start;
$flex-justify-content-end: end;
$flex-justify-content-flex-start: flex-start;
$flex-justify-content-flex-end: flex-end;
$flex-justify-content-center: center;
$flex-justify-content-left: left;
$flex-justify-content-right: right;
$flex-justify-content-normal: normal;
$flex-justify-content-baseline: baseline;
$flex-justify-content-first-baseline: first baseline;
$flex-justify-content-last-baseline: last baseline;
$flex-justify-content-space-between: space-between;
$flex-justify-content-space-around: space-around;
$flex-justify-content-space-evenly: space-evenly;
$flex-justify-content-stretch: stretch;
$flex-justify-content-safe: safe;
$flex-justify-content-unsafe: unsafe;
$flex-justify-content-default: normal;

$flex-justify-items-start: start;
$flex-justify-items-end: end;
$flex-justify-items-flex-start: flex-start;
$flex-justify-items-flex-end: flex-end;
$flex-justify-items-self-start: self-start;
$flex-justify-items-self-end: self-end;
$flex-justify-items-center: center;
$flex-justify-items-left: left;
$flex-justify-items-right: right;
$flex-justify-items-normal: normal;
$flex-justify-items-baseline: baseline;
$flex-justify-items-first-baseline: first baseline;
$flex-justify-items-last-baseline: last baseline;
$flex-justify-items-stretch: stretch;
$flex-justify-items-safe: safe;
$flex-justify-items-unsafe: unsafe;
$flex-justify-items-legacy: legacy;
$flex-justify-items-default: legacy;

$flex-justify-self-auto: auto;
$flex-justify-self-flex-start: flex-start;
$flex-justify-self-flex-end: flex-end;
$flex-justify-self-self-start: self-start;
$flex-justify-self-self-end: self-end;
$flex-justify-self-center: center;
$flex-justify-self-left: left;
$flex-justify-self-right: right;
$flex-justify-self-normal: normal;
$flex-justify-self-baseline: baseline;
$flex-justify-self-first-baseline: first baseline;
$flex-justify-self-last-baseline: last baseline;
$flex-justify-self-stretch: stretch;
$flex-justify-self-safe: safe;
$flex-justify-self-unsafe: unsafe;
$flex-justify-self-default: auto;

$flex-order-0: 0;
$flex-order-1: 1;
$flex-order-2: 2;
$flex-order-3: 3;
$flex-order-4: 4;
$flex-order-5: 5;
$flex-order-6: 6;
$flex-order-7: 7;
$flex-order-8: 8;
$flex-order-9: 9;
$flex-order-10: 10;
$flex-order-11: 11;
$flex-order-12: 12;
$flex-order-13: 13;
$flex-order-first: -9999;
$flex-order-last: 9999;
$flex-order-default: 0;
