/* layout classes */

.container,
.header,
.navbar,
.aside,
.main,
.footer {
  position: relative;
  box-sizing: border-box;
  display: flex;
}

.container {
  flex: auto;
  flex-direction: column;
  min-height: 0;
  background-color: $container-background-color;

  &.is-light {
    background-color: $container-background-color;
  }

  &.is-dark {
    background-color: $container-background-color-reverse;
  }

  &.is-horizontal {
    flex-direction: row;
  }
}

.header {
  flex: 0 0 auto;
  flex-direction: row;
  height: 56 * $scale + $unit;
  padding: 0 12 * $scale + $unit;
  background-color: $header-background-color;

  &.is-light,
  .is-light & {
    background-color: $header-background-color;
  }

  &.is-dark,
  .is-dark & {
    background-color: $header-background-color-reverse;
  }
}

.navbar {
  flex: 0 0 auto;
  flex-direction: row;
  height: 32 * $scale + $unit;
  padding: 0 12 * $scale + $unit;
  background-color: $navbar-background-color;

  &.is-light,
  .is-light & {
    background-color: $navbar-background-color;
  }

  &.is-dark,
  .is-dark & {
    background-color: $navbar-background-color-reverse;
  }
}

.aside {
  flex: 0 0 120 * $scale + $unit;
  flex-direction: column;
  width: 120 * $scale + $unit;
  min-width: 120 * $scale + $unit;
  max-width: 120 * $scale + $unit;
  min-height: 0;
  background-color: $aside-background-color;

  &.is-light,
  .is-light & {
    background-color: $aside-background-color;
  }

  &.is-dark,
  .is-dark & {
    background-color: $aside-background-color-reverse;
  }
}

.main {
  flex: auto;
  flex-direction: column;
  min-height: 0;
  padding: 12 * $scale + $unit;
  background-color: $main-background-color;

  &.is-light,
  .is-light & {
    background-color: $main-background-color;
  }

  &.is-dark,
  .is-dark & {
    background-color: $main-background-color-reverse;
  }
}

.footer {
  flex: 0 0 auto;
  flex-direction: row;
  height: 48 * $scale + $unit;
  padding: 0 12 * $scale + $unit;
  background-color: $footer-background-color;

  &.is-light,
  .is-light & {
    background-color: $footer-background-color;
  }

  &.is-dark,
  .is-dark & {
    background-color: $footer-background-color-reverse;
  }
}

.safe-area {
  position: relative;
  box-sizing: border-box;
  flex: 0 0 $safe-area-height;
  height: $safe-area-height;
  min-height: $safe-area-height;
  max-height: $safe-area-height;
  background-color: $safe-area-background-color;

  &.is-light,
  .is-light & {
    background-color: $safe-area-background-color;
  }

  &.is-dark,
  .is-dark & {
    background-color: $safe-area-background-color-reverse;
  }
}

// TODO: row

// TODO: col
