@import "../variables";

.container,
.header,
.navbar,
.aside,
.main,
.footer {
  position: relative;
  box-sizing: border-box;
  display: flex;
}

.container {
  flex: auto;
  flex-direction: column;
  min-height: 0;
  font-family: $container-font-family;
  font-size: $container-font-size;
  font-weight: $container-font-weight;
  line-height: $container-line-height;
  background-color: $container-background-color;

  @if ($has-dark) {
    &.is-light,
    .is-light & {
      background-color: $container-background-color;
    }

    &.is-dark,
    .is-dark & {
      background-color: $container-background-color-reverse;
    }
  }
}

.header {
  flex: 0 0 $header-height;
  flex-direction: row;
  height: $header-height;
  background-color: $header-background-color;

  @if ($has-dark) {
    &.is-light,
    .is-light & {
      background-color: $header-background-color;
    }

    &.is-dark,
    .is-dark & {
      background-color: $header-background-color-reverse;
    }
  }
}

.navbar {
  flex: 0 0 $navbar-height;
  flex-direction: row;
  height: $navbar-height;
  background-color: $navbar-background-color;

  @if ($has-dark) {
    &.is-light,
    .is-light & {
      background-color: $navbar-background-color;
    }

    &.is-dark,
    .is-dark & {
      background-color: $navbar-background-color-reverse;
    }
  }
}

.aside {
  flex: 0 0 $aside-width;
  flex-direction: column;
  width: $aside-width;
  min-width: $aside-width;
  max-width: $aside-width;
  min-height: 0;
  background-color: $aside-background-color;

  @if ($has-dark) {
    &.is-light,
    .is-light & {
      background-color: $aside-background-color;
    }

    &.is-dark,
    .is-dark & {
      background-color: $aside-background-color-reverse;
    }
  }
}

.main {
  flex: auto;
  flex-direction: column;
  min-height: 0;
  background-color: $main-background-color;

  @if ($has-dark) {
    &.is-light,
    .is-light & {
      background-color: $main-background-color;
    }

    &.is-dark,
    .is-dark & {
      background-color: $main-background-color-reverse;
    }
  }
}

.footer {
  flex: 0 0 $footer-height;
  flex-direction: row;
  height: $footer-height;
  background-color: $footer-background-color;

  @if ($has-dark) {
    &.is-light,
    .is-light & {
      background-color: $footer-background-color;
    }

    &.is-dark,
    .is-dark & {
      background-color: $footer-background-color-reverse;
    }
  }
}

.safe-area {
  position: relative;
  box-sizing: border-box;
  flex: 0 0 $safe-area-height;
  height: $safe-area-height;
  min-height: $safe-area-height;
  max-height: $safe-area-height;
  background-color: $safe-area-background-color;

  @if ($has-dark) {
    &.is-light,
    .is-light & {
      background-color: $safe-area-background-color;
    }

    &.is-dark,
    .is-dark & {
      background-color: $safe-area-background-color-reverse;
    }
  }
}
