[class*="text"] {
  &,
  .light & {
    color: $color-main;
  }

  .dark & {
    color: $color-main-reverse;
  }
}

.text-title {
  &,
  .light & {
    color: $color-title;
  }

  .dark & {
    color: $color-title-reverse;
  }
}

.text-title-light {
  &,
  .light & {
    color: $color-title-light;
  }

  .dark & {
    color: $color-title-light-reverse;
  }
}

.text-main {
  &,
  .light & {
    color: $color-main;
  }

  .dark & {
    color: $color-main-light;
  }
}

.text-main-light {
  &,
  .light & {
    color: $color-main-light;
  }

  .dark & {
    color: $color-main-light-reverse;
  }
}

.text-secondary {
  &,
  .light & {
    color: $color-secondary;
  }

  .dark & {
    color: $color-secondary-reverse;
  }
}

.text-disabled {
  &,
  .light & {
    color: $color-disabled;
  }

  .dark & {
    color: $color-disabled-reverse;
  }
}

.text-primary {
  &,
  .light & {
    color: $color-primary;
  }

  .dark & {
    color: $color-primary-reverse;
  }
}

.text-success {
  &,
  .light & {
    color: $color-success;
  }

  .dark & {
    color: $color-success-reverse;
  }
}

.text-warning {
  &,
  .light & {
    color: $color-warning;
  }

  .dark & {
    color: $color-warning-reverse;
  }
}

.text-error {
  &,
  .light & {
    color: $color-error;
  }

  .dark & {
    color: $color-error-reverse;
  }
}

.text-info {
  &,
  .light & {
    color: $color-info;
  }

  .dark & {
    color: $color-info-reverse;
  }
}
