.cursor-auto {
  cursor: $cursor-auto;
}

.cursor-pointer {
  cursor: $cursor-pointer;
}

.cursor-help {
  cursor: $cursor-help;
}

.cursor-zoom-in {
  cursor: $cursor-zoom-in;
}

.cursor-zoom-out {
  cursor: $cursor-zoom-out;
}

.cursor-wait {
  cursor: $cursor-wait;
}

.cursor-text {
  cursor: $cursor-text;
}

.cursor-move {
  cursor: $cursor-move;
}
