.line-height-none {
  line-height: $line-height-none;
}

.line-height-tight {
  line-height: $line-height-tight;
}

.line-height-normal {
  line-height: $line-height-normal;
}

.line-height-relaxed {
  line-height: $line-height-relaxed;
}

.line-height-loose {
  line-height: $line-height-loose;
}

.line-height-default {
  line-height: $line-height-default;
}

// 由 chrome 控制台生成，代码如下
//
// var str = ''
// for (let i = 18; i <= 104; i += 1) {
//   str += `.line-height-${i} {\r  line-height: $line-height-${i};\r}\r\r`
// }
// copy(str)
//
.line-height-18 {
  line-height: $line-height-18;
}

.line-height-19 {
  line-height: $line-height-19;
}

.line-height-20 {
  line-height: $line-height-20;
}

.line-height-21 {
  line-height: $line-height-21;
}

.line-height-22 {
  line-height: $line-height-22;
}

.line-height-23 {
  line-height: $line-height-23;
}

.line-height-24 {
  line-height: $line-height-24;
}

.line-height-25 {
  line-height: $line-height-25;
}

.line-height-26 {
  line-height: $line-height-26;
}

.line-height-27 {
  line-height: $line-height-27;
}

.line-height-28 {
  line-height: $line-height-28;
}

.line-height-29 {
  line-height: $line-height-29;
}

.line-height-30 {
  line-height: $line-height-30;
}

.line-height-31 {
  line-height: $line-height-31;
}

.line-height-32 {
  line-height: $line-height-32;
}

.line-height-33 {
  line-height: $line-height-33;
}

.line-height-34 {
  line-height: $line-height-34;
}

.line-height-35 {
  line-height: $line-height-35;
}

.line-height-36 {
  line-height: $line-height-36;
}

.line-height-37 {
  line-height: $line-height-37;
}

.line-height-38 {
  line-height: $line-height-38;
}

.line-height-39 {
  line-height: $line-height-39;
}

.line-height-40 {
  line-height: $line-height-40;
}

.line-height-41 {
  line-height: $line-height-41;
}

.line-height-42 {
  line-height: $line-height-42;
}

.line-height-43 {
  line-height: $line-height-43;
}

.line-height-44 {
  line-height: $line-height-44;
}

.line-height-45 {
  line-height: $line-height-45;
}

.line-height-46 {
  line-height: $line-height-46;
}

.line-height-47 {
  line-height: $line-height-47;
}

.line-height-48 {
  line-height: $line-height-48;
}

.line-height-49 {
  line-height: $line-height-49;
}

.line-height-50 {
  line-height: $line-height-50;
}

.line-height-51 {
  line-height: $line-height-51;
}

.line-height-52 {
  line-height: $line-height-52;
}

.line-height-53 {
  line-height: $line-height-53;
}

.line-height-54 {
  line-height: $line-height-54;
}

.line-height-55 {
  line-height: $line-height-55;
}

.line-height-56 {
  line-height: $line-height-56;
}

.line-height-57 {
  line-height: $line-height-57;
}

.line-height-58 {
  line-height: $line-height-58;
}

.line-height-59 {
  line-height: $line-height-59;
}

.line-height-60 {
  line-height: $line-height-60;
}

.line-height-61 {
  line-height: $line-height-61;
}

.line-height-62 {
  line-height: $line-height-62;
}

.line-height-63 {
  line-height: $line-height-63;
}

.line-height-64 {
  line-height: $line-height-64;
}

.line-height-65 {
  line-height: $line-height-65;
}

.line-height-66 {
  line-height: $line-height-66;
}

.line-height-67 {
  line-height: $line-height-67;
}

.line-height-68 {
  line-height: $line-height-68;
}

.line-height-69 {
  line-height: $line-height-69;
}

.line-height-70 {
  line-height: $line-height-70;
}

.line-height-71 {
  line-height: $line-height-71;
}

.line-height-72 {
  line-height: $line-height-72;
}

.line-height-73 {
  line-height: $line-height-73;
}

.line-height-74 {
  line-height: $line-height-74;
}

.line-height-75 {
  line-height: $line-height-75;
}

.line-height-76 {
  line-height: $line-height-76;
}

.line-height-77 {
  line-height: $line-height-77;
}

.line-height-78 {
  line-height: $line-height-78;
}

.line-height-79 {
  line-height: $line-height-79;
}

.line-height-80 {
  line-height: $line-height-80;
}

.line-height-81 {
  line-height: $line-height-81;
}

.line-height-82 {
  line-height: $line-height-82;
}

.line-height-83 {
  line-height: $line-height-83;
}

.line-height-84 {
  line-height: $line-height-84;
}

.line-height-85 {
  line-height: $line-height-85;
}

.line-height-86 {
  line-height: $line-height-86;
}

.line-height-87 {
  line-height: $line-height-87;
}

.line-height-88 {
  line-height: $line-height-88;
}

.line-height-89 {
  line-height: $line-height-89;
}

.line-height-90 {
  line-height: $line-height-90;
}

.line-height-91 {
  line-height: $line-height-91;
}

.line-height-92 {
  line-height: $line-height-92;
}

.line-height-93 {
  line-height: $line-height-93;
}

.line-height-94 {
  line-height: $line-height-94;
}

.line-height-95 {
  line-height: $line-height-95;
}

.line-height-96 {
  line-height: $line-height-96;
}

.line-height-97 {
  line-height: $line-height-97;
}

.line-height-98 {
  line-height: $line-height-98;
}

.line-height-99 {
  line-height: $line-height-99;
}

.line-height-100 {
  line-height: $line-height-100;
}

.line-height-101 {
  line-height: $line-height-101;
}

.line-height-102 {
  line-height: $line-height-102;
}

.line-height-103 {
  line-height: $line-height-103;
}

.line-height-104 {
  line-height: $line-height-104;
}
