[class*="text"] {
  font-family: $font-family-default;
}

.text-xs {
  font-size: $font-size-10;
  font-weight: $font-weight-400;
  line-height: $line-height-18;
}

.text-sm {
  font-size: $font-size-12;
  font-weight: $font-weight-400;
  line-height: $line-height-20;
}

.text-md,
.text-base,
.text-default {
  font-size: $font-size-14;
  font-weight: $font-weight-400;
  line-height: $line-height-22;
}

.text-lg {
  font-size: $font-size-16;
  font-weight: $font-weight-400;
  line-height: $line-height-24;
}

.text-xl {
  font-size: $font-size-18;
  font-weight: $font-weight-400;
  line-height: $line-height-26;
}

.text-2xl {
  font-size: $font-size-20;
  font-weight: $font-weight-400;
  line-height: $line-height-28;
}

.text-3xl {
  font-size: $font-size-24;
  font-weight: $font-weight-400;
  line-height: $line-height-32;
}

.text-4xl {
  font-size: $font-size-28;
  font-weight: $font-weight-400;
  line-height: $line-height-36;
}

.text-5xl {
  font-size: $font-size-36;
  font-weight: $font-weight-400;
  line-height: $line-height-44;
}

.text-6xl {
  font-size: $font-size-48;
  font-weight: $font-weight-400;
  line-height: $line-height-56;
}

.text-7xl {
  font-size: $font-size-56;
  font-weight: $font-weight-400;
  line-height: $line-height-64;
}

.text-8xl {
  font-size: $font-size-64;
  font-weight: $font-weight-400;
  line-height: $line-height-72;
}

.text-break-normal {
  word-break: normal;
  overflow-wrap: normal;
}

.text-break-words {
  overflow-wrap: break-word;
}

.text-break-all {
  word-break: break-all;
}

.text-truncate {
  overflow: $overflow-hidden;
  text-overflow: $text-overflow-ellipsis;
  white-space: nowrap;
}
