.text-left {
  text-align: $text-align-left;
}

.text-right {
  text-align: $text-align-right;
}

.text-center {
  text-align: $text-align-center;
}

.text-align-justify {
  text-align: $text-align-justify;
}
