.vertical-align-baseline {
  vertical-align: $vertical-align-baseline;
}

.vertical-align-sub {
  vertical-align: $vertical-align-sub;
}

.vertical-align-super {
  vertical-align: $vertical-align-super;
}

.vertical-align-text-top {
  vertical-align: $vertical-align-text-top;
}

.vertical-align-text-bottom {
  vertical-align: $vertical-align-text-bottom;
}

.vertical-align-top {
  vertical-align: $vertical-align-top;
}

.vertical-align-bottom {
  vertical-align: $vertical-align-bottom;
}

.vertical-align-middle {
  vertical-align: $vertical-align-middle;
}
