.badge,
.badge-primary,
.badge-success,
.badge-warning,
.badge-error,
.badge-info {
  position: absolute;
  top: 0;
  right: $length-8-reverse;
  z-index: 600;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: $length-20;
  height: $length-20;
  font-size: $font-size-s-2;
  font-weight: 400;
  line-height: $line-height-s-2;
  border-style: solid;
  border-width: $length-1;
  border-radius: 50%;
}

$m-badge: (
  "": (
    color-light: $color-main,
    background-color-light: $color-bg-default,
    border-color-light: $color-border-default,
    color-dark: $color-main-reverse,
    background-color-dark: $color-bg-default-reverse,
    border-color-dark: $color-border-default-reverse
  ),
  "-primary": (
    color-light: $gray-1,
    background-color-light: $color-primary,
    border-color-light: $color-primary,
    color-dark: $gray-1,
    background-color-dark: $color-primary-reverse,
    border-color-dark: $color-primary-reverse
  ),
  "-success": (
    color-light: $gray-1,
    background-color-light: $color-success,
    border-color-light: $color-success,
    color-dark: $gray-1,
    background-color-dark: $color-success-reverse,
    border-color-dark: $color-success-reverse
  ),
  "-warning": (
    color-light: $gray-1,
    background-color-light: $color-warning,
    border-color-light: $color-warning,
    color-dark: $gray-1,
    background-color-dark: $color-warning-reverse,
    border-color-dark: $color-warning-reverse
  ),
  "-error": (
    color-light: $gray-1,
    background-color-light: $color-error,
    border-color-light: $color-error,
    color-dark: $gray-1,
    background-color-dark: $color-error-reverse,
    border-color-dark: $color-error-reverse
  ),
  "-info": (
    color-light: $gray-1,
    background-color-light: $color-info,
    border-color-light: $color-info,
    color-dark: $gray-1,
    background-color-dark: $color-info-reverse,
    border-color-dark: $color-info-reverse
  )
);

@each $key, $val in $m-badge {
  .badge#{$key},
  .light .badge#{$key} {
    color: map-get($val, "color-light");
    background-color: map-get($val, "background-color-light");
    border-color: map-get($val, "border-color-light");
  }

  .dark .badge#{$key} {
    color: map-get($val, "color-dark");
    background-color: map-get($val, "background-color-dark");
    border-color: map-get($val, "border-color-dark");
  }
}
