.btn,
.btn-primary,
.btn-success,
.btn-warning,
.btn-error,
.btn-info {
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  min-height: 72rpx;
  padding: 8rpx 32rpx;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  border-style: solid;
  border-width: $length-1;
  transition: all .5s;

  &[disabled] {
    color: $color-disabled !important;
    background-color: $gray-2 !important;
    border-color: $gray-2 !important;
  }

  &.btn-dotted {
    border-style: dotted;
  }

  &.btn-dashed {
    border-style: dashed;
  }

  &::after {
    display: none;
  }
}

$m-btn: (
  "": (
    color-light: $color-main,
    background-color-light: $color-bg-default,
    border-color-light: $color-border-default,
    ghost-color-light: $gray-1,
    ghost-border-color-light: $gray-1,
    ghost-active-color-light: $color-primary,
    ghost-active-border-color-light: $color-primary,
    color-dark: $color-main-reverse,
    background-color-dark: $color-bg-default-reverse,
    border-color-dark: $color-border-default-reverse,
    ghost-color-dark: $gray-1,
    ghost-border-color-dark: $gray-1,
    ghost-active-color-dark: $color-primary-reverse,
    ghost-active-border-color-dark: $color-primary-reverse
  ),
  "-primary": (
    color-light: $gray-1,
    background-color-light: $color-primary,
    border-color-light: $color-primary,
    ghost-color-light: $color-primary,
    ghost-border-color-light: $color-primary,
    ghost-active-color-light: f-get-color($color-primary, 7),
    ghost-active-border-color-light: f-get-color($color-primary, 7),
    color-dark: mix($gray-1, $gray-12, 85%),
    background-color-dark: $color-primary-reverse,
    border-color-dark: $color-primary-reverse,
    ghost-color-dark: $color-primary-reverse,
    ghost-border-color-dark: $color-primary-reverse,
    ghost-active-color-dark: f-get-color($color-primary-reverse, 7),
    ghost-active-border-color-dark: f-get-color($color-primary-reverse, 7)
  ),
  "-success": (
    color-light: $gray-1,
    background-color-light: $color-success,
    border-color-light: $color-success,
    ghost-color-light: $color-success,
    ghost-border-color-light: $color-success,
    ghost-active-color-light: f-get-color($color-success, 7),
    ghost-active-border-color-light: f-get-color($color-success, 7),
    color-dark: mix($gray-1, $gray-12, 85%),
    background-color-dark: $color-success-reverse,
    border-color-dark: $color-success-reverse,
    ghost-color-dark: $color-success-reverse,
    ghost-border-color-dark: $color-success-reverse,
    ghost-active-color-dark: f-get-color($color-success-reverse, 7),
    ghost-active-border-color-dark: f-get-color($color-success-reverse, 7)
  ),
  "-error": (
    color-light: $gray-1,
    background-color-light: $color-error,
    border-color-light: $color-error,
    ghost-color-light: $color-error,
    ghost-border-color-light: $color-error,
    ghost-active-color-light: f-get-color($color-error, 7),
    ghost-active-border-color-light: f-get-color($color-error, 7),
    color-dark: mix($gray-1, $gray-12, 85%),
    background-color-dark: $color-error-reverse,
    border-color-dark: $color-error-reverse,
    ghost-color-dark: $color-error-reverse,
    ghost-border-color-dark: $color-error-reverse,
    ghost-active-color-dark: f-get-color($color-error-reverse, 7),
    ghost-active-border-color-dark: f-get-color($color-error-reverse, 7)
  ),
  "-warning": (
    color-light: $gray-1,
    background-color-light: $color-warning,
    border-color-light: $color-warning,
    ghost-color-light: $color-warning,
    ghost-border-color-light: $color-warning,
    ghost-active-color-light: f-get-color($color-warning, 7),
    ghost-active-border-color-light: f-get-color($color-warning, 7),
    color-dark: mix($gray-1, $gray-12, 85%),
    background-color-dark: $color-warning-reverse,
    border-color-dark: $color-warning-reverse,
    ghost-color-dark: $color-warning-reverse,
    ghost-border-color-dark: $color-warning-reverse,
    ghost-active-color-dark: f-get-color($color-warning-reverse, 7),
    ghost-active-border-color-dark: f-get-color($color-warning-reverse, 7)
  ),
  "-info": (
    color-light: $gray-1,
    background-color-light: $color-info,
    border-color-light: $color-info,
    ghost-color-light: $color-info,
    ghost-border-color-light: $color-info,
    ghost-active-color-light: f-get-color($color-info, 7),
    ghost-active-border-color-light: f-get-color($color-info, 7),
    color-dark: mix($gray-1, $gray-12, 85%),
    background-color-dark: $color-info-reverse,
    border-color-dark: $color-info-reverse,
    ghost-color-dark: $color-info-reverse,
    ghost-border-color-dark: $color-info-reverse,
    ghost-active-color-dark: f-get-color($color-info-reverse, 7),
    ghost-active-border-color-dark: f-get-color($color-info-reverse, 7)
  )
);

@each $key, $val in $m-btn {
  .btn#{$key},
  .light .btn#{$key} {
    color: map-get($val, "color-light");
    background-color: map-get($val, "background-color-light");
    border-color: map-get($val, "border-color-light");

    &:active {
      background-color: f-get-color(map-get($val, "background-color-light"), 7);
      border-color: f-get-color(map-get($val, "border-color-light"), 7);
    }

    &.btn-ghost {
      color: map-get($val, "ghost-color-light");
      background-color: transparent;
      border-color: map-get($val, "ghost-border-color-light");

      &:active {
        color: map-get($val, "ghost-active-color-light");
        border-color: map-get($val, "ghost-active-border-color-light");
      }
    }
  }

  .dark .btn#{$key} {
    color: map-get($val, "color-dark");
    background-color: map-get($val, "background-color-dark");
    border-color: map-get($val, "border-color-dark");

    &:active {
      background-color: f-get-color(map-get($val, "background-color-dark"), 7);
      border-color: f-get-color(map-get($val, "border-color-dark"), 7);
    }

    &.btn-ghost {
      color: map-get($val, "ghost-color-dark");
      background-color: transparent;
      border-color: map-get($val, "ghost-border-color-dark");

      &:active {
        color: map-get($val, "ghost-active-color-dark");
        border-color: map-get($val, "ghost-active-border-color-dark");
      }
    }
  }
}
