.card,
.card-vertical {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
  width: 100%;
  height: auto;
  font-size: $font-size-base;
  font-weight: 400;
  line-height: $line-height-base;
  border-style: solid;
  border-width: $length-1;

  &,
  .light & {
    color: $color-main;
    background-color: $color-bg-default;
    border-color: $color-border-default;
  }

  .dark & {
    color: $color-main-reverse;
    background-color: $color-bg-default-reverse;
    border-color: $color-border-default-reverse;
  }
}

.card-vertical {
  flex: 0 0 auto;
}

.card-header,
.card-content,
.card-footer {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  width: 100%;
  padding: $length-6;
}

.card-header,
.card-footer {
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.card-header {
  font-size: $font-size-a-4;
  font-weight: 700;
  line-height: $line-height-a-4;
}

.card-content {
  flex-direction: column;
  padding: $length-6 0;
}
