/* stylelint-disable selector-class-pattern */

.form {
  position: elative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: $length-12;
  margin: 0 auto;

  &,
  .light & {
    color: $color-main;
    background-color: $color-bg-default;
  }

  .dark & {
    color: $color-main-reverse;
    background-color: $color-bg-default-reverse;
  }
}

.form-item {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: $length-41;
  min-height: $length-41;
  padding: 0 $length-8;
}

.form-item__label,
.form-item__content {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  height: $length-40;
  min-height: $length-40;
}

.form-item__label {
  flex: 0 0 $length-60;
  justify-content: flex-start;
}

.form-item__content {
  flex: auto;
  justify-content: flex-start;
  padding-left: $length-8;
}
