$icon-sizing-map: (
  4xs: $length-2,
  3xs: $length-4,
  2xs: $length-8,
  xs: $length-12,
  sm: $length-16,
  md: $length-20,
  lg: $length-24,
  xl: $length-28,
  2xl: $length-32,
  3xl: $length-36,
  4xl: $length-40
);

$icon-sizing-list: map-keys($icon-sizing-map);

@each $size in $icon-sizing-list {
  .icon-#{$size},
  .img-#{$size} {
    flex: 0 0 map-get($icon-sizing-map, $size);
    width: map-get($icon-sizing-map, $size);
    height: map-get($icon-sizing-map, $size);

    & + text {
      margin-left: $length-8;
    }
  }
}
