.wrapper-input {
  position: $position-relative;
  box-sizing: $box-sizing-border-box;
  display: $display-flex;
  flex-direction: $flex-direction-row;
  align-items: $align-center;
  justify-content: $justify-center;
  min-width: $length-72;
  min-height: $length-40;
  border-style: $border-style-solid;
  border-width: $length-1;
  border-radius: $length-4;

  &,
  .light & {
    color: $color-main;
    border-color: $border-color-default;
  }

  .dark & {
    color: $color-main-reverse;
    border-color: $border-color-default-reverse;
  }

  & > .prefix {
    position: $position-relative;
    box-sizing: $box-sizing-border-box;
    flex: $flex-grow-0 $flex-shrink-0 $length-20;
    order: $order-first;
    width: $length-20;
    height: $length-20;
    margin-left: $length-4;
    font-size: $font-size-12;
    line-height: $line-height-40;

    & + input[class*="input"] {
      margin-left: $length-8;
    }
  }

  & > .suffix {
    position: $position-relative;
    box-sizing: $box-sizing-border-box;
    flex: $flex-grow-0 $flex-shrink-0 $length-20;
    order: $order-last;
    width: $length-20;
    height: $length-20;
    margin-right: $length-4;
    font-size: $font-size-12;
    line-height: $line-height-40;

    & + input[class*="input"] {
      margin-right: $length-8;
    }
  }

  & > input[class*="input"] {
    position: $position-relative;
    box-sizing: $box-sizing-border-box;
    flex: auto;
    height: $ratio-100;
    padding: 0 $length-4;
  }

  .input-placeholder {
    margin: 0;
  }
}
