.wrapper-input {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: $length-72;
  min-height: $length-40;
  border-style: solid;
  border-width: $length-1;
  border-radius: $length-4;

  &,
  .light & {
    color: $color-main;
  }

  .dark & {
    color: $color-main-reverse;
  }
}

.input-prefix,
.input-suffix {
  position: relative;
  box-sizing: border-box;
  flex: 0 0 $length-20;
  width: $length-20;
  height: $length-20;
  margin-left: $length-4;
  font-size: $font-size-s-2;
  line-height: $line-height-s-2;
}

.input-prefix {
  order: -9999;

  & + .input {
    margin-left: $length-8;
  }
}

.input-suffix {
  order: 9999;

  & + .input {
    margin-right: $length-8;
  }
}

.input {
  position: relative;
  box-sizing: border-box;
  flex: auto;
  height: 100%;
  padding: 0 $length-4;
}

.input-placeholder {
  margin: 0;

  &,
  .light & {
    color: $color-secondary;
  }

  .dark & {
    color: $color-secondary-reverse;
  }
}
