page {
  position: relative;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container,
.container-horizontal {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  overflow: hidden;
  font-size: $font-size-base;
  font-weight: 400;
  line-height: $line-height-base;

  &,
  .light & {
    color: $color-main;
    background-color: $color-bg-container;
  }

  .dark & {
    color: $color-main-reverse;
    background-color: $color-bg-container-reverse;
  }
}

.container {
  flex-direction: column;
  height: 100%;
}

.container-horizontal {
  flex: auto;
  flex-direction: row;
  height: auto;
}

.bg {
  position: fixed;
  width: 100%;
  height: 100%;
}

.header,
.nav,
.footer,
.aside,
.main {
  position: relative;
  box-sizing: border-box;
  display: flex;
  background-color: transparent;
}

.header,
.nav,
.footer {
  flex-direction: row;
  width: 100%;
}

.header {
  flex: 0 0 $length-48;
  align-items: center;
  justify-content: space-between;
  padding: 0 $length-12;
}

.nav {
  flex: 0 0 $length-32;
  align-items: center;
  justify-content: space-between;
  padding: 0 $length-12;
}

.aside.aside-horizontal {
  flex: 0 0 auto;
  flex-direction: column;
  width: auto;
  height: 100%;
}

.main,
.main-horizontal {
  flex: auto;
  flex-direction: column;
  padding: $length-12;
}

.main {
  width: 100%;
  height: auto;
}

.main-horizontal {
  width: auto;
  height: 100%;
}

.footer {
  // 避免遮挡
  flex: 0 0 $length-72;
  justify-content: center;
  padding: $length-4 $length-12;
}

.left,
.right {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex: auto;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
}

.wrapper {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 100%;
}

.wrapper-row {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: auto;
}

.wrapper-col {
  width: auto;
  height: 100%;
}

.wrapper-center {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
