/* stylelint-disable selector-max-class */
@import "../variables";

.btn {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  padding: 4 * $scale + $unit 16 * $scale + $unit;
  margin: 0;
  overflow: hidden;
  font-size: $font-size-base * $scale + $unit;
  font-weight: 400;
  line-height: $line-height-default;
  color: $color-main;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background-color: $container-background-color;
  border-color: $border-color;
  border-style: solid;
  border-width: 1 * $scale + $unit;
  border-radius: $border-radius-base * $scale + $unit;
  outline: none;
  opacity: unset;
  transition: $transition-default;
  -webkit-tap-highlight-color: transparent;

  &.is-rounded {
    border-radius: round(16 + $font-size-base * $line-height-default + 1) / 2 * $scale + $unit;
  }

  &.is-small {
    padding: 0 8 * $scale + $unit;
    font-size: $font-size-base * $scale + $unit;

    &.is-rounded {
      border-radius: round(8 + $font-size-base * $line-height-default + 1) / 2 * $scale + $unit;
    }
  }

  &.is-large {
    padding: 6 * $scale + $unit 16 * $scale + $unit;
    font-size: ($font-size-base + $font-size-diff) * $scale + $unit;

    &.is-rounded {
      border-radius: round(16 + ($font-size-base + $font-size-diff) * $line-height-default + 1) / 2 * $scale + $unit;
    }
  }

  &::after {
    display: none;
  }

  &:hover,
  &:focus {
    color: $gray-1;
    background-color: $primary-6;
    border-color: $primary-6;
    opacity: unset;
  }

  &:active,
  &.button-hover {
    color: $gray-1;
    background-color: $primary-7;
    border-color: $primary-7;
    opacity: unset;
  }

  &[disabled] {
    color: $color-disabled;
    pointer-events: none;
    cursor: not-allowed;
    user-select: none;
    background-color: $gray-3;
    border-color: $border-color;
  }

  @if ($has-dark) {
    .is-dark &[disabled] {
      color: $color-disabled-reverse;
      background-color: $gray-10;
      border-color: $border-color-reverse;
    }
  }

  &.is-primary:not([disabled]) {
    color: $gray-1;
    background-color: $primary-6;
    border-color: $primary-6;

    &.is-plain {
      color: $primary-6;
      background-color: $container-background-color;
    }

    &:hover,
    &:focus {
      color: $gray-1;
      background-color: $primary-5;
      border-color: $primary-5;
    }

    &:active,
    &.button-hover {
      color: $gray-1;
      background-color: $primary-7;
      border-color: $primary-7;
    }

    &.is-outlined {
      color: $primary-6;
      border-color: $primary-6;

      &:hover,
      &:focus {
        color: $primary-5;
        border-color: $primary-5;
      }

      &:active,
      &.button-hover {
        color: $primary-7;
        border-color: $primary-7;
      }
    }

    &.is-text {
      color: $primary-6;

      &:hover,
      &:focus {
        color: $primary-5;
      }

      &:active,
      &.button-hover {
        color: $primary-7;
      }
    }
  }

  &.is-success:not([disabled]) {
    color: $gray-1;
    background-color: $success-6;
    border-color: $success-6;

    &.is-plain {
      color: $success-6;
      background-color: $container-background-color;
    }

    &:hover,
    &:focus {
      color: $gray-1;
      background-color: $success-5;
      border-color: $success-5;
    }

    &:active,
    &.button-hover {
      color: $gray-1;
      background-color: $success-7;
      border-color: $success-7;
    }

    &.is-outlined {
      color: $success-6;
      border-color: $success-6;

      &:hover,
      &:focus {
        color: $success-5;
        border-color: $success-5;
      }

      &:active,
      &.button-hover {
        color: $success-7;
        border-color: $success-7;
      }
    }

    &.is-text {
      color: $success-6;

      &:hover,
      &:focus {
        color: $success-5;
      }

      &:active,
      &.button-hover {
        color: $success-7;
      }
    }
  }

  &.is-warning:not([disabled]) {
    color: $gray-1;
    background-color: $warning-6;
    border-color: $warning-6;

    &.is-plain {
      color: $warning-6;
      background-color: $container-background-color;
    }

    &:hover,
    &:focus {
      color: $gray-1;
      background-color: $warning-5;
      border-color: $warning-5;
    }

    &:active,
    &.button-hover {
      color: $gray-1;
      background-color: $warning-7;
      border-color: $warning-7;
    }

    &.is-outlined {
      color: $warning-6;
      border-color: $warning-6;

      &:hover,
      &:focus {
        color: $warning-5;
        border-color: $warning-5;
      }

      &:active,
      &.button-hover {
        color: $warning-7;
        border-color: $warning-7;
      }
    }

    &.is-text {
      color: $warning-6;

      &:hover,
      &:focus {
        color: $warning-5;
      }

      &:active,
      &.button-hover {
        color: $warning-7;
      }
    }
  }

  &.is-error:not([disabled]) {
    color: $gray-1;
    background-color: $error-6;
    border-color: $error-6;

    &.is-plain {
      color: $error-6;
      background-color: $container-background-color;
    }

    &:hover,
    &:focus {
      color: $gray-1;
      background-color: $error-5;
      border-color: $error-5;
    }

    &:active,
    &.button-hover {
      color: $gray-1;
      background-color: $error-7;
      border-color: $error-7;
    }

    &.is-outlined {
      color: $error-6;
      border-color: $error-6;

      &:hover,
      &:focus {
        color: $error-5;
        border-color: $error-5;
      }

      &:active,
      &.button-hover {
        color: $error-7;
        border-color: $error-7;
      }
    }

    &.is-text {
      color: $error-6;

      &:hover,
      &:focus {
        color: $error-5;
      }

      &:active,
      &.button-hover {
        color: $error-7;
      }
    }
  }

  &.is-info:not([disabled]) {
    color: $gray-1;
    background-color: $info-6;
    border-color: $info-6;

    &.is-plain {
      color: $info-6;
      background-color: $container-background-color;
    }

    &:hover,
    &:focus {
      color: $gray-1;
      background-color: $info-5;
      border-color: $info-5;
    }

    &:active,
    &.button-hover {
      color: $gray-1;
      background-color: $info-7;
      border-color: $info-7;
    }

    &.is-outlined {
      color: $info-6;
      border-color: $info-6;

      &:hover,
      &:focus {
        color: $info-5;
        border-color: $info-5;
      }

      &:active,
      &.button-hover {
        color: $info-7;
        border-color: $info-7;
      }
    }

    &.is-text {
      color: $info-6;

      &:hover,
      &:focus {
        color: $info-5;
      }

      &:active,
      &.button-hover {
        color: $info-7;
      }
    }
  }

  @if ($has-dark) {
    .is-dark & {
      color: $color-main-reverse;
      background-color: $container-background-color-reverse;
      border-color: $border-color-reverse;

      &:hover,
      &:focus {
        background-color: $primary-6-reverse;
        border-color: $primary-6-reverse;
      }

      &:active,
      &.button-hover {
        background-color: $primary-7-reverse;
        border-color: $primary-7-reverse;
      }
    }

    .is-dark &.is-primary:not([disabled]) {
      color: $gray-1;
      background-color: $primary-6-reverse;
      border-color: $primary-6-reverse;

      &.is-plain {
        color: $primary-6-reverse;
        background-color: $container-background-color-reverse;
      }

      &:hover,
      &:focus {
        color: $gray-1;
        background-color: $primary-5-reverse;
        border-color: $primary-5-reverse;
      }

      &:active,
      &.button-hover {
        color: $gray-1;
        background-color: $primary-7-reverse;
        border-color: $primary-7-reverse;
      }

      &.is-outlined {
        color: $primary-6-reverse;
        border-color: $primary-6-reverse;

        &:hover,
        &:focus {
          color: $primary-5-reverse;
          border-color: $primary-5-reverse;
        }

        &:active,
        &.button-hover {
          color: $primary-7-reverse;
          border-color: $primary-7-reverse;
        }
      }

      &.is-text {
        color: $primary-6-reverse;

        &:hover,
        &:focus {
          color: $primary-5-reverse;
        }

        &:active,
        &.button-hover {
          color: $primary-7-reverse;
        }
      }
    }

    .is-dark &.is-success:not([disabled]) {
      color: $gray-1;
      background-color: $success-6-reverse;
      border-color: $success-6-reverse;

      &.is-plain {
        color: $success-6-reverse;
        background-color: $container-background-color-reverse;
      }

      &:hover,
      &:focus {
        color: $gray-1;
        background-color: $success-5-reverse;
        border-color: $success-5-reverse;
      }

      &:active,
      &.button-hover {
        color: $gray-1;
        background-color: $success-7-reverse;
        border-color: $success-7-reverse;
      }

      &.is-outlined {
        color: $success-6-reverse;
        border-color: $success-6-reverse;

        &:hover,
        &:focus {
          color: $success-5-reverse;
          border-color: $success-5-reverse;
        }

        &:active,
        &.button-hover {
          color: $success-7-reverse;
          border-color: $success-7-reverse;
        }
      }

      &.is-text {
        color: $success-6-reverse;

        &:hover,
        &:focus {
          color: $success-5-reverse;
        }

        &:active,
        &.button-hover {
          color: $success-7-reverse;
        }
      }
    }

    .is-dark &.is-warning:not([disabled]) {
      color: $gray-1;
      background-color: $warning-6-reverse;
      border-color: $warning-6-reverse;

      &.is-plain {
        color: $warning-6-reverse;
        background-color: $container-background-color-reverse;
      }

      &:hover,
      &:focus {
        color: $gray-1;
        background-color: $warning-5-reverse;
        border-color: $warning-5-reverse;
      }

      &:active,
      &.button-hover {
        color: $gray-1;
        background-color: $warning-7-reverse;
        border-color: $warning-7-reverse;
      }

      &.is-outlined {
        color: $warning-6-reverse;
        border-color: $warning-6-reverse;

        &:hover,
        &:focus {
          color: $warning-5-reverse;
          border-color: $warning-5-reverse;
        }

        &:active,
        &.button-hover {
          color: $warning-7-reverse;
          border-color: $warning-7-reverse;
        }
      }

      &.is-text {
        color: $warning-6-reverse;

        &:hover,
        &:focus {
          color: $warning-5-reverse;
        }

        &:active,
        &.button-hover {
          color: $warning-7-reverse;
        }
      }
    }

    .is-dark &.is-error:not([disabled]) {
      color: $gray-1;
      background-color: $error-6-reverse;
      border-color: $error-6-reverse;

      &.is-plain {
        color: $error-6-reverse;
        background-color: $container-background-color-reverse;
      }

      &:hover,
      &:focus {
        color: $gray-1;
        background-color: $error-5-reverse;
        border-color: $error-5-reverse;
      }

      &:active,
      &.button-hover {
        color: $gray-1;
        background-color: $error-7-reverse;
        border-color: $error-7-reverse;
      }

      &.is-outlined {
        color: $error-6-reverse;
        border-color: $error-6-reverse;

        &:hover,
        &:focus {
          color: $error-5-reverse;
          border-color: $error-5-reverse;
        }

        &:active,
        &.button-hover {
          color: $error-7-reverse;
          border-color: $error-7-reverse;
        }
      }

      &.is-text {
        color: $error-6-reverse;

        &:hover,
        &:focus {
          color: $error-5-reverse;
        }

        &:active,
        &.button-hover {
          color: $error-7-reverse;
        }
      }
    }

    .is-dark &.is-info:not([disabled]) {
      color: $gray-1;
      background-color: $info-6-reverse;
      border-color: $info-6-reverse;

      &.is-plain {
        color: $info-6-reverse;
        background-color: $container-background-color-reverse;
      }

      &:hover,
      &:focus {
        color: $gray-1;
        background-color: $info-5-reverse;
        border-color: $info-5-reverse;
      }

      &:active,
      &.button-hover {
        color: $gray-1;
        background-color: $info-7-reverse;
        border-color: $info-7-reverse;
      }

      &.is-outlined {
        color: $info-6-reverse;
        border-color: $info-6-reverse;

        &:hover,
        &:focus {
          color: $info-5-reverse;
          border-color: $info-5-reverse;
        }

        &:active,
        &.button-hover {
          color: $info-7-reverse;
          border-color: $info-7-reverse;
        }
      }

      &.is-text {
        color: $info-6-reverse;

        &:hover,
        &:focus {
          color: $info-5-reverse;
        }

        &:active,
        &.button-hover {
          color: $info-7-reverse;
        }
      }
    }
  }

  &.is-outlined:not([disabled]) {
    background-color: transparent;

    &:hover,
    &:focus {
      color: $primary-6;
      background-color: transparent;
    }

    &:active,
    &.button-hover {
      color: $primary-7;
      background-color: transparent;
    }
  }

  @if ($has-dark) {
    .is-dark &.is-outlined:not([disabled]) {
      background-color: transparent;
      &:hover,
      &:focus {
        color: $primary-6-reverse;
        background-color: transparent;
      }

      &:active,
      &.button-hover {
        color: $primary-7-reverse;
        background-color: transparent;
      }
    }
  }

  &.is-text:not([disabled]) {
    background-color: transparent;
    border-color: transparent;

    &:hover,
    &:focus {
      color: $primary-6;
      background-color: transparent;
      border-color: transparent;
    }

    &:active,
    &.button-hover {
      color: $primary-7;
      background-color: transparent;
      border-color: transparent;
    }
  }

  &.is-text[disabled] {
    background-color: transparent;
    border-color: transparent;
  }

  @if ($has-dark) {
    .is-dark &.is-text:not([disabled]) {
      background-color: transparent;
      border-color: transparent;

      &:hover,
      &:focus {
        color: $primary-6-reverse;
        background-color: transparent;
        border-color: transparent;
      }

      &:active,
      &.button-hover {
        color: $primary-7-reverse;
        background-color: transparent;
        border-color: transparent;
      }
    }

    .is-dark &.is-text[disabled] {
      background-color: transparent;
      border-color: transparent;
    }
  }

  // 水波纹
  &.is-ripply:not(.is-text)::after {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    content: "";
    background-color: unset;
    background-image: radial-gradient(circle, $gray-10 10%, transparent 10.0001%);
    background-repeat: no-repeat;
    background-position: 50%;
    border: none;
    border-radius: inherit;
    opacity: 0;
    transition: $transition-default;
    transform: scale(10);
    transform-origin: unset;
  }

  &.is-ripply:not(.is-text):active::after,
  &.is-ripply.button-hover:not(.is-text)::after {
    display: block;
    background-color: unset;
    opacity: .24;
    transition: 0s;
    transform: scale(0);
  }
}
