/* stylelint-disable selector-max-class */
@import "../variables";

/* .btn */
// border-width
$btn--border-width-base: 1;
$btn--border-width: $btn--border-width-base * $scale + $unit; // 1 * $scale + $unit
// padding-y
$btn--padding-y-base: 4;
$btn--padding-y: $btn--padding-y-base * $scale + $unit; // 4 * $scale + $unit
// padding-x
$btn--padding-x-base: 16;
$btn--padding-x: $btn--padding-x-base * $scale + $unit; // 16 * $scale + $unit
// font-size
$btn--font-size-base: $font-size-base; // 14
$btn--font-size: $btn--font-size-base * $scale + $unit; // 14 * $scale + $unit
// line-height
$btn--line-height: $line-height-default; // 1.5
// height
$btn--height-base: $btn--border-width-base * 2 + $btn--padding-y-base * 2 + $btn--font-size-base * $btn--line-height; // 31
$btn--height: $btn--height-base * $scale + $unit; // 31 * $scale + $unit

/* .btn.is-sm */
// padding-y
$btn--padding-y-base--sm: 0;
$btn--padding-y--sm: $btn--padding-y-base--sm * $scale + $unit; // 0 * $scale + $unit
// padding-x
$btn--padding-x-base--sm: 8;
$btn--padding-x--sm: $btn--padding-x-base--sm * $scale + $unit; // 8 * $scale + $unit
// height
$btn--height-base--sm: $btn--border-width-base * 2 + $btn--padding-y-base--sm * 2 + $btn--font-size-base * $btn--line-height; // 23
$btn--height--sm: $btn--height-base--sm * $scale + $unit; // 23 * $scale + $unit

/* .btn.is-lg */
// padding-y
$btn--padding-y-base--lg: 6;
$btn--padding-y--lg: $btn--padding-y-base--lg * $scale + $unit; // 6 * $scale + $unit
// padding-x
$btn--padding-x-base--lg: 16;
$btn--padding-x--lg: $btn--padding-x-base--lg * $scale + $unit; // 16 * $scale + $unit
// font-size
$btn--font-size-base--lg: $font-size-base + $font-size-diff; // 16
$btn--font-size--lg: $btn--font-size-base--lg * $scale + $unit; // 16 * $scale + $unit
// height
$btn--height-base--lg: $btn--border-width-base * 2 + $btn--padding-y-base--lg * 2 + $btn--font-size-base--lg * $btn--line-height; // 38
$btn--height--lg: $btn--height-base--lg * $scale + $unit; // 38 * $scale + $unit

.btn {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: $btn--height;
  padding: $btn--padding-y $btn--padding-x;
  margin: 0;
  overflow: hidden;
  font-size: $btn--font-size;
  font-weight: 400;
  line-height: $btn--line-height;
  color: $color-main;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background-color: $container-background-color;
  border-color: $border-color;
  border-style: solid;
  border-width: $btn--border-width;
  border-radius: $border-radius-base * $scale + $unit;
  outline: none;
  opacity: unset;
  transition: $transition-default;
  -webkit-tap-highlight-color: transparent;

  &.is-rounded {
    border-radius: $btn--height-base / 2 * $scale + $unit;
  }

  &.is-sm {
    height: $btn--height--sm;
    padding: $btn--padding-y--sm $btn--padding-x--sm;

    &.is-rounded {
      border-radius: $btn--height-base--sm / 2 * $scale + $unit;
    }
  }

  &.is-lg {
    height: $btn--height--lg;
    padding: $btn--padding-y--lg $btn--padding-x--lg;
    font-size: $btn--font-size--lg;

    &.is-rounded {
      border-radius: $btn--height-base--lg / 2 * $scale + $unit;
    }
  }

  &::after {
    display: none;
  }

  &:active,
  &.button-hover {
    color: $gray-1;
    background-color: $primary-7;
    border-color: $primary-7;
    opacity: unset;
  }

  &[disabled] {
    color: $color-disabled;
    pointer-events: none;
    cursor: not-allowed;
    user-select: none;
    background-color: $gray-3;
    border-color: $border-color;
  }

  @if ($has-dark) {
    .is-dark &[disabled] {
      color: $color-disabled-reverse;
      background-color: $gray-10;
      border-color: $border-color-reverse;
    }
  }

  &.is-primary:not([disabled]) {
    color: $gray-1;
    background-color: $primary-6;
    border-color: $primary-6;

    &.is-plain {
      color: $primary-6;
      background-color: $container-background-color;
    }

    &:active,
    &.button-hover {
      color: $gray-1;
      background-color: $primary-7;
      border-color: $primary-7;
    }

    &.is-outlined {
      color: $primary-6;
      border-color: $primary-6;

      &:active,
      &.button-hover {
        color: $primary-7;
        border-color: $primary-7;
      }
    }

    &.is-text {
      color: $primary-6;

      &:active,
      &.button-hover {
        color: $primary-7;
      }
    }
  }

  &.is-success:not([disabled]) {
    color: $gray-1;
    background-color: $success-6;
    border-color: $success-6;

    &.is-plain {
      color: $success-6;
      background-color: $container-background-color;
    }

    &:active,
    &.button-hover {
      color: $gray-1;
      background-color: $success-7;
      border-color: $success-7;
    }

    &.is-outlined {
      color: $success-6;
      border-color: $success-6;

      &:active,
      &.button-hover {
        color: $success-7;
        border-color: $success-7;
      }
    }

    &.is-text {
      color: $success-6;

      &:active,
      &.button-hover {
        color: $success-7;
      }
    }
  }

  &.is-warning:not([disabled]) {
    color: $gray-1;
    background-color: $warning-6;
    border-color: $warning-6;

    &.is-plain {
      color: $warning-6;
      background-color: $container-background-color;
    }

    &:active,
    &.button-hover {
      color: $gray-1;
      background-color: $warning-7;
      border-color: $warning-7;
    }

    &.is-outlined {
      color: $warning-6;
      border-color: $warning-6;

      &:active,
      &.button-hover {
        color: $warning-7;
        border-color: $warning-7;
      }
    }

    &.is-text {
      color: $warning-6;

      &:active,
      &.button-hover {
        color: $warning-7;
      }
    }
  }

  &.is-error:not([disabled]) {
    color: $gray-1;
    background-color: $error-6;
    border-color: $error-6;

    &.is-plain {
      color: $error-6;
      background-color: $container-background-color;
    }

    &:active,
    &.button-hover {
      color: $gray-1;
      background-color: $error-7;
      border-color: $error-7;
    }

    &.is-outlined {
      color: $error-6;
      border-color: $error-6;

      &:active,
      &.button-hover {
        color: $error-7;
        border-color: $error-7;
      }
    }

    &.is-text {
      color: $error-6;

      &:active,
      &.button-hover {
        color: $error-7;
      }
    }
  }

  &.is-info:not([disabled]) {
    color: $gray-1;
    background-color: $info-6;
    border-color: $info-6;

    &.is-plain {
      color: $info-6;
      background-color: $container-background-color;
    }

    &:active,
    &.button-hover {
      color: $gray-1;
      background-color: $info-7;
      border-color: $info-7;
    }

    &.is-outlined {
      color: $info-6;
      border-color: $info-6;

      &:active,
      &.button-hover {
        color: $info-7;
        border-color: $info-7;
      }
    }

    &.is-text {
      color: $info-6;

      &:active,
      &.button-hover {
        color: $info-7;
      }
    }
  }

  @if ($has-dark) {
    .is-dark & {
      color: $color-main-reverse;
      background-color: $container-background-color-reverse;
      border-color: $border-color-reverse;

      &:active,
      &.button-hover {
        background-color: $primary-7-reverse;
        border-color: $primary-7-reverse;
      }
    }

    .is-dark &.is-primary:not([disabled]) {
      color: $gray-1;
      background-color: $primary-6-reverse;
      border-color: $primary-6-reverse;

      &.is-plain {
        color: $primary-6-reverse;
        background-color: $container-background-color-reverse;
      }

      &:active,
      &.button-hover {
        color: $gray-1;
        background-color: $primary-7-reverse;
        border-color: $primary-7-reverse;
      }

      &.is-outlined {
        color: $primary-6-reverse;
        border-color: $primary-6-reverse;

        &:active,
        &.button-hover {
          color: $primary-7-reverse;
          border-color: $primary-7-reverse;
        }
      }

      &.is-text {
        color: $primary-6-reverse;

        &:active,
        &.button-hover {
          color: $primary-7-reverse;
        }
      }
    }

    .is-dark &.is-success:not([disabled]) {
      color: $gray-1;
      background-color: $success-6-reverse;
      border-color: $success-6-reverse;

      &.is-plain {
        color: $success-6-reverse;
        background-color: $container-background-color-reverse;
      }

      &:active,
      &.button-hover {
        color: $gray-1;
        background-color: $success-7-reverse;
        border-color: $success-7-reverse;
      }

      &.is-outlined {
        color: $success-6-reverse;
        border-color: $success-6-reverse;

        &:active,
        &.button-hover {
          color: $success-7-reverse;
          border-color: $success-7-reverse;
        }
      }

      &.is-text {
        color: $success-6-reverse;

        &:active,
        &.button-hover {
          color: $success-7-reverse;
        }
      }
    }

    .is-dark &.is-warning:not([disabled]) {
      color: $gray-1;
      background-color: $warning-6-reverse;
      border-color: $warning-6-reverse;

      &.is-plain {
        color: $warning-6-reverse;
        background-color: $container-background-color-reverse;
      }

      &:active,
      &.button-hover {
        color: $gray-1;
        background-color: $warning-7-reverse;
        border-color: $warning-7-reverse;
      }

      &.is-outlined {
        color: $warning-6-reverse;
        border-color: $warning-6-reverse;

        &:active,
        &.button-hover {
          color: $warning-7-reverse;
          border-color: $warning-7-reverse;
        }
      }

      &.is-text {
        color: $warning-6-reverse;

        &:active,
        &.button-hover {
          color: $warning-7-reverse;
        }
      }
    }

    .is-dark &.is-error:not([disabled]) {
      color: $gray-1;
      background-color: $error-6-reverse;
      border-color: $error-6-reverse;

      &.is-plain {
        color: $error-6-reverse;
        background-color: $container-background-color-reverse;
      }

      &:active,
      &.button-hover {
        color: $gray-1;
        background-color: $error-7-reverse;
        border-color: $error-7-reverse;
      }

      &.is-outlined {
        color: $error-6-reverse;
        border-color: $error-6-reverse;

        &:active,
        &.button-hover {
          color: $error-7-reverse;
          border-color: $error-7-reverse;
        }
      }

      &.is-text {
        color: $error-6-reverse;

        &:active,
        &.button-hover {
          color: $error-7-reverse;
        }
      }
    }

    .is-dark &.is-info:not([disabled]) {
      color: $gray-1;
      background-color: $info-6-reverse;
      border-color: $info-6-reverse;

      &.is-plain {
        color: $info-6-reverse;
        background-color: $container-background-color-reverse;
      }

      &:active,
      &.button-hover {
        color: $gray-1;
        background-color: $info-7-reverse;
        border-color: $info-7-reverse;
      }

      &.is-outlined {
        color: $info-6-reverse;
        border-color: $info-6-reverse;

        &:active,
        &.button-hover {
          color: $info-7-reverse;
          border-color: $info-7-reverse;
        }
      }

      &.is-text {
        color: $info-6-reverse;

        &:active,
        &.button-hover {
          color: $info-7-reverse;
        }
      }
    }
  }

  &.is-outlined:not([disabled]) {
    background-color: transparent;

    &:active,
    &.button-hover {
      color: $primary-7;
      background-color: transparent;
    }
  }

  @if ($has-dark) {
    .is-dark &.is-outlined:not([disabled]) {
      background-color: transparent;

      &:active,
      &.button-hover {
        color: $primary-7-reverse;
        background-color: transparent;
      }
    }
  }

  &.is-text:not([disabled]) {
    background-color: transparent;
    border-color: transparent;

    &:active,
    &.button-hover {
      color: $primary-7;
      background-color: transparent;
      border-color: transparent;
    }
  }

  &.is-text[disabled] {
    background-color: transparent;
    border-color: transparent;
  }

  @if ($has-dark) {
    .is-dark &.is-text:not([disabled]) {
      background-color: transparent;
      border-color: transparent;

      &:active,
      &.button-hover {
        color: $primary-7-reverse;
        background-color: transparent;
        border-color: transparent;
      }
    }

    .is-dark &.is-text[disabled] {
      background-color: transparent;
      border-color: transparent;
    }
  }

  // 水波纹
  &.is-ripply:not(.is-text)::after {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    content: "";
    background-color: unset;
    background-image: radial-gradient(circle, $gray-10 10%, transparent 10.0001%);
    background-repeat: no-repeat;
    background-position: 50%;
    border: none;
    border-radius: inherit;
    opacity: 0;
    transition: $transition-default;
    transform: scale(10);
    transform-origin: unset;
  }

  &.is-ripply:not(.is-text):active::after,
  &.is-ripply.button-hover:not(.is-text)::after {
    display: block;
    background-color: unset;
    opacity: 0.24;
    transition: 0s;
    transform: scale(0);
  }
}
