@import "../variables";

.card {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: $card-padding-y $card-padding-x;
  margin: $card-margin-y $card-margin-x;
  font-size: $card-font-size;
  font-weight: $card-font-weight;
  line-height: $card-line-height;
  border-style: $card-border-style;
  border-width: $card-border-width;
  border-radius: $card-border-radius;

  &,
  .is-light &,
  &.is-light {
    color: $card-color;
    background-color: $card-background-color;
    border-color: $card-border-color;
  }

  .is-dark &,
  &.is-dark {
    color: $card-color-reverse;
    background-color: $card-background-color-reverse;
    border-color: $card-border-color-reverse;
  }

  .card-header,
  .card-content,
  .card-footer {
    position: relative;
    box-sizing: border-box;
    display: flex;
  }

  .card-header {
    padding: $card-header-padding-y $card-header-padding-x;
    font-size: $card-header-font-size;
    font-weight: $card-header-font-weight;
    line-height: $card-header-line-height;
  }

  .card-content {
    padding: $card-content-padding-y $card-content-padding-x;
  }

  .card-footer {
    padding: $card-footer-padding-y $card-footer-padding-x;
  }

  &.is-small {
    .card-header {
      padding: $card-sm-header-padding-y $card-sm-header-padding-x;
      font-size: $card-sm-header-font-size;
    }

    .card-content {
      padding: $card-sm-content-padding-y $card-sm-content-padding-x;
    }

    .card-footer {
      padding: $card-sm-footer-padding-y $card-sm-footer-padding-x;
    }
  }
}
