@import "../variables";

.card-header,
.card-content,
.card-footer {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  background-color: transparent;
}

.card {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  font-size: $card--font-size;
  font-weight: 400;
  line-height: $card--line-height;
  color: $color-main;
  background-color: $container-background-color;
  border-color: $border-color;
  border-style: solid;
  border-width: $card--border-width;
  border-radius: $border-radius-base * $scale + $unit;

  @if ($has-dark) {
    .is-dark & {
      color: $color-main-reverse;
      background-color: $container-background-color-reverse;
      border-color: $border-color-reverse;
    }
  }

  .card-header {
    padding: $card-header--padding-y $card-header--padding-x;
    font-size: ($card--font-size-base + $font-size-diff) * $scale + $unit;
    font-weight: 500;
  }

  .card-content {
    padding: $card-content--padding-y $card-content--padding-x;
  }

  .card-footer {
    padding: $card-footer--padding-y $card-footer--padding-x;
  }

  &.is-sm {
    font-size: $card--font-size--sm;
    line-height: $card--line-height--sm;

    .card-header {
      padding: $card-header--padding-y--sm $card-header--padding-x--sm;
      font-size: ($card--font-size-base--sm + $font-size-diff) * $scale + $unit;
    }

    .card-content {
      padding: $card-content--padding-y--sm $card-content--padding-x--sm;
    }

    .card-footer {
      padding: $card-footer--padding-y--sm $card-footer--padding-x--sm;
    }
  }
}
