@import "../variables";

/* variables */
// margin-y
$divider--margin-y-base: 8 !default;
$divider--margin-y: $divider--margin-y-base * $scale + $unit;
$divider--margin-y-base--vertical: 0 !default;
$divider--margin-y--vertical: $divider--margin-y-base--vertical * $scale + $unit;
$divider-wrapper--margin-y-base: 8 !default;
$divider-wrapper--margin-y: $divider-wrapper--margin-y-base * $scale + $unit;
$divider-content--padding-y-base: 0 !default;
$divider-content--padding-y: $divider-content--padding-y-base * $scale + $unit;
// margin-x
$divider--margin-x-base: 0 !default;
$divider--margin-x: $divider--margin-x-base * $scale + $unit;
$divider--margin-x-base--vertical: 8 !default;
$divider--margin-x--vertical: $divider--margin-x-base--vertical * $scale + $unit;
$divider-wrapper--margin-x-base: 0 !default;
$divider-wrapper--margin-x: $divider-wrapper--margin-x-base * $scale + $unit;
$divider-content--padding-x-base: 8 !default;
$divider-content--padding-x: $divider-content--padding-x-base * $scale + $unit;
// border-width
$divider--border-width-base: 1 !default;
$divider--border-width: $divider--border-width-base * $scale + $unit;

/* styles */
.divider {
  position: relative;
  box-sizing: border-box;
  display: block;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  margin: $divider--margin-y $divider--margin-x;
  border-top-color: $border-color;
  border-top-style: solid;
  border-top-width: $divider--border-width;
  border-left: none;
  transition: $transition-default;

  @if ($has-dark) {
    .is-dark & {
      border-top-color: $border-color-reverse;
    }
  }

  &.is-vertical {
    display: inline-block;
    width: auto;
    height: 100%;
    margin: $divider--margin-y--vertical $divider--margin-x--vertical;
    vertical-align: middle;
    border-top: none;
    border-left-color: $border-color;
    border-left-style: solid;
    border-left-width: $divider--border-width;

    @if ($has-dark) {
      .is-dark & {
        border-left-color: $border-color-reverse;
      }
    }
  }
}

.divider-wrapper {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  height: auto;
  color: $color-main;

  @if ($has-dark) {
    .is-dark & {
      color: $color-main-reverse;
    }
  }

  .divider-content {
    position: relative;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: $divider-content--padding-y $divider-content--padding-x;
    vertical-align: middle;
  }

  .divider {
    flex: 0 1 50%;
    max-width: 50%;
  }

  &.is-left .divider {
    &:first-child {
      flex: 0 1 20%;
      max-width: 20%;
    }

    &:last-child {
      flex: 0 1 80%;
      max-width: 80%;
    }
  }

  &.is-right .divider {
    &:first-child {
      flex: 0 1 80%;
      max-width: 80%;
    }

    &:last-child {
      flex: 0 1 20%;
      max-width: 20%;
    }
  }
}
