@import "../variables";

.divider {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: auto;
  margin: 24 * $scale + $unit 0;
  border-top-color: $border-color;
  border-top-style: solid;
  border-top-width: 1 * $scale + $unit;
  border-left: none;
  transition: $transition-default;

  @if ($has-dark) {
    .is-dark & {
      border-top-color: $border-color-reverse;
    }
  }

  &.is-vertical {
    display: inline-block;
    width: auto;
    height: 100%;
    margin: 0 8 * $scale + $unit;
    border-top: none;
    border-left-color: $border-color;
    border-left-style: solid;
    border-left-width: 1 * $scale + $unit;

    @if ($has-dark) {
      .is-dark & {
        border-left-color: $border-color-reverse;
      }
    }
  }
}

.divider-wrapper {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  color: $color-main;

  @if ($has-dark) {
    .is-dark & {
      color: $color-main-reverse;
    }
  }

  .divider-text {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    padding: 0 16 * $scale + $unit;
    font-size: $font-size-base * $scale + $unit;
    font-weight: 400;
    line-height: $line-height-base * $scale + $unit;
  }

  .divider,
  &.is-center .divider {
    flex: 0 1 50%;
    max-width: 50%;
  }

  &.is-left .divider {
    &:first-child {
      flex: 0 1 20%;
      max-width: 20%;
    }

    &:last-child {
      flex: 0 1 80%;
      max-width: 80%;
    }
  }

  &.is-right .divider {
    &:first-child {
      flex: 0 1 80%;
      max-width: 80%;
    }

    &:last-child {
      flex: 0 1 20%;
      max-width: 20%;
    }
  }
}
