@import "../variables";

.icon {
  display: inline-block;
  width: $font-size-base * $line-height-default * $scale + $unit;
  height: $font-size-base * $line-height-default * $scale + $unit;
  line-height: 1;

  &.is-small {
    width: ($font-size-base - $font-size-diff) * $line-height-default * * $scale + $unit;
    height: ($font-size-base - $font-size-diff) * $line-height-default * $scale + $unit;
    line-height: 1;
  }

  &.is-large {
    width: ($font-size-base + $font-size-diff) * $line-height-default * $scale + $unit;
    height: ($font-size-base + $font-size-diff) * $line-height-default * $scale + $unit;
    line-height: 1;
  }
}
