@import "../variables";

.icon {
  display: inline-block;
  width: $font-size-base * $scale + $unit;
  height: $font-size-base * $scale + $unit;
  line-height: 1;

  &.is-sm {
    width: ($font-size-base - $font-size-diff) * $scale + $unit;
    height: ($font-size-base - $font-size-diff) * $scale + $unit;
    line-height: 1;
  }

  &.is-lg {
    width: ($font-size-base + $font-size-diff) * $scale + $unit;
    height: ($font-size-base + $font-size-diff) * $scale + $unit;
    line-height: 1;
  }
}
