@import "../variables";

/* variables */
// border-width
$input--border-width-base: 1;
$input--border-width: $input--border-width-base * $scale + $unit;
// padding-y
$input--padding-y-base: 4 !default;
$input--padding-y: $input--padding-y-base * $scale + $unit;
$input--padding-y-base--xs: 0 !default;
$input--padding-y--xs: $input--padding-y-base--xs * $scale + $unit;
$input--padding-y-base--sm: 2 !default;
$input--padding-y--sm: $input--padding-y-base--sm * $scale + $unit;
$input--padding-y-base--lg: 6 !default;
$input--padding-y--lg: $input--padding-y-base--lg * $scale + $unit;
$input--padding-y-base--xl: 8 !default;
$input--padding-y--xl: $input--padding-y-base--xl * $scale + $unit;
// padding-x
$input--padding-x-base: 12 !default;
$input--padding-x: $input--padding-x-base * $scale + $unit;
$input--padding-x-base--xs: 4 !default;
$input--padding-x--xs: $input--padding-x-base--xs * $scale + $unit;
$input--padding-x-base--sm: 8 !default;
$input--padding-x--sm: $input--padding-x-base--sm * $scale + $unit;
$input--padding-x-base--lg: 16 !default;
$input--padding-x--lg: $input--padding-x-base--lg * $scale + $unit;
$input--padding-x-base--xl: 20 !default;
$input--padding-x--xl: $input--padding-x-base--xl * $scale + $unit;
// font-size
$input--font-size-base: $font-size-base !default; // 14
$input--font-size: $input--font-size-base * $scale + $unit;
$input--font-size-base--xs: $font-size-base !default; // 14
$input--font-size--xs: $input--font-size-base--xs * $scale + $unit;
$input--font-size-base--sm: $font-size-base !default; // 14
$input--font-size--sm: $input--font-size-base--sm * $scale + $unit;
$input--font-size-base--lg: $font-size-base + $font-size-diff !default; // 16
$input--font-size--lg: $input--font-size-base--lg * $scale + $unit;
$input--font-size-base--xl: $font-size-base + $font-size-diff !default; // 16
$input--font-size--xl: $input--font-size-base--xl * $scale + $unit;
// line-height
$input--line-height: $line-height-default !default; // 1.5
$input--line-height--xs: $line-height-default !default; // 1.5
$input--line-height--sm: $line-height-default !default; // 1.5
$input--line-height--lg: $line-height-default !default; // 1.5
$input--line-height--xl: $line-height-default !default; // 1.5
// height
$input--height-base: $input--border-width-base * 2 + $input--padding-y-base * 2 + $input--font-size-base * $input--line-height !default; // 31
$input--height: $input--height-base * $scale + $unit;
$input--height-base--xs: $input--border-width-base * 2 + $input--padding-y-base--xs * 2 + $input--font-size-base--xs * $input--line-height--xs !default; // 23
$input--height--xs: $input--height-base--xs * $scale + $unit;
$input--height-base--sm: $input--border-width-base * 2 + $input--padding-y-base--sm * 2 + $input--font-size-base--sm * $input--line-height--sm !default; // 27
$input--height--sm: $input--height-base--sm * $scale + $unit;
$input--height-base--lg: $input--border-width-base * 2 + $input--padding-y-base--lg * 2 + $input--font-size-base--lg * $input--line-height--lg !default; // 38
$input--height--lg: $input--height-base--lg * $scale + $unit;
$input--height-base--xl: $input--border-width-base * 2 + $input--padding-y-base--xl * 2 + $input--font-size-base--xl * $input--line-height--xl !default; // 42
$input--height--xl: $input--height-base--xl * $scale + $unit;

/* styles */
.input {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  flex: 0 0 auto;
  width: 100%;
  min-width: 0;
  height: $input--height;
  min-height: unset;
  padding: $input--padding-y $input--padding-x;
  margin: 0;
  font-size: $input--font-size;
  font-weight: 400;
  line-height: $input--line-height;
  color: $color-main;
  white-space: nowrap;
  vertical-align: middle;
  cursor: text;
  border-color: $border-color;
  border-style: solid;
  border-width: $input--border-width;
  border-radius: $border-radius-base * $scale + $unit;
  outline: none;
  transition: $transition-default;

  @if ($has-dark) {
    .is-dark & {
      color: $color-main-reverse;
      border-color: $border-color-reverse;
    }
  }

  &.is-xs {
    height: $input--height--xs;
    padding: $input--padding-y--xs $input--padding-x--xs;
    font-size: $input--font-size--xs;
  }

  &.is-sm {
    height: $input--height--sm;
    padding: $input--padding-y--sm $input--padding-x--sm;
    font-size: $input--font-size--sm;
  }

  &.is-lg {
    height: $input--height--lg;
    padding: $input--padding-y--lg $input--padding-x--lg;
    font-size: $input--font-size--lg;
  }

  &.is-xl {
    height: $input--height--xl;
    padding: $input--padding-y--xl $input--padding-x--xl;
    font-size: $input--font-size--xl;
  }
}

.input-wrapper {
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  height: $input--height;
  min-height: unset;
  padding: $input--padding-y $input--padding-x;
  margin: 0;
  font-size: $input--font-size;
  font-weight: 400;
  line-height: $input--line-height;
  color: $color-main;
  border-color: $border-color;
  border-style: solid;
  border-width: $input--border-width;
  border-radius: $border-radius-base * $scale + $unit;
  outline: none;
  transition: $transition-default;

  @if ($has-dark) {
    .is-dark & {
      color: $color-main-reverse;
      border-color: $border-color-reverse;
    }
  }

  .input {
    flex: auto;
    width: auto;
    padding: 0;
    border-color: transparent;
    border-style: none;
    border-width: 0;
  }

  .input-prefix,
  .input-suffix {
    position: relative;
    box-sizing: border-box;
    flex: none;
    align-items: center;
  }

  .input-prefix {
    display: inline-flex;
    justify-content: flex-start;
    margin-right: $input--padding-x;
  }

  .input-suffix {
    display: inline-flex;
    justify-content: flex-end;
    margin-left: $input--padding-x;
  }

  &.is-xs {
    height: $input--height--xs;
    padding: $input--padding-y--xs $input--padding-x--xs;
    font-size: $input--font-size--xs;
  }

  &.is-sm {
    height: $input--height--sm;
    padding: $input--padding-y--sm $input--padding-x--sm;
    font-size: $input--font-size--sm;
  }

  &.is-lg {
    height: $input--height--lg;
    padding: $input--padding-y--lg $input--padding-x--lg;
    font-size: $input--font-size--lg;
  }

  &.is-xl {
    height: $input--height--xl;
    padding: $input--padding-y--xl $input--padding-x--xl;
    font-size: $input--font-size--xl;
  }
}

.input-placeholder {
  padding: 0;
  font-size: $input--font-size;
  font-weight: 400;
  line-height: $input--line-height;
  color: $color-secondary;
  text-overflow: ellipsis;

  @if ($has-dark) {
    .is-dark & {
      color: $color-secondary-reverse;
    }
  }

  .is-xs & {
    font-size: $input--font-size--xs;
    line-height: $input--line-height--xs;
  }

  .is-sm & {
    font-size: $input--font-size--sm;
    line-height: $input--line-height--sm;
  }

  .is-lg & {
    font-size: $input--font-size--lg;
    line-height: $input--line-height--lg;
  }

  .is-xl & {
    font-size: $input--font-size--xl;
    line-height: $input--line-height--xl;
  }
}
