@import "../variables";

.input-placeholder {
  &,
  .is-light &,
  &.is-light {
    color: $color-secondary;
  }

  .is-dark &,
  &.is-dark {
    color: $color-secondary-reverse;
  }
}

.input {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  min-width: 0;
  height: auto;
  min-height: unset;
  padding: 4 * $scale + $unit 12 * $scale + $unit;
  margin: 0;
  font-size: $font-size-base * $scale + $unit;
  font-weight: 400;
  line-height: $line-height-default;
  white-space: nowrap;
  cursor: text;
  border-style: solid;
  border-width: 1 * $scale + $unit;
  border-radius: $border-radius-base * $scale + $unit;
  outline: none;
  transition: $transition-default;

  &:placeholder-shown {
    text-overflow: ellipsis;
  }

  &,
  .is-light &,
  &.is-light {
    color: $color-main;
    background-color: $container-background-color;
    border-color: $border-color;

    // &:hover {
    //   color: $color-main;
    //   background-color: $container-background-color;
    //   border-color: $primary-6;
    // }

    &:focus,
    &:focus-within {
      color: $color-main;
      background-color: $container-background-color;
      border-color: $primary-6;
    }

    &:active {
      color: $color-main;
      background-color: $container-background-color;
      border-color: $primary-6;
    }
  }

  .is-dark &,
  &.is-dark {
    color: $color-main-reverse;
    background-color: $container-background-color-reverse;
    border-color: $border-color-reverse;

    // &:hover {
    //   color: $color-main-reverse;
    //   background-color: $container-background-color-reverse;
    //   border-color: $primary-6-reverse;
    // }

    &:focus,
    &:focus-within {
      color: $color-main-reverse;
      background-color: $container-background-color-reverse;
      border-color: $primary-6-reverse;
    }

    &:active {
      color: $color-main-reverse;
      background-color: $container-background-color-reverse;
      border-color: $primary-6-reverse;
    }
  }

  &.is-small {
    padding: 0 8 * $scale + $unit;
    font-size: $font-size-base * $scale + $unit;
  }

  &.is-large {
    padding: 6 * $scale + $unit 16 * $scale + $unit;
    font-size: ($font-size-base + $font-size-diff) * $scale + $unit;
  }
}

.input-wrapper {
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  height: auto;
  min-height: unset;
  padding: 4 * $scale + $unit 12 * $scale + $unit;
  margin: 0;
  font-size: $font-size-base * $scale + $unit;
  font-weight: 400;
  line-height: $line-height-default;
  border-style: solid;
  border-width: 1 * $scale + $unit;
  border-radius: $border-radius-base * $scale + $unit;
  outline: none;
  transition: $transition-default;

  &,
  .is-light &,
  &.is-light {
    color: $color-main;
    background-color: $container-background-color;
    border-color: $border-color;

    // &:hover {
    //   color: $color-main;
    //   background-color: $container-background-color;
    //   border-color: $primary-6;
    // }

    &:focus,
    &:focus-within {
      color: $color-main;
      background-color: $container-background-color;
      border-color: $primary-6;
    }

    &:active {
      color: $color-main;
      background-color: $container-background-color;
      border-color: $primary-6;
    }
  }

  .is-dark &,
  &.is-dark {
    color: $color-main-reverse;
    background-color: $container-background-color-reverse;
    border-color: $border-color-reverse;

    // &:hover {
    //   color: $color-main-reverse;
    //   background-color: $container-background-color-reverse;
    //   border-color: $primary-6-reverse;
    // }

    &:focus,
    &:focus-within {
      color: $color-main-reverse;
      background-color: $container-background-color-reverse;
      border-color: $primary-6-reverse;
    }

    &:active {
      color: $color-main-reverse;
      background-color: $container-background-color-reverse;
      border-color: $primary-6-reverse;
    }
  }

  > .input {
    flex: auto;
    width: auto;
    padding: 0;
    border-color: transparent;
    border-style: none;
    border-width: 0;

    &.is-small,
    &.is-large {
      padding: 0;
      font-size: $font-size-base * $scale + $unit;
    }
  }

  > .input-prefix,
  > .input-suffix {
    position: relative;
    box-sizing: border-box;
    flex: none;
    align-items: center;
  }

  > .input-prefix {
    display: inline-flex;
    justify-content: flex-start;
    margin-right: 4 * $scale + $unit;
  }

  > .input-suffix {
    display: inline-flex;
    justify-content: flex-end;
    margin-left: 4 * $scale + $unit;
  }

  &.is-small {
    padding: 0 8 * $scale + $unit;
    font-size: $font-size-base * $scale + $unit;

    > .input {
      font-size: $font-size-base * $scale + $unit;
    }
  }

  &.is-large {
    padding: 6 * $scale + $unit 16 * $scale + $unit;
    font-size: ($font-size-base + $font-size-diff) * $scale + $unit;

    > .input {
      font-size: ($font-size-base + $font-size-diff) * $scale + $unit;
    }
  }
}
