@import "../variables";

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  position: relative;
  width: $font-size-base * $line-height-default * $scale + $unit;
  height: $font-size-base * $line-height-default * $scale + $unit;
  margin: 0;
  font-size: 0;
  color: transparent;
  background-image: linear-gradient(to right, $gray-7 10%, rgba(255, 255, 255, 0) 42%);
  border-radius: 50%;
  transform: translateZ(0);
  animation: load 1s infinite linear;

  &.is-xs {
    width: ($font-size-base - $font-size-diff * 2) * $line-height-default * $scale + $unit;
    height: ($font-size-base - $font-size-diff * 2) * $line-height-default * $scale + $unit;
  }

  &.is-sm {
    width: ($font-size-base - $font-size-diff) * $line-height-default * $scale + $unit;
    height: ($font-size-base - $font-size-diff) * $line-height-default * $scale + $unit;
  }

  &.is-lg {
    width: ($font-size-base + $font-size-diff) * $line-height-default * $scale + $unit;
    height: ($font-size-base + $font-size-diff) * $line-height-default * $scale + $unit;
  }

  &.is-xl {
    width: ($font-size-base + $font-size-diff * 2) * $line-height-default * $scale + $unit;
    height: ($font-size-base + $font-size-diff * 2) * $line-height-default * $scale + $unit;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    content: "";
    background-color: $gray-7;
    border-radius: 100% 0 0;
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 75%;
    height: 75%;
    margin: auto;
    content: "";
    background-color: $container-background-color;
    border-radius: 50%;
  }

  &.is-primary {
    background-image: linear-gradient(to right, $primary 10%, rgba(255, 255, 255, 0) 42%);
  }

  &.is-primary::before {
    background-color: $primary;
  }

  &.is-success {
    background-image: linear-gradient(to right, $success 10%, rgba(255, 255, 255, 0) 42%);
  }

  &.is-success::before {
    background-color: $success;
  }

  &.is-warning {
    background-image: linear-gradient(to right, $warning 10%, rgba(255, 255, 255, 0) 42%);
  }

  &.is-warning::before {
    background-color: $warning;
  }

  &.is-error {
    background-image: linear-gradient(to right, $error 10%, rgba(255, 255, 255, 0) 42%);
  }

  &.is-error::before {
    background-color: $error;
  }

  &.is-info {
    background-image: linear-gradient(to right, $info 10%, rgba(255, 255, 255, 0) 42%);
  }

  &.is-info::before {
    background-color: $info;
  }

  @if ($has-dark) {
    .is-dark &::after {
      background-color: $container-background-color-reverse;
    }

    .is-dark &.is-primary {
      background-image: linear-gradient(to right, $primary-reverse 10%, rgba(255, 255, 255, 0) 42%);
    }

    .is-dark &.is-primary::before {
      background-color: $primary-reverse;
    }

    .is-dark &.is-success {
      background-image: linear-gradient(to right, $success-reverse 10%, rgba(255, 255, 255, 0) 42%);
    }

    .is-dark &.is-success::before {
      background-color: $success-reverse;
    }

    .is-dark &.is-warning {
      background-image: linear-gradient(to right, $warning-reverse 10%, rgba(255, 255, 255, 0) 42%);
    }

    .is-dark &.is-warning::before {
      background-color: $warning-reverse;
    }

    .is-dark &.is-error {
      background-image: linear-gradient(to right, $error-reverse 10%, rgba(255, 255, 255, 0) 42%);
    }

    .is-dark &.is-error::before {
      background-color: $error-reverse;
    }

    .is-dark &.is-info {
      background-image: linear-gradient(to right, $info-reverse 10%, rgba(255, 255, 255, 0) 42%);
    }

    .is-dark &.is-info::before {
      background-color: $info-reverse;
    }
  }

  &.is-white {
    background-image: linear-gradient(to right, $white 10%, rgba(255, 255, 255, 0) 42%);
  }

  &.is-white::before {
    background-color: $white;
  }
}
