@import "../variables/index";

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $overlay-z-index;
  width: $overlay-width;
  height: $overlay-height;
  overflow: auto;
  outline: none;

  &,
  .is-light &,
  &.is-light {
    color: $overlay-color;
    background-color: $overlay-background-color;
  }

  .is-dark &,
  &.is-dark {
    color: $overlay-color-reverse;
    background-color: $overlay-background-color-reverse;
  }
}
