@import "../variables";

/* variables */
// z-index
$overlay--z-index: $z-index-max - $z-index-step !default; // 40
// background-color
$overlay--background-color: fade-out($black, 0.55) !default; // rgba(0, 0, 0, 0.45)

/* styles */
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $overlay--z-index;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  color: $color-main;
  background-color: $overlay--background-color;
  outline: none;
  transition: $transition-default;

  @if ($has-dark) {
    .is-dark & {
      color: $color-main-reverse;
    }
  }

  &.is-hidden {
    z-index: -$overlay--z-index;
    opacity: 0;
  }
}
