[class*="btn"] {
  position: $position-relative;
  box-sizing: $box-sizing-border-box;
  display: $display-flex;
  flex: $flex-grow-0 $flex-shrink-0 $auto;
  flex-direction: $flex-direction-row;
  align-items: $align-items-center;
  justify-content: $justify-content-center;
  padding: $spacing-0 $spacing-24;
  margin: $spacing-0;
  font-size: $font-size-14;
  font-weight: $font-weight-400;
  line-height: 2.4;
  text-align: $text-align-center;
  border-style: $border-style-solid;
  border-width: $spacing-1;
  border-radius: $spacing-0;
  transition: color .5s, background-color .5s, border-color .5s;

  &,
  .light & {
    color: $color-main;
    background-color: $background-color-default;
    border-color: $border-color-default;

    &.primary {
      color: $ad-gray-1;
      background-color: $color-primary;
      border-color: $color-primary;

      &:active {
        background-color: f-ad-get-color($color-primary, 7);
        border-color: f-ad-get-color($color-primary, 7);
      }

      &.ghost {
        color: $color-primary;
        background-color: $color-transparent;

        &:active {
          color: $ad-gray-1;
          background-color: $color-primary;
        }
      }
    }

    &.success {
      color: $ad-gray-1;
      background-color: $color-success;
      border-color: $color-success;

      &:active {
        background-color: f-ad-get-color($color-success, 7);
        border-color: f-ad-get-color($color-success, 7);
      }

      &.ghost {
        color: $color-success;
        background-color: $color-transparent;

        &:active {
          color: $ad-gray-1;
          background-color: $color-success;
        }
      }
    }

    &.warning {
      color: $ad-gray-1;
      background-color: $color-warning;
      border-color: $color-warning;

      &:active {
        background-color: f-ad-get-color($color-warning, 7);
        border-color: f-ad-get-color($color-warning, 7);
      }

      &.ghost {
        color: $color-warning;
        background-color: $color-transparent;

        &:active {
          color: $ad-gray-1;
          background-color: $color-warning;
        }
      }
    }

    &.error {
      color: $ad-gray-1;
      background-color: $color-error;
      border-color: $color-error;

      &:active {
        background-color: f-ad-get-color($color-error, 7);
        border-color: f-ad-get-color($color-error, 7);
      }

      &.ghost {
        color: $color-error;
        background-color: $color-transparent;

        &:active {
          color: $ad-gray-1;
          background-color: $color-error;
        }
      }
    }

    &.info {
      color: $ad-gray-1;
      background-color: $color-info;
      border-color: $color-info;

      &:active {
        background-color: f-ad-get-color($color-info, 7);
        border-color: f-ad-get-color($color-info, 7);
      }

      &.ghost {
        color: $color-info;
        background-color: $color-transparent;

        &:active {
          color: $ad-gray-1;
          background-color: $color-info;
        }
      }
    }
  }

  .dark & {
    color: $color-main-reverse;
    background-color: $background-color-default-reverse;
    border-color: $border-color-default-reverse;

    &.primary {
      background-color: $color-primary-reverse;
      border-color: $color-primary-reverse;

      &:active {
        background-color: mix(f-ad-get-color($color-primary-reverse, 5), $ad-gray-12, 90%);
        border-color: mix(f-ad-get-color($color-primary-reverse, 5), $ad-gray-12, 90%);
      }

      &.ghost {
        color: $color-primary-reverse;
        background-color: $color-transparent;

        &:active {
          color: $color-main-reverse;
          background-color: $color-primary-reverse;
        }
      }
    }

    &.success {
      background-color: $color-success-reverse;
      border-color: $color-success-reverse;

      &:active {
        background-color: mix(f-ad-get-color($color-success-reverse, 5), $ad-gray-12, 90%);
        border-color: mix(f-ad-get-color($color-success-reverse, 5), $ad-gray-12, 90%);
      }

      &.ghost {
        color: $color-success-reverse;
        background-color: $color-transparent;

        &:active {
          color: $color-main-reverse;
          background-color: $color-success-reverse;
        }
      }
    }

    &.warning {
      background-color: $color-warning-reverse;
      border-color: $color-warning-reverse;

      &:active {
        background-color: mix(f-ad-get-color($color-warning-reverse, 5), $ad-gray-12, 90%);
        border-color: mix(f-ad-get-color($color-warning-reverse, 5), $ad-gray-12, 90%);
      }

      &.ghost {
        color: $color-warning-reverse;
        background-color: $color-transparent;

        &:active {
          color: $color-main-reverse;
          background-color: $color-warning-reverse;
        }
      }
    }

    &.error {
      background-color: $color-error-reverse;
      border-color: $color-error-reverse;

      &:active {
        background-color: mix(f-ad-get-color($color-error-reverse, 5), $ad-gray-12, 90%);
        border-color: mix(f-ad-get-color($color-error-reverse, 5), $ad-gray-12, 90%);
      }

      &.ghost {
        color: $color-error-reverse;
        background-color: $color-transparent;

        &:active {
          color: $color-main-reverse;
          background-color: $color-error-reverse;
        }
      }
    }

    &.info {
      background-color: $color-info-reverse;
      border-color: $color-info-reverse;

      &:active {
        background-color: mix(f-ad-get-color($color-info-reverse, 5), $ad-gray-12, 90%);
        border-color: mix(f-ad-get-color($color-info-reverse, 5), $ad-gray-12, 90%);
      }

      &.ghost {
        color: $color-info-reverse;
        background-color: $color-transparent;

        &:active {
          color: $color-main-reverse;
          background-color: $color-info-reverse;
        }
      }
    }
  }

  &::after {
    border: $none;
    border-radius: $spacing-0;
  }
}
