.btn,
[class*="btn-"] {
  box-sizing: $box-sizing-border-box;
  display: $display-flex;
  flex: $flex-grow-0 $flex-shrink-0 $auto;
  flex-direction: $flex-direction-row;
  align-items: $align-items-center;
  justify-content: $justify-content-center;
  padding: $spacing-0 $spacing-24;
  margin: $spacing-0;
  font-size: $font-size-default;
  font-weight: $font-weight-default;
  line-height: 2.4;
  text-align: $text-align-center;
  border-style: $border-style-solid;
  border-width: $spacing-1;
  border-radius: $spacing-0;

  &,
  .light & {
    color: $color-main;
    background-color: $background-color-default;
    border-color: $border-color-default;
  }

  .dark & {
    color: $color-main-reverse;
    background-color: $background-color-default-reverse;
    border-color: $border-color-default-reverse;
  }

  &::after {
    border: $none;
    border-radius: $spacing-0;
  }

  &.primary,
  &.success,
  &.warning,
  &.error,
  &.info {
    color: $color-white;
  }

  &.primary {
    background-color: $color-primary;
    border-color: $color-primary;

    &.ghost {
      color: $color-primary;
      background-color: $color-transparent;
    }
  }

  &.success {
    background-color: $color-success;
    border-color: $color-success;

    &.ghost {
      color: $color-success;
      background-color: $color-transparent;
    }
  }

  &.warning {
    background-color: $color-warning;
    border-color: $color-warning;

    &.ghost {
      color: $color-warning;
      background-color: $color-transparent;
    }
  }

  &.error {
    background-color: $color-error;
    border-color: $color-error;

    &.ghost {
      color: $color-error;
      background-color: $color-transparent;
    }
  }

  &.info {
    background-color: $color-info;
    border-color: $color-info;

    &.ghost {
      color: $color-info;
      background-color: $color-transparent;
    }
  }
}
