/* card */
.card,
[class*="card-"] {
  @include m-position-reset();
  @include m-box-sizing-reset();
  @include m-display-reset();
  flex: 0 0 100%;
  @include m-flex-axis($flex-column);
  @include m-sizing($sizing-full, $sizing-auto);
  @include m-font-family-reset();
  @include m-font-size-reset();
  @include m-font-weight-reset();
  @include m-line-height-reset();
  @include m-color($color-main);
  @include m-background-color($color-white);
  @include m-border-radius-reset();

  &.full {
    @include m-sizing($sizing-full, $sizing-full);
  }

  &.is-vertical {
    flex: 0 0 $sizing-auto;
    @include m-sizing($sizing-full, $sizing-auto);

    &.full {
      flex: 0 0 100%;
      @include m-sizing($sizing-full, $sizing-full);
    }
  }

  &.border {
    @include m-border-reset();
  }

  &.shadow {
    @include m-box-shadow(7);
  }

  & > .header,
  & > .content,
  & > .footer {
    @include m-position-reset();
    @include m-box-sizing-reset();
    @include m-display-reset();
    flex: 0 0 $flex-auto;
    @include m-sizing-width($sizing-full);
  }

  & > .header,
  & > .content,
  & > .footer {
    @include m-spacing-padding($spacing-xl);
  }

  & > .header,
  & > .footer {
    @include m-flex-axis($flex-row, $flex-center);

    &.center {
      @include m-flex-axis($flex-row, $flex-center, $flex-center);
    }

    &.right,
    &.end {
      @include m-flex-axis($flex-row, $flex-center, $flex-end);
    }

    &.space-between {
      @include m-flex-axis($flex-row, $flex-center, $flex-space-between);

      & > .item {
        flex: 1;
      }
    }
  }

  & > .header {
    flex: 0 0 $flex-auto;
    @include m-font-size($font-size-a-2);
    @include m-font-weight($font-weight-bold);
    @include m-line-height($line-height-a-2);

    &.border {
      @include m-border-bottom-reset();
    }
  }

  & > .content {
    @include m-flex-axis($flex-column);

    &.center {
      @include m-flex-axis($flex-column, $flex-center, $flex-center);
    }

    &.full {
      flex: auto;
    }

    & > .item {
      @include m-sizing-width($sizing-full);
    }
  }

  & > .footer.border {
    @include m-border-top-reset();
  }
}