.wrapper-dialog {
  position: $position-fixed;
  z-index: $z-index-2400;
  display: $display-flex;
  flex-direction: $flex-direction-row;
  align-items: $align-items-center;
  justify-content: $justify-content-center;
  width: $ratio-100;
  height: $ratio-100;

  &,
  .light & {
    background-color: $background-color-mask;
  }

  .dark & {
    background-color: $background-color-mask-reverse;
  }

  & > view[class*="dialog"] {
    position: $position-relative;
    width: $ratio-80;
    height: $auto;
    padding: $spacing-24;

    & > .icon-close {
      width: $spacing-40;
      height: $spacing-40;
      border-radius: $ratio-50;
    }
  }
}
