[class*="form"]:not([class="form-item"]) {
  position: $position-relative;
  box-sizing: $box-sizing-border-box;
  display: $display-flex;
  flex-direction: $flex-direction-column;
  width: $ratio-80;
  height: $auto;
  padding: $spacing-24;

  &,
  .light & {
    color: $color-main;
    background-color: $background-color-default;
  }

  .dark & {
    color: $color-main-reverse;
    background-color: $background-color-default-reverse;
  }

  & > .form-item {
    position: $position-relative;
    box-sizing: $box-sizing-border-box;
    display: $display-flex;
    flex: $flex-grow-0 $flex-shrink-0 $auto;
    flex-direction: $flex-direction-row;
    align-items: $align-items-center;
    justify-content: $justify-content-center;
    width: $ratio-100;
    height: $auto;
    margin-bottom: $spacing-18;

    &:last-child {
      margin-bottom: $spacing-0;
    }

    & > .label {
      position: $position-relative;
      box-sizing: $box-sizing-border-box;
      display: $display-flex;
      flex: $flex-grow-0 $flex-shrink-0 $spacing-120;
      flex-direction: $flex-direction-row;
      align-items: $align-items-center;
      justify-content: $justify-content-flex-end;

      &.icon {
        flex-basis: $spacing-40;
        justify-content: $justify-content-center;
      }

      & + .content {
        margin-left: $spacing-12;
      }
    }

    & > .content {
      position: $position-relative;
      box-sizing: $box-sizing-border-box;
      display: $display-flex;
      flex: $auto;
    }
  }
}
