/* form */
[class*="form-"] {
  @include m-position-reset();
  @include m-box-sizing-reset();
  @include m-display-reset();
  @include m-flex-axis($flex-column);
  @include m-sizing-width($sizing-80-pct);
  @include m-sizing-height();
  @include m-spacing-padding($spacing-xl);
  @include m-background-color-reset();

  .item {
    @include m-position-reset();
    @include m-box-sizing-reset();
    @include m-display-reset();
    @include m-flex-axis($flex-row, $flex-center, $flex-center);
    @include m-sizing-width($sizing-100-pct);
    @include m-sizing-height();
    @include m-spacing-margin-bottom($spacing-lg);

    &:last-child {
      @include m-spacing-margin-reset();
    }

    .label {
      @include m-position-reset();
      @include m-box-sizing-reset();
      @include m-display-reset();
      @include m-flex-axis($flex-row, $flex-center, $flex-end);
      flex: 0 0 $sizing-layout-xxxxl;

      &.use-icon {
        @include m-flex-axis-center();
        flex: 0 0 $sizing-icon-md;
      }

      & + .content {
        @include m-spacing-margin-left($spacing-sm);
      }
    }

    .content {
      @include m-position-reset();
      @include m-box-sizing-reset();
      @include m-display-reset();
      flex: $flex-auto;
    }
  }
}
