$icon-sizing-map: (
  4xs: $spacing-2,
  3xs: $spacing-4,
  2xs: $spacing-8,
  xs: $spacing-12,
  sm: $spacing-16,
  md: $spacing-20,
  lg: $spacing-24,
  xl: $spacing-28,
  2xl: $spacing-32,
  3xl: $spacing-36,
  4xl: $spacing-40
);

$icon-sizing-list: map-keys($icon-sizing-map);

@each $size in $icon-sizing-list {
  .icon-#{$size},
  .img-#{$size} {
    flex: 0 0 map-get($icon-sizing-map, $size);
    width: map-get($icon-sizing-map, $size);
    height: map-get($icon-sizing-map, $size);

    & + text {
      margin-left: $spacing-4;
    }
  }
}
