/* input */
.wrapper-input {
  @include m-box-sizing-reset();
  @include m-display-reset();
  @include m-flex-axis($flex-row, $flex-center, $flex-center);
  min-width: f-get-sizing($sizing-layout-base, $sizing-layout-step, 8);
  @include m-sizing-height($sizing-layout-md);
  @include m-border-reset();
  @include m-border-color-reset();
  @include m-border-radius-reset();

  &.border-none {
    @include m-border-none();
  }

  &.border-bottom {
    @include m-border-top-none();
    @include m-border-right-none();
    @include m-border-left-none();
  }

  .prefix {
    @include m-box-sizing-reset();
    flex: 0 0 $sizing-icon-md;
    @include m-flex-order-reset();
    @include m-sizing-square($sizing-icon-md);
    @include m-spacing-margin-left($spacing-sm);
    @include m-font-size($font-size-m-2);
    @include m-line-height($sizing-icon-md);
  }

  .suffix {
    @include m-box-sizing-reset();
    flex: 0 0 $sizing-icon-md;
    @include m-flex-order($flex-order-2);
    @include m-sizing-square($sizing-icon-md);
    @include m-spacing-margin-right($spacing-sm);
    @include m-font-size($font-size-m-2);
    @include m-line-height($sizing-icon-md);
  }

  [class*="input-"] {
    @include m-box-sizing-reset();
    flex: $flex-auto;
    @include m-flex-order($flex-order-1);
    height: $sizing-100-pct;
    @include m-spacing-margin-horizontal($spacing-xl);

    &:hover,
    &:focus,
    &:active {
      @include m-border-color($primary-color);
    }
  }

  .input-placeholder {
    @include m-spacing-margin-reset();
  }
}
