.wrapper-input {
  position: $position-relative;
  box-sizing: $box-sizing-border-box;
  display: $display-flex;
  flex-direction: $flex-direction-row;
  align-items: $align-items-center;
  justify-content: $justify-content-center;
  min-width: $spacing-144;
  min-height: $spacing-80;
  border-style: $border-style-solid;
  border-width: $spacing-1;
  border-radius: $spacing-6;

  &,
  .light & {
    color: $color-main;
    border-color: $border-color-default;
  }

  .dark & {
    color: $color-main-reverse;
    border-color: $border-color-default-reverse;
  }

  & > .prefix {
    position: $position-relative;
    box-sizing: $box-sizing-border-box;
    flex: $flex-grow-0 $flex-shrink-0 $spacing-40;
    order: $order-first;
    width: $spacing-40;
    height: $spacing-40;
    margin-left: $spacing-8;
    font-size: $font-size-12;
    line-height: $line-height-40;

    & + input[class*="input-"] {
      margin-left: $spacing-18;
    }
  }

  & > .suffix {
    position: $position-relative;
    box-sizing: $box-sizing-border-box;
    flex: $flex-grow-0 $flex-shrink-0 $spacing-40;
    order: $order-last;
    width: $spacing-40;
    height: $spacing-40;
    margin-right: $spacing-8;
    font-size: $font-size-12;
    line-height: $line-height-40;

    & + input[class*="input-"] {
      margin-right: $spacing-18;
    }
  }

  & > input[class*="input-"] {
    position: $position-relative;
    box-sizing: $box-sizing-border-box;
    flex: $auto;
    height: $ratio-100;
  }

  .input-placeholder {
    margin: $spacing-0;
  }
}
