/* input */
.wrapper-input {
  @include m-display-reset();
  @include m-flex-axis-center();
  min-width: f-get-sizing($sizing-layout-base, $sizing-layout-step, 8);
  height: $sizing-layout-md;
  @include m-border-reset();
  @include m-border-color-reset();
  @include m-border-radius();

  .prefix {
    flex: 0 0 $sizing-icon-md;
    @include m-flex-order-reset();
    @include m-sizing-square($sizing-icon-md);
    @include m-spacing-padding-left($spacing-sm);
  }

  .suffix {
    flex: 0 0 $sizing-icon-md;
    @include m-flex-order($flex-order-2);
    @include m-sizing-square($sizing-icon-md);
    @include m-spacing-padding-right($spacing-sm);
  }

  [class*="input-"] {
    flex: $flex-auto;
    @include m-flex-order($flex-order-1);
    height: 100%;
    @include m-spacing-padding-horizontal($spacing-sm);

    .prefix + & {
      @include m-spacing-padding-left(f-get-spacing(8));
    }

    .suffix + & {
      @include m-spacing-padding-right(f-get-spacing(10));
    }

    &:hover,
    &:focus,
    &:active {
      @include m-border-color($primary-color);
    }
  }
}