/* 预设 Ant Design 颜色 */

@import "./ad-palette";

$ad-red: #F5222D !default;
$ad-red-1: get-color($ad-red, 1);
$ad-red-2: get-color($ad-red, 2);
$ad-red-3: get-color($ad-red, 3);
$ad-red-4: get-color($ad-red, 4);
$ad-red-5: get-color($ad-red, 5);
$ad-red-6: get-color($ad-red, 6);
$ad-red-7: get-color($ad-red, 7);
$ad-red-8: get-color($ad-red, 8);
$ad-red-9: get-color($ad-red, 9);
$ad-red-10: get-color($ad-red, 10);
$ad-volcano: #FA541C !default;
$ad-volcano1: get-color($ad-volcano, 1);
$ad-volcano2: get-color($ad-volcano, 2);
$ad-volcano3: get-color($ad-volcano, 3);
$ad-volcano4: get-color($ad-volcano, 4);
$ad-volcano5: get-color($ad-volcano, 5);
$ad-volcano6: get-color($ad-volcano, 6);
$ad-volcano7: get-color($ad-volcano, 7);
$ad-volcano8: get-color($ad-volcano, 8);
$ad-volcano9: get-color($ad-volcano, 9);
$ad-volcano10: get-color($ad-volcano, 10);
$ad-orange: #FA8C16 !default;
$ad-orange1: get-color($ad-orange, 1);
$ad-orange2: get-color($ad-orange, 2);
$ad-orange3: get-color($ad-orange, 3);
$ad-orange4: get-color($ad-orange, 4);
$ad-orange5: get-color($ad-orange, 5);
$ad-orange6: get-color($ad-orange, 6);
$ad-orange7: get-color($ad-orange, 7);
$ad-orange8: get-color($ad-orange, 8);
$ad-orange9: get-color($ad-orange, 9);
$ad-orange10: get-color($ad-orange, 10);
$ad-gold: #FAAD14 !default;
$ad-gold1: get-color($ad-gold, 1);
$ad-gold2: get-color($ad-gold, 2);
$ad-gold3: get-color($ad-gold, 3);
$ad-gold4: get-color($ad-gold, 4);
$ad-gold5: get-color($ad-gold, 5);
$ad-gold6: get-color($ad-gold, 6);
$ad-gold7: get-color($ad-gold, 7);
$ad-gold8: get-color($ad-gold, 8);
$ad-gold9: get-color($ad-gold, 9);
$ad-gold10: get-color($ad-gold, 10);
$ad-yellow: #FADB14 !default;
$ad-yellow1: get-color($ad-yellow, 1);
$ad-yellow2: get-color($ad-yellow, 2);
$ad-yellow3: get-color($ad-yellow, 3);
$ad-yellow4: get-color($ad-yellow, 4);
$ad-yellow5: get-color($ad-yellow, 5);
$ad-yellow6: get-color($ad-yellow, 6);
$ad-yellow7: get-color($ad-yellow, 7);
$ad-yellow8: get-color($ad-yellow, 8);
$ad-yellow9: get-color($ad-yellow, 9);
$ad-yellow10: get-color($ad-yellow, 10);
$ad-lime: #A0D911 !default;
$ad-lime1: get-color($ad-lime, 1);
$ad-lime2: get-color($ad-lime, 2);
$ad-lime3: get-color($ad-lime, 3);
$ad-lime4: get-color($ad-lime, 4);
$ad-lime5: get-color($ad-lime, 5);
$ad-lime6: get-color($ad-lime, 6);
$ad-lime7: get-color($ad-lime, 7);
$ad-lime8: get-color($ad-lime, 8);
$ad-lime9: get-color($ad-lime, 9);
$ad-lime10: get-color($ad-lime, 10);
$ad-green: #52C41A !default;
$ad-green1: get-color($ad-green, 1);
$ad-green2: get-color($ad-green, 2);
$ad-green3: get-color($ad-green, 3);
$ad-green4: get-color($ad-green, 4);
$ad-green5: get-color($ad-green, 5);
$ad-green6: get-color($ad-green, 6);
$ad-green7: get-color($ad-green, 7);
$ad-green8: get-color($ad-green, 8);
$ad-green9: get-color($ad-green, 9);
$ad-green10: get-color($ad-green, 10);
$ad-cyan: #13C2C2 !default;
$ad-cyan1: get-color($ad-cyan, 1);
$ad-cyan2: get-color($ad-cyan, 2);
$ad-cyan3: get-color($ad-cyan, 3);
$ad-cyan4: get-color($ad-cyan, 4);
$ad-cyan5: get-color($ad-cyan, 5);
$ad-cyan6: get-color($ad-cyan, 6);
$ad-cyan7: get-color($ad-cyan, 7);
$ad-cyan8: get-color($ad-cyan, 8);
$ad-cyan9: get-color($ad-cyan, 9);
$ad-cyan10: get-color($ad-cyan, 10);
$ad-blue: #1890FF !default;
$ad-blue1: get-color($ad-blue, 1);
$ad-blue2: get-color($ad-blue, 2);
$ad-blue3: get-color($ad-blue, 3);
$ad-blue4: get-color($ad-blue, 4);
$ad-blue5: get-color($ad-blue, 5);
$ad-blue6: get-color($ad-blue, 6);
$ad-blue7: get-color($ad-blue, 7);
$ad-blue8: get-color($ad-blue, 8);
$ad-blue9: get-color($ad-blue, 9);
$ad-blue10: get-color($ad-blue, 10);
$ad-geek-blue: #2F54EB !default;
$ad-geek-blue1: get-color($ad-geek-blue, 1);
$ad-geek-blue2: get-color($ad-geek-blue, 2);
$ad-geek-blue3: get-color($ad-geek-blue, 3);
$ad-geek-blue4: get-color($ad-geek-blue, 4);
$ad-geek-blue5: get-color($ad-geek-blue, 5);
$ad-geek-blue6: get-color($ad-geek-blue, 6);
$ad-geek-blue7: get-color($ad-geek-blue, 7);
$ad-geek-blue8: get-color($ad-geek-blue, 8);
$ad-geek-blue9: get-color($ad-geek-blue, 9);
$ad-geek-blue10: get-color($ad-geek-blue, 10);
$ad-purple: #722ED1 !default;
$ad-purple1: get-color($ad-purple, 1);
$ad-purple2: get-color($ad-purple, 2);
$ad-purple3: get-color($ad-purple, 3);
$ad-purple4: get-color($ad-purple, 4);
$ad-purple5: get-color($ad-purple, 5);
$ad-purple6: get-color($ad-purple, 6);
$ad-purple7: get-color($ad-purple, 7);
$ad-purple8: get-color($ad-purple, 8);
$ad-purple9: get-color($ad-purple, 9);
$ad-purple10: get-color($ad-purple, 10);
$ad-magenta: #EB2F96 !default;
$ad-magenta1: get-color($ad-magenta, 1);
$ad-magenta2: get-color($ad-magenta, 2);
$ad-magenta3: get-color($ad-magenta, 3);
$ad-magenta4: get-color($ad-magenta, 4);
$ad-magenta5: get-color($ad-magenta, 5);
$ad-magenta6: get-color($ad-magenta, 6);
$ad-magenta7: get-color($ad-magenta, 7);
$ad-magenta8: get-color($ad-magenta, 8);
$ad-magenta9: get-color($ad-magenta, 9);
$ad-magenta10: get-color($ad-magenta, 10);
$ad-gray: #BFBFBF !default;
$ad-gray1: #FFF !default;
$ad-gray2: #FAFAFA !default;
$ad-gray3: #F5F5F5 !default;
$ad-gray4: #E8E8E8 !default;
$ad-gray5: #D9D9D9 !default;
$ad-gray6: #BFBFBF !default;
$ad-gray7: #8C8C8C !default;
$ad-gray8: #595959 !default;
$ad-gray9: #262626 !default;
$ad-gray10: #000 !default;
