/* Ant Design v3/v4 颜色 */
@import "./ad-palette";

$ad-red: #f5222d !default;
$ad-red-1: f-ad-get-color($ad-red, 1); // #fff1f0
$ad-red-2: f-ad-get-color($ad-red, 2); // #ffccc7
$ad-red-3: f-ad-get-color($ad-red, 3); // #ffa39e
$ad-red-4: f-ad-get-color($ad-red, 4); // #ff7875
$ad-red-5: f-ad-get-color($ad-red, 5); // #ff4d4f
$ad-red-6: f-ad-get-color($ad-red, 6); // #f5222d
$ad-red-7: f-ad-get-color($ad-red, 7); // #cf1322
$ad-red-8: f-ad-get-color($ad-red, 8); // #a8071a
$ad-red-9: f-ad-get-color($ad-red, 9); // #820014
$ad-red-10: f-ad-get-color($ad-red, 10); // #5c0011
$ad-volcano: #fa541c !default;
$ad-volcano-1: f-ad-get-color($ad-volcano, 1); // #fff2e8
$ad-volcano-2: f-ad-get-color($ad-volcano, 2); // #ffd8bf
$ad-volcano-3: f-ad-get-color($ad-volcano, 3); // #ffbb96
$ad-volcano-4: f-ad-get-color($ad-volcano, 4); // #ff9c6e
$ad-volcano-5: f-ad-get-color($ad-volcano, 5); // #ff7a45
$ad-volcano-6: f-ad-get-color($ad-volcano, 6); // #fa541c
$ad-volcano-7: f-ad-get-color($ad-volcano, 7); // #d4380d
$ad-volcano-8: f-ad-get-color($ad-volcano, 8); // #ad2102
$ad-volcano-9: f-ad-get-color($ad-volcano, 9); // #871400
$ad-volcano-10: f-ad-get-color($ad-volcano, 10); // #610b00
$ad-orange: #fa8c16 !default;
$ad-orange-1: f-ad-get-color($ad-orange, 1); // #fff7e6
$ad-orange-2: f-ad-get-color($ad-orange, 2); // #ffe7ba
$ad-orange-3: f-ad-get-color($ad-orange, 3); // #ffd591
$ad-orange-4: f-ad-get-color($ad-orange, 4); // #ffc069
$ad-orange-5: f-ad-get-color($ad-orange, 5); // #ffa940
$ad-orange-6: f-ad-get-color($ad-orange, 6); // #fa8c16
$ad-orange-7: f-ad-get-color($ad-orange, 7); // #d46b08
$ad-orange-8: f-ad-get-color($ad-orange, 8); // #ad4e00
$ad-orange-9: f-ad-get-color($ad-orange, 9); // #873800
$ad-orange-10: f-ad-get-color($ad-orange, 10); // #612500
$ad-gold: #faad14 !default;
$ad-gold-1: f-ad-get-color($ad-gold, 1); // #fffbe6
$ad-gold-2: f-ad-get-color($ad-gold, 2); // #fff1b8
$ad-gold-3: f-ad-get-color($ad-gold, 3); // #ffe58f
$ad-gold-4: f-ad-get-color($ad-gold, 4); // #ffd666
$ad-gold-5: f-ad-get-color($ad-gold, 5); // #ffc53d
$ad-gold-6: f-ad-get-color($ad-gold, 6); // #faad14
$ad-gold-7: f-ad-get-color($ad-gold, 7); // #d48806
$ad-gold-8: f-ad-get-color($ad-gold, 8); // #ad6800
$ad-gold-9: f-ad-get-color($ad-gold, 9); // #874d00
$ad-gold-10: f-ad-get-color($ad-gold, 10); // #613400
$ad-yellow: #fadb14 !default;
$ad-yellow-1: f-ad-get-color($ad-yellow, 1); // #feffe6
$ad-yellow-2: f-ad-get-color($ad-yellow, 2); // #ffffb8
$ad-yellow-3: f-ad-get-color($ad-yellow, 3); // #fffb8f
$ad-yellow-4: f-ad-get-color($ad-yellow, 4); // #fff566
$ad-yellow-5: f-ad-get-color($ad-yellow, 5); // #ffec3d
$ad-yellow-6: f-ad-get-color($ad-yellow, 6); // #fadb14
$ad-yellow-7: f-ad-get-color($ad-yellow, 7); // #d4b106
$ad-yellow-8: f-ad-get-color($ad-yellow, 8); // #ad8b00
$ad-yellow-9: f-ad-get-color($ad-yellow, 9); // #876800
$ad-yellow-10: f-ad-get-color($ad-yellow, 10); // #614700
$ad-lime: #a0d911 !default;
$ad-lime-1: f-ad-get-color($ad-lime, 1); // #fcffe6
$ad-lime-2: f-ad-get-color($ad-lime, 2); // #f4ffb8
$ad-lime-3: f-ad-get-color($ad-lime, 3); // #eaff8f
$ad-lime-4: f-ad-get-color($ad-lime, 4); // #d3f261
$ad-lime-5: f-ad-get-color($ad-lime, 5); // #bae637
$ad-lime-6: f-ad-get-color($ad-lime, 6); // #a0d911
$ad-lime-7: f-ad-get-color($ad-lime, 7); // #7cb305
$ad-lime-8: f-ad-get-color($ad-lime, 8); // #5b8c00
$ad-lime-9: f-ad-get-color($ad-lime, 9); // #3f6600
$ad-lime-10: f-ad-get-color($ad-lime, 10); // #254000
$ad-green: #52c41a !default;
$ad-green-1: f-ad-get-color($ad-green, 1); // #f6ffed
$ad-green-2: f-ad-get-color($ad-green, 2); // #d9f7be
$ad-green-3: f-ad-get-color($ad-green, 3); // #b7eb8f
$ad-green-4: f-ad-get-color($ad-green, 4); // #95de64
$ad-green-5: f-ad-get-color($ad-green, 5); // #73d13d
$ad-green-6: f-ad-get-color($ad-green, 6); // #52c41a
$ad-green-7: f-ad-get-color($ad-green, 7); // #389e0d
$ad-green-8: f-ad-get-color($ad-green, 8); // #237804
$ad-green-9: f-ad-get-color($ad-green, 9); // #135200
$ad-green-10: f-ad-get-color($ad-green, 10); // #092b00
$ad-cyan: #13c2c2 !default;
$ad-cyan-1: f-ad-get-color($ad-cyan, 1); // #e6fffb
$ad-cyan-2: f-ad-get-color($ad-cyan, 2); // #b5f5ec
$ad-cyan-3: f-ad-get-color($ad-cyan, 3); // #87e8de
$ad-cyan-4: f-ad-get-color($ad-cyan, 4); // #5cdbd3
$ad-cyan-5: f-ad-get-color($ad-cyan, 5); // #36cfc9
$ad-cyan-6: f-ad-get-color($ad-cyan, 6); // #13c2c2
$ad-cyan-7: f-ad-get-color($ad-cyan, 7); // #08979c
$ad-cyan-8: f-ad-get-color($ad-cyan, 8); // #006d75
$ad-cyan-9: f-ad-get-color($ad-cyan, 9); // #00474f
$ad-cyan-10: f-ad-get-color($ad-cyan, 10); // #002329
$ad-blue: #1890ff !default;
$ad-blue-1: f-ad-get-color($ad-blue, 1); // #e6f7ff
$ad-blue-2: f-ad-get-color($ad-blue, 2); // #bae7ff
$ad-blue-3: f-ad-get-color($ad-blue, 3); // #91d5ff
$ad-blue-4: f-ad-get-color($ad-blue, 4); // #69c0ff
$ad-blue-5: f-ad-get-color($ad-blue, 5); // #40a9ff
$ad-blue-6: f-ad-get-color($ad-blue, 6); // #1890ff
$ad-blue-7: f-ad-get-color($ad-blue, 7); // #096dd9
$ad-blue-8: f-ad-get-color($ad-blue, 8); // #0050b3
$ad-blue-9: f-ad-get-color($ad-blue, 9); // #003a8c
$ad-blue-10: f-ad-get-color($ad-blue, 10); // #002766
$ad-geek-blue: #2f54eb !default;
$ad-geek-blue-1: f-ad-get-color($ad-geek-blue, 1); // #f0f5ff
$ad-geek-blue-2: f-ad-get-color($ad-geek-blue, 2); // #d6e4ff
$ad-geek-blue-3: f-ad-get-color($ad-geek-blue, 3); // #adc6ff
$ad-geek-blue-4: f-ad-get-color($ad-geek-blue, 4); // #85a5ff
$ad-geek-blue-5: f-ad-get-color($ad-geek-blue, 5); // #597ef7
$ad-geek-blue-6: f-ad-get-color($ad-geek-blue, 6); // #2f54eb
$ad-geek-blue-7: f-ad-get-color($ad-geek-blue, 7); // #1d39c4
$ad-geek-blue-8: f-ad-get-color($ad-geek-blue, 8); // #10239e
$ad-geek-blue-9: f-ad-get-color($ad-geek-blue, 9); // #061178
$ad-geek-blue-10: f-ad-get-color($ad-geek-blue, 10); // #030852
$ad-purple: #722ed1 !default;
$ad-purple-1: f-ad-get-color($ad-purple, 1); // #f9f0ff
$ad-purple-2: f-ad-get-color($ad-purple, 2); // #efdbff
$ad-purple-3: f-ad-get-color($ad-purple, 3); // #d3adf7
$ad-purple-4: f-ad-get-color($ad-purple, 4); // #b37feb
$ad-purple-5: f-ad-get-color($ad-purple, 5); // #9254de
$ad-purple-6: f-ad-get-color($ad-purple, 6); // #722ed1
$ad-purple-7: f-ad-get-color($ad-purple, 7); // #531dab
$ad-purple-8: f-ad-get-color($ad-purple, 8); // #391085
$ad-purple-9: f-ad-get-color($ad-purple, 9); // #22075e
$ad-purple-10: f-ad-get-color($ad-purple, 10); // #120338
$ad-magenta: #eb2f96 !default;
$ad-magenta-1: f-ad-get-color($ad-magenta, 1); // #fff0f6
$ad-magenta-2: f-ad-get-color($ad-magenta, 2); // #ffd6e7
$ad-magenta-3: f-ad-get-color($ad-magenta, 3); // #ffadd2
$ad-magenta-4: f-ad-get-color($ad-magenta, 4); // #ff85c0
$ad-magenta-5: f-ad-get-color($ad-magenta, 5); // #f759ab
$ad-magenta-6: f-ad-get-color($ad-magenta, 6); // #eb2f96
$ad-magenta-7: f-ad-get-color($ad-magenta, 7); // #c41d7f
$ad-magenta-8: f-ad-get-color($ad-magenta, 8); // #9e1068
$ad-magenta-9: f-ad-get-color($ad-magenta, 9); // #780650
$ad-magenta-10: f-ad-get-color($ad-magenta, 10); // #520339
$ad-gray: #8c8c8c;
$ad-gray-1: #fff !default;
$ad-gray-2: #fafafa !default;
$ad-gray-3: #f5f5f5 !default;
$ad-gray-4: #f0f0f0 !default;
$ad-gray-5: #d9d9d9 !default;
$ad-gray-6: #bfbfbf !default;
$ad-gray-7: #8c8c8c !default;
$ad-gray-8: #595959 !default;
$ad-gray-9: #434343 !default;
$ad-gray-10: #262626 !default;
$ad-gray-11: #1f1f1f !default;
$ad-gray-12: #141414 !default;
$ad-gray-13: #000 !default;
