/* 预设 Ant Design 颜色 */

@import "./ad-palette";

$ad-red: #F5222D !default;
$ad-red-1: get-color($ad-red, 1);
$ad-red-2: get-color($ad-red, 2);
$ad-red-3: get-color($ad-red, 3);
$ad-red-4: get-color($ad-red, 4);
$ad-red-5: get-color($ad-red, 5);
$ad-red-6: get-color($ad-red, 6);
$ad-red-7: get-color($ad-red, 7);
$ad-red-8: get-color($ad-red, 8);
$ad-red-9: get-color($ad-red, 9);
$ad-red-10: get-color($ad-red, 10);
$ad-volcano: #FA541C !default;
$ad-volcano-1: get-color($ad-volcano, 1);
$ad-volcano-2: get-color($ad-volcano, 2);
$ad-volcano-3: get-color($ad-volcano, 3);
$ad-volcano-4: get-color($ad-volcano, 4);
$ad-volcano-5: get-color($ad-volcano, 5);
$ad-volcano-6: get-color($ad-volcano, 6);
$ad-volcano-7: get-color($ad-volcano, 7);
$ad-volcano-8: get-color($ad-volcano, 8);
$ad-volcano-9: get-color($ad-volcano, 9);
$ad-volcano-10: get-color($ad-volcano, 10);
$ad-orange: #FA8C16 !default;
$ad-orange-1: get-color($ad-orange, 1);
$ad-orange-2: get-color($ad-orange, 2);
$ad-orange-3: get-color($ad-orange, 3);
$ad-orange-4: get-color($ad-orange, 4);
$ad-orange-5: get-color($ad-orange, 5);
$ad-orange-6: get-color($ad-orange, 6);
$ad-orange-7: get-color($ad-orange, 7);
$ad-orange-8: get-color($ad-orange, 8);
$ad-orange-9: get-color($ad-orange, 9);
$ad-orange-10: get-color($ad-orange, 10);
$ad-gold: #FAAD14 !default;
$ad-gold-1: get-color($ad-gold, 1);
$ad-gold-2: get-color($ad-gold, 2);
$ad-gold-3: get-color($ad-gold, 3);
$ad-gold-4: get-color($ad-gold, 4);
$ad-gold-5: get-color($ad-gold, 5);
$ad-gold-6: get-color($ad-gold, 6);
$ad-gold-7: get-color($ad-gold, 7);
$ad-gold-8: get-color($ad-gold, 8);
$ad-gold-9: get-color($ad-gold, 9);
$ad-gold-10: get-color($ad-gold, 10);
$ad-yellow: #FADB14 !default;
$ad-yellow-1: get-color($ad-yellow, 1);
$ad-yellow-2: get-color($ad-yellow, 2);
$ad-yellow-3: get-color($ad-yellow, 3);
$ad-yellow-4: get-color($ad-yellow, 4);
$ad-yellow-5: get-color($ad-yellow, 5);
$ad-yellow-6: get-color($ad-yellow, 6);
$ad-yellow-7: get-color($ad-yellow, 7);
$ad-yellow-8: get-color($ad-yellow, 8);
$ad-yellow-9: get-color($ad-yellow, 9);
$ad-yellow-10: get-color($ad-yellow, 10);
$ad-lime: #A0D911 !default;
$ad-lime-1: get-color($ad-lime, 1);
$ad-lime-2: get-color($ad-lime, 2);
$ad-lime-3: get-color($ad-lime, 3);
$ad-lime-4: get-color($ad-lime, 4);
$ad-lime-5: get-color($ad-lime, 5);
$ad-lime-6: get-color($ad-lime, 6);
$ad-lime-7: get-color($ad-lime, 7);
$ad-lime-8: get-color($ad-lime, 8);
$ad-lime-9: get-color($ad-lime, 9);
$ad-lime-10: get-color($ad-lime, 10);
$ad-green: #52C41A !default;
$ad-green-1: get-color($ad-green, 1);
$ad-green-2: get-color($ad-green, 2);
$ad-green-3: get-color($ad-green, 3);
$ad-green-4: get-color($ad-green, 4);
$ad-green-5: get-color($ad-green, 5);
$ad-green-6: get-color($ad-green, 6);
$ad-green-7: get-color($ad-green, 7);
$ad-green-8: get-color($ad-green, 8);
$ad-green-9: get-color($ad-green, 9);
$ad-green-10: get-color($ad-green, 10);
$ad-cyan: #13C2C2 !default;
$ad-cyan-1: get-color($ad-cyan, 1);
$ad-cyan-2: get-color($ad-cyan, 2);
$ad-cyan-3: get-color($ad-cyan, 3);
$ad-cyan-4: get-color($ad-cyan, 4);
$ad-cyan-5: get-color($ad-cyan, 5);
$ad-cyan-6: get-color($ad-cyan, 6);
$ad-cyan-7: get-color($ad-cyan, 7);
$ad-cyan-8: get-color($ad-cyan, 8);
$ad-cyan-9: get-color($ad-cyan, 9);
$ad-cyan-10: get-color($ad-cyan, 10);
$ad-blue: #1890FF !default;
$ad-blue-1: get-color($ad-blue, 1);
$ad-blue-2: get-color($ad-blue, 2);
$ad-blue-3: get-color($ad-blue, 3);
$ad-blue-4: get-color($ad-blue, 4);
$ad-blue-5: get-color($ad-blue, 5);
$ad-blue-6: get-color($ad-blue, 6);
$ad-blue-7: get-color($ad-blue, 7);
$ad-blue-8: get-color($ad-blue, 8);
$ad-blue-9: get-color($ad-blue, 9);
$ad-blue-10: get-color($ad-blue, 10);
$ad-geek-blue: #2F54EB !default;
$ad-geek-blue-1: get-color($ad-geek-blue, 1);
$ad-geek-blue-2: get-color($ad-geek-blue, 2);
$ad-geek-blue-3: get-color($ad-geek-blue, 3);
$ad-geek-blue-4: get-color($ad-geek-blue, 4);
$ad-geek-blue-5: get-color($ad-geek-blue, 5);
$ad-geek-blue-6: get-color($ad-geek-blue, 6);
$ad-geek-blue-7: get-color($ad-geek-blue, 7);
$ad-geek-blue-8: get-color($ad-geek-blue, 8);
$ad-geek-blue-9: get-color($ad-geek-blue, 9);
$ad-geek-blue-10: get-color($ad-geek-blue, 10);
$ad-purple: #722ED1 !default;
$ad-purple-1: get-color($ad-purple, 1);
$ad-purple-2: get-color($ad-purple, 2);
$ad-purple-3: get-color($ad-purple, 3);
$ad-purple-4: get-color($ad-purple, 4);
$ad-purple-5: get-color($ad-purple, 5);
$ad-purple-6: get-color($ad-purple, 6);
$ad-purple-7: get-color($ad-purple, 7);
$ad-purple-8: get-color($ad-purple, 8);
$ad-purple-9: get-color($ad-purple, 9);
$ad-purple-10: get-color($ad-purple, 10);
$ad-magenta: #EB2F96 !default;
$ad-magenta-1: get-color($ad-magenta, 1);
$ad-magenta-2: get-color($ad-magenta, 2);
$ad-magenta-3: get-color($ad-magenta, 3);
$ad-magenta-4: get-color($ad-magenta, 4);
$ad-magenta-5: get-color($ad-magenta, 5);
$ad-magenta-6: get-color($ad-magenta, 6);
$ad-magenta-7: get-color($ad-magenta, 7);
$ad-magenta-8: get-color($ad-magenta, 8);
$ad-magenta-9: get-color($ad-magenta, 9);
$ad-magenta-10: get-color($ad-magenta, 10);
$ad-gray: #BFBFBF !default;
$ad-gray-1: #FFF !default;
$ad-gray-2: #FAFAFA !default;
$ad-gray-3: #F5F5F5 !default;
$ad-gray-4: #E8E8E8 !default;
$ad-gray-5: #D9D9D9 !default;
$ad-gray-6: #BFBFBF !default;
$ad-gray-7: #8C8C8C !default;
$ad-gray-8: #595959 !default;
$ad-gray-9: #262626 !default;
$ad-gray-10: #000 !default;
