/* 预设通用颜色 */
$color-black: #000 !default;
$color-white: #FFF !default;
$color-transparent: transparent !default;

@import "./ad-colors";
@import "./md-colors";

/* 根据配色方案确定主色，成功色，警告色和错误色 */
$primary-color: $ad-blue !default;
$success-color: $ad-green !default;
$warning-color: $ad-gold !default;
$error-color: $ad-red !default;
$info-color: $ad-blue !default;
