/* 预设通用颜色 */
$color-black: #000 !default;
$color-white: #FFF !default;
$color-transparent: transparent !default;

@import "./ad-colors";
@import "./md-colors";

/* 根据配色方案确定主色，成功色，警告色和错误色 */
$primary-color: blue !default;
$success-color: green !default;
$warning-color: yellow !default;
$error-color: red !default;
$info-color: blue !default;

@if ($colors == "md") {
  $primary-color: $md-blue;
  $success-color: $md-green;
  $warning-color: $md-yellow;
  $error-color: $md-red;
  $info-color: $md-blue;
} @else if ($colors == "default") {
  $primary-color: blue;
  $success-color: green;
  $warning-color: yellow;
  $error-color: red;
  $info-color: blue;
} @else {
  $primary-color: $ad-blue;
  $success-color: $ad-green;
  $warning-color: $ad-gold;
  $error-color: $ad-red;
  $info-color: $ad-blue;
}