/* 预设 Material Design 颜色 */
$md-red: #F44336 !default;
$md-red-50: #FFEBEE !default;
$md-red-100: #FFCDD2 !default;
$md-red-200: #EF9A9A !default;
$md-red-300: #E57373 !default;
$md-red-400: #EF5350 !default;
$md-red-500: #F44336 !default;
$md-red-600: #E53935 !default;
$md-red-700: #D32F2F !default;
$md-red-800: #C62828 !default;
$md-red-900: #B71C1C !default;
$md-red-a-100: #FF8A80 !default;
$md-red-a-200: #FF5252 !default;
$md-red-a-400: #FF1744 !default;
$md-red-a-700: #D50000 !default;
$md-pink: #E91E63 !default;
$md-pink-50: #FCE4EC !default;
$md-pink-100: #F8BBD0 !default;
$md-pink-200: #F48FB1 !default;
$md-pink-300: #F06292 !default;
$md-pink-400: #EC407A !default;
$md-pink-500: #E91E63 !default;
$md-pink-600: #D81B60 !default;
$md-pink-700: #C2185B !default;
$md-pink-800: #AD1457 !default;
$md-pink-900: #880E4F !default;
$md-pink-a-100: #FF80AB !default;
$md-pink-a-200: #FF4081 !default;
$md-pink-a-400: #F50057 !default;
$md-pink-a-700: #C51162 !default;
$md-purple: #9C27B0 !default;
$md-purple-50: #F3E5F5 !default;
$md-purple-100: #E1BEE7 !default;
$md-purple-200: #CE93D8 !default;
$md-purple-300: #BA68C8 !default;
$md-purple-400: #AB47BC !default;
$md-purple-500: #9C27B0 !default;
$md-purple-600: #8E24AA !default;
$md-purple-700: #7B1FA2 !default;
$md-purple-800: #6A1B9A !default;
$md-purple-900: #4A148C !default;
$md-purple-a-100: #EA80FC !default;
$md-purple-a-200: #E040FB !default;
$md-purple-a-400: #D500F9 !default;
$md-purple-a-700: #A0F !default;
$md-deep-purple: #673AB7 !default;
$md-deep-purple-50: #EDE7F6 !default;
$md-deep-purple-100: #D1C4E9 !default;
$md-deep-purple-200: #B39DDB !default;
$md-deep-purple-300: #9575CD !default;
$md-deep-purple-400: #7E57C2 !default;
$md-deep-purple-500: #673AB7 !default;
$md-deep-purple-600: #5E35B1 !default;
$md-deep-purple-700: #512DA8 !default;
$md-deep-purple-800: #4527A0 !default;
$md-deep-purple-900: #311B92 !default;
$md-deep-purple-a-100: #B388FF !default;
$md-deep-purple-a-200: #7C4DFF !default;
$md-deep-purple-a-400: #651FFF !default;
$md-deep-purple-a-700: #6200EA !default;
$md-indigo: #3F51B5 !default;
$md-indigo-50: #E8EAF6 !default;
$md-indigo-100: #C5CAE9 !default;
$md-indigo-200: #9FA8DA !default;
$md-indigo-300: #7986CB !default;
$md-indigo-400: #5C6BC0 !default;
$md-indigo-500: #3F51B5 !default;
$md-indigo-600: #3949AB !default;
$md-indigo-700: #303F9F !default;
$md-indigo-800: #283593 !default;
$md-indigo-900: #1A237E !default;
$md-indigo-a-100: #8C9EFF !default;
$md-indigo-a-200: #536DFE !default;
$md-indigo-a-400: #3D5AFE !default;
$md-indigo-a-700: #304FFE !default;
$md-blue: #2196F3 !default;
$md-blue-50: #E3F2FD !default;
$md-blue-100: #BBDEFB !default;
$md-blue-200: #90CAF9 !default;
$md-blue-300: #64B5F6 !default;
$md-blue-400: #42A5F5 !default;
$md-blue-500: #2196F3 !default;
$md-blue-600: #1E88E5 !default;
$md-blue-700: #1976D2 !default;
$md-blue-800: #1565C0 !default;
$md-blue-900: #0D47A1 !default;
$md-blue-a-100: #82B1FF !default;
$md-blue-a-200: #448AFF !default;
$md-blue-a-400: #2979FF !default;
$md-blue-a-700: #2962FF !default;
$md-light-blue: #03A9F4 !default;
$md-light-blue-50: #E1F5FE !default;
$md-light-blue-100: #B3E5FC !default;
$md-light-blue-200: #81D4FA !default;
$md-light-blue-300: #4FC3F7 !default;
$md-light-blue-400: #29B6F6 !default;
$md-light-blue-500: #03A9F4 !default;
$md-light-blue-600: #039BE5 !default;
$md-light-blue-700: #0288D1 !default;
$md-light-blue-800: #0277BD !default;
$md-light-blue-900: #01579B !default;
$md-light-blue-a-100: #80D8FF !default;
$md-light-blue-a-200: #40C4FF !default;
$md-light-blue-a-400: #00B0FF !default;
$md-light-blue-a-700: #0091EA !default;
$md-cyan: #00BCD4 !default;
$md-cyan-50: #E0F7FA !default;
$md-cyan-100: #B2EBF2 !default;
$md-cyan-200: #80DEEA !default;
$md-cyan-300: #4DD0E1 !default;
$md-cyan-400: #26C6DA !default;
$md-cyan-500: #00BCD4 !default;
$md-cyan-600: #00ACC1 !default;
$md-cyan-700: #0097A7 !default;
$md-cyan-800: #00838F !default;
$md-cyan-900: #006064 !default;
$md-cyan-a-100: #84FFFF !default;
$md-cyan-a-200: #18FFFF !default;
$md-cyan-a-400: #00E5FF !default;
$md-cyan-a-700: #00B8D4 !default;
$md-teal: #009688 !default;
$md-teal-50: #E0F2F1 !default;
$md-teal-100: #B2DFDB !default;
$md-teal-200: #80CBC4 !default;
$md-teal-300: #4DB6AC !default;
$md-teal-400: #26A69A !default;
$md-teal-500: #009688 !default;
$md-teal-600: #00897B !default;
$md-teal-700: #00796B !default;
$md-teal-800: #00695C !default;
$md-teal-900: #004D40 !default;
$md-teal-a-100: #A7FFEB !default;
$md-teal-a-200: #64FFDA !default;
$md-teal-a-400: #1DE9B6 !default;
$md-teal-a-700: #00BFA5 !default;
$md-green: #4CAF50 !default;
$md-green-50: #E8F5E9 !default;
$md-green-100: #C8E6C9 !default;
$md-green-200: #A5D6A7 !default;
$md-green-300: #81C784 !default;
$md-green-400: #66BB6A !default;
$md-green-500: #4CAF50 !default;
$md-green-600: #43A047 !default;
$md-green-700: #388E3C !default;
$md-green-800: #2E7D32 !default;
$md-green-900: #1B5E20 !default;
$md-green-a-100: #B9F6CA !default;
$md-green-a-200: #69F0AE !default;
$md-green-a-400: #00E676 !default;
$md-green-a-700: #00C853 !default;
$md-light-green: #8BC34A !default;
$md-light-green-50: #F1F8E9 !default;
$md-light-green-100: #DCEDC8 !default;
$md-light-green-200: #C5E1A5 !default;
$md-light-green-300: #AED581 !default;
$md-light-green-400: #9CCC65 !default;
$md-light-green-500: #8BC34A !default;
$md-light-green-600: #7CB342 !default;
$md-light-green-700: #689F38 !default;
$md-light-green-800: #558B2F !default;
$md-light-green-900: #33691E !default;
$md-light-green-a-100: #CCFF90 !default;
$md-light-green-a-200: #B2FF59 !default;
$md-light-green-a-400: #76FF03 !default;
$md-light-green-a-700: #64DD17 !default;
$md-lime: #CDDC39 !default;
$md-lime-50: #F9FBE7 !default;
$md-lime-100: #F0F4C3 !default;
$md-lime-200: #E6EE9C !default;
$md-lime-300: #DCE775 !default;
$md-lime-400: #D4E157 !default;
$md-lime-500: #CDDC39 !default;
$md-lime-600: #C0CA33 !default;
$md-lime-700: #AFB42B !default;
$md-lime-800: #9E9D24 !default;
$md-lime-900: #827717 !default;
$md-lime-a-100: #F4FF81 !default;
$md-lime-a-200: #EEFF41 !default;
$md-lime-a-400: #C6FF00 !default;
$md-lime-a-700: #AEEA00 !default;
$md-yellow: #FFEB3B !default;
$md-yellow-50: #FFFDE7 !default;
$md-yellow-100: #FFF9C4 !default;
$md-yellow-200: #FFF59D !default;
$md-yellow-300: #FFF176 !default;
$md-yellow-400: #FFEE58 !default;
$md-yellow-500: #FFEB3B !default;
$md-yellow-600: #FDD835 !default;
$md-yellow-700: #FBC02D !default;
$md-yellow-800: #F9A825 !default;
$md-yellow-900: #F57F17 !default;
$md-yellow-a-100: #FFFF8D !default;
$md-yellow-a-200: #FF0 !default;
$md-yellow-a-400: #FFEA00 !default;
$md-yellow-a-700: #FFD600 !default;
$md-amber: #FFC107 !default;
$md-amber-50: #FFF8E1 !default;
$md-amber-100: #FFECB3 !default;
$md-amber-200: #FFE082 !default;
$md-amber-300: #FFD54F !default;
$md-amber-400: #FFCA28 !default;
$md-amber-500: #FFC107 !default;
$md-amber-600: #FFB300 !default;
$md-amber-700: #FFA000 !default;
$md-amber-800: #FF8F00 !default;
$md-amber-900: #FF6F00 !default;
$md-amber-a-100: #FFE57F !default;
$md-amber-a-200: #FFD740 !default;
$md-amber-a-400: #FFC400 !default;
$md-amber-a-700: #FFAB00 !default;
$md-orange: #FF9800 !default;
$md-orange-50: #FFF3E0 !default;
$md-orange-100: #FFE0B2 !default;
$md-orange-200: #FFCC80 !default;
$md-orange-300: #FFB74D !default;
$md-orange-400: #FFA726 !default;
$md-orange-500: #FF9800 !default;
$md-orange-600: #FB8C00 !default;
$md-orange-700: #F57C00 !default;
$md-orange-800: #EF6C00 !default;
$md-orange-900: #E65100 !default;
$md-orange-a-100: #FFD180 !default;
$md-orange-a-200: #FFAB40 !default;
$md-orange-a-400: #FF9100 !default;
$md-orange-a-700: #FF6D00 !default;
$md-deep-orange: #FF5722 !default;
$md-deep-orange-50: #FBE9E7 !default;
$md-deep-orange-100: #FFCCBC !default;
$md-deep-orange-200: #FFAB91 !default;
$md-deep-orange-300: #FF8A65 !default;
$md-deep-orange-400: #FF7043 !default;
$md-deep-orange-500: #FF5722 !default;
$md-deep-orange-600: #F4511E !default;
$md-deep-orange-700: #E64A19 !default;
$md-deep-orange-800: #D84315 !default;
$md-deep-orange-900: #BF360C !default;
$md-deep-orange-a-100: #FF9E80 !default;
$md-deep-orange-a-200: #FF6E40 !default;
$md-deep-orange-a-400: #FF3D00 !default;
$md-deep-orange-a-700: #DD2C00 !default;
$md-brown: #795548 !default;
$md-brown-50: #EFEBE9 !default;
$md-brown-100: #D7CCC8 !default;
$md-brown-200: #BCAAA4 !default;
$md-brown-300: #A1887F !default;
$md-brown-400: #8D6E63 !default;
$md-brown-500: #795548 !default;
$md-brown-600: #6D4C41 !default;
$md-brown-700: #5D4037 !default;
$md-brown-800: #4E342E !default;
$md-brown-900: #3E2723 !default;
$md-gray: #9E9E9E !default;
$md-gray-50: #FAFAFA !default;
$md-gray-100: #F5F5F5 !default;
$md-gray-200: #EEE !default;
$md-gray-300: #E0E0E0 !default;
$md-gray-400: #BDBDBD !default;
$md-gray-500: #9E9E9E !default;
$md-gray-600: #757575 !default;
$md-gray-700: #616161 !default;
$md-gray-800: #424242 !default;
$md-gray-900: #212121 !default;
$md-blue-gray: #607D8B !default;
$md-blue-gray-50: #ECEFF1 !default;
$md-blue-gray-100: #CFD8DC !default;
$md-blue-gray-200: #B0BEC5 !default;
$md-blue-gray-300: #90A4AE !default;
$md-blue-gray-400: #78909C !default;
$md-blue-gray-500: #607D8B !default;
$md-blue-gray-600: #546E7A !default;
$md-blue-gray-700: #455A64 !default;
$md-blue-gray-800: #37474F !default;
$md-blue-gray-900: #263238 !default;
