// flex
@each $key, $val in $m-flex {
  .flex-#{$key} {
    flex: $val;
  }
}

@for $i from 1 to 8 {
  .flex-#{$i} {
    flex: $i;
  }
}

// flex-direction
@each $key, $val in $m-flex-direction {
  .flex-#{$key} {
    flex-direction: $val;
  }
}

// flex-wrap
@each $key, $val in $m-flex-wrap {
  .flex-#{$key} {
    flex-wrap: $val;
  }
}

// flex-shrink
.flex-shrink {
  flex-shrink: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

// flex-grow
.flex-grow {
  flex-grow: 1;
}

.flex-grow-0 {
  flex-grow: 0;
}

// align-content
@each $key, $val in $m-align-content {
  .content-#{$key} {
    align-content: $val;
  }
}

// align-items
@each $key, $val in $m-align-items {
  .items-#{$key} {
    align-items: $val;
  }
}

// align-self
@each $key, $val in $m-align-self {
  .self-#{$key} {
    align-self: $val;
  }
}

// justify-content
@each $key, $val in $m-justify-content {
  .justify-#{$key} {
    justify-content: $val;
  }
}

// order
@for $i from 0 through 23 {
  .order-#{$i} {
    order: $i;
  }
}

@each $key, $val in $m-order {
  .order-#{$key} {
    order: $val;
  }
}
