@each $key, $val in $m-spacing {
  .m#{$key} {
    margin: $val;
  }

  .m-y#{$key} {
    margin-top: $val;
    margin-bottom: $val;
  }

  .m-t#{$key} {
    margin-top: $val;
  }

  .m-b#{$key} {
    margin-bottom: $val;
  }

  .m-x#{$key} {
    margin-right: $val;
    margin-left: $val;
  }

  .m-r#{$key} {
    margin-right: $val;
  }

  .m-l#{$key} {
    margin-left: $val;
  }
}
