@each $k, $v in $m-flex {
  .flex#{$k} {
    flex: $v;
  }
}

@each $k, $v in $m-flex-direction {
  .flex#{$k} {
    flex-direction: $v;
  }
}

@each $k, $v in $m-flex-wrap {
  .flex#{$k} {
    flex-wrap: $v;
  }
}

@each $k, $v in $m-flex-shrink {
  .flex-shrink#{$k} {
    flex-shrink: $v;
  }
}

@each $k, $v in $m-flex-grow {
  .flex-grow#{$k} {
    flex-grow: $v;
  }
}

@each $k, $v in $m-align-content {
  .align-content#{$k} {
    align-content: $v;
  }
}

@each $k, $v in $m-align-items {
  .align#{$k} {
    align-items: $v;
  }
}

@each $k, $v in $m-align-self {
  .align-self#{$k} {
    align-self: $v;
  }
}

@each $k, $v in $m-justify-content {
  .justify#{$k} {
    justify-content: $v;
  }
}

@each $k, $v in $m-order {
  .order#{$k} {
    order: $v;
  }
}
