@import "../../variables";

@each $k, $v in $m-margin {
  .m#{$k} {
    margin: $v if($has-important, !important, "");
  }

  .my#{$k} {
    margin-top: $v if($has-important, !important, "");
    margin-bottom: $v if($has-important, !important, "");
  }

  .mt#{$k} {
    margin-top: $v if($has-important, !important, "");
  }

  .mb#{$k} {
    margin-bottom: $v if($has-important, !important, "");
  }

  .mx#{$k} {
    margin-right: $v if($has-important, !important, "");
    margin-left: $v if($has-important, !important, "");
  }

  .mr#{$k} {
    margin-right: $v if($has-important, !important, "");
  }

  .ml#{$k} {
    margin-left: $v if($has-important, !important, "");
  }
}
