@import "../../variables";

@each $k, $v in $m-overflow {
  .overflow#{$k} {
    overflow: $v if($has-important, !important, "");
  }

  .overflow-y#{$k} {
    overflow-y: $v if($has-important, !important, "");
  }

  .overflow-x#{$k} {
    overflow-y: $v if($has-important, !important, "");
  }
}
