@import "../../variables";

@each $k, $v in $m-padding {
  .p#{$k} {
    padding: $v if($has-important, !important, "");
  }

  .py#{$k} {
    padding-top: $v if($has-important, !important, "");
    padding-bottom: $v if($has-important, !important, "");
  }

  .px#{$k} {
    padding-right: $v if($has-important, !important, "");
    padding-left: $v if($has-important, !important, "");
  }

  .pt#{$k} {
    padding-top: $v if($has-important, !important, "");
  }

  .pb#{$k} {
    padding-bottom: $v if($has-important, !important, "");
  }

  .pr#{$k} {
    padding-right: $v if($has-important, !important, "");
  }

  .pl#{$k} {
    padding-left: $v if($has-important, !important, "");
  }
}
