@import "../../variables";

@each $k, $v in $m-padding {
  .p#{$k} {
    padding: $v;
  }

  .py#{$k} {
    padding-top: $v;
    padding-bottom: $v;
  }

  .px#{$k} {
    padding-right: $v;
    padding-left: $v;
  }

  .pt#{$k} {
    padding-top: $v;
  }

  .pb#{$k} {
    padding-bottom: $v;
  }

  .pr#{$k} {
    padding-right: $v;
  }

  .pl#{$k} {
    padding-left: $v;
  }
}
