.relative {
  position: $position-relative;
}

.absolute {
  position: $position-absolute;
}

.fixed {
  position: $position-fixed;
}

.static {
  position: $position-static;
}

.top-0 {
  top: $spacing-0;
}

.top-auto {
  top: $spacing-auto;
}

.right-0 {
  right: $spacing-0;
}

.right-auto {
  right: $spacing-auto;
}

.bottom-0 {
  bottom: $spacing-0;
}

.bottom-auto {
  bottom: $spacing-auto;
}

.left-0 {
  left: $spacing-0;
}

.left-auto {
  left: $spacing-auto;
}

.inset-0 {
  top: $spacing-0;
  right: $spacing-0;
  bottom: $spacing-0;
  left: $spacing-0;
}

.inset-auto {
  top: $spacing-auto;
  right: $spacing-auto;
  bottom: $spacing-auto;
  left: $spacing-auto;
}

.inset-y-0 {
  top: $spacing-0;
  bottom: $spacing-0;
}

.inset-y-auto {
  top: $spacing-auto;
  bottom: $spacing-auto;
}

.inset-x-0 {
  right: $spacing-0;
  left: $spacing-0;
}

.inset-x-auto {
  right: $spacing-auto;
  left: $spacing-auto;
}
