.z-0 {
  z-index: $z-index-0;
}

.z-100 {
  z-index: $z-index-100;
}

.z-200 {
  z-index: $z-index-200;
}

.z-300 {
  z-index: $z-index-300;
}

.z-400 {
  z-index: $z-index-400;
}

.z-500 {
  z-index: $z-index-500;
}

.z-600 {
  z-index: $z-index-600;
}

.z-700 {
  z-index: $z-index-700;
}

.z-800 {
  z-index: $z-index-800;
}

.z-900 {
  z-index: $z-index-900;
}

.z-1000 {
  z-index: $z-index-1000;
}

.z-1200 {
  z-index: $z-index-1200;
}

.z-1400 {
  z-index: $z-index-1400;
}

.z-1600 {
  z-index: $z-index-1600;
}

.z-1800 {
  z-index: $z-index-1800;
}

.z-2000 {
  z-index: $z-index-2000;
}

.z-2200 {
  z-index: $z-index-2200;
}

.z-2400 {
  z-index: $z-index-2400;
}

.z-auto {
  z-index: $auto;
}

.z-default {
  z-index: $z-index-default;
}
