// 控制元素背景图位置
$background-position-top: top;
$background-position-right: right;
$background-position-bottom: bottom;
$background-position-left: left;
$background-position-center: center;
$background-position-default: 0% 0%;
