// 控制元素的背景色
$background-color-light: $ad-gray-1 !default;
$background-color-dark: $ad-gray-12 !default;
$background-color-default: rgba(0, 0, 0, .04) !default;
$background-color-mask: rgba(0, 0, 0, .45) !default;
$background-color-shadow: $background-color-mask;
$background-color-divider: rgba(0, 0, 0, .06) !default;
$background-color-table-header: rgba(0, 0, 0, .02) !default;
$background-color-default-reverse: rgba(255, 255, 255, .08) !default;
$background-color-mask-reverse: rgba(255, 255, 255, .55) !default; // temp
$background-color-shadow-reverse: $background-color-mask-reverse; // temp
$background-color-divider-reverse: rgba(255, 255, 255, .12) !default;
$background-color-table-header-reverse: rgba(255, 255, 255, .04) !default;
