// 控制元素背景图的重复
$background-repeat-repeat: repeat;
$background-repeat-repeat-x: repeat-x;
$background-repeat-repeat-y: repeat-y;
$background-repeat-space: space;
$background-repeat-round: round;
$background-repeat-no-repeat: no-repeat;
$background-repeat-default: repeat;
