// 控制元素边框半径
$border-radius-0: 0;
$border-radius-1: 1 * $scale + $unit;
$border-radius-2: 2 * $scale + $unit;
$border-radius-3: 3 * $scale + $unit;
$border-radius-4: 4 * $scale + $unit;
$border-radius-5: 5 * $scale + $unit;
$border-radius-6: 6 * $scale + $unit;
$border-radius-7: 7 * $scale + $unit;
$border-radius-8: 8 * $scale + $unit;
$border-radius-9: 9 * $scale + $unit;
$border-radius-10: 10 * $scale + $unit;
$border-radius-11: 11 * $scale + $unit;
$border-radius-12: 12 * $scale + $unit;
$border-radius-13: 13 * $scale + $unit;
$border-radius-14: 14 * $scale + $unit;
$border-radius-15: 15 * $scale + $unit;
$border-radius-16: 16 * $scale + $unit;
$border-radius-1-no-scale: 1 + $unit;
$border-radius-2-no-scale: 2 + $unit;
$border-radius-3-no-scale: 3 + $unit;
$border-radius-4-no-scale: 4 + $unit;
$border-radius-5-no-scale: 5 + $unit;
$border-radius-6-no-scale: 6 + $unit;
$border-radius-7-no-scale: 7 + $unit;
$border-radius-8-no-scale: 8 + $unit;
$border-radius-9-no-scale: 9 + $unit;
$border-radius-10-no-scale: 10 + $unit;
$border-radius-11-no-scale: 11 + $unit;
$border-radius-12-no-scale: 12 + $unit;
$border-radius-13-no-scale: 13 + $unit;
$border-radius-14-no-scale: 14 + $unit;
$border-radius-15-no-scale: 15 + $unit;
$border-radius-16-no-scale: 16 + $unit;
$border-radius-half: 50%;
