// 控制元素的字体大小

$font-size-benchmark: 14 !default;

// 基准字体大小
$font-size-base: $font-size-benchmark * $scale + $unit;
// s - sub
$font-size-s-8: ($font-size-benchmark - 8) * $scale + $unit;
$font-size-s-7: ($font-size-benchmark - 7) * $scale + $unit;
$font-size-s-6: ($font-size-benchmark - 6) * $scale + $unit;
$font-size-s-5: ($font-size-benchmark - 5) * $scale + $unit;
$font-size-s-4: ($font-size-benchmark - 4) * $scale + $unit;
$font-size-s-3: ($font-size-benchmark - 3) * $scale + $unit;
$font-size-s-2: ($font-size-benchmark - 2) * $scale + $unit;
$font-size-s-1: ($font-size-benchmark - 1) * $scale + $unit;
// a - add
$font-size-a-1: ($font-size-benchmark + 1) * $scale + $unit;
$font-size-a-2: ($font-size-benchmark + 2) * $scale + $unit;
$font-size-a-3: ($font-size-benchmark + 3) * $scale + $unit;
$font-size-a-4: ($font-size-benchmark + 4) * $scale + $unit;
$font-size-a-5: ($font-size-benchmark + 5) * $scale + $unit;
$font-size-a-6: ($font-size-benchmark + 6) * $scale + $unit;
$font-size-a-7: ($font-size-benchmark + 7) * $scale + $unit;
$font-size-a-8: ($font-size-benchmark + 8) * $scale + $unit;
$font-size-a-9: ($font-size-benchmark + 9) * $scale + $unit;
$font-size-a-10: ($font-size-benchmark + 10) * $scale + $unit;
$font-size-a-11: ($font-size-benchmark + 11) * $scale + $unit;
$font-size-a-12: ($font-size-benchmark + 12) * $scale + $unit;
$font-size-a-13: ($font-size-benchmark + 13) * $scale + $unit;
$font-size-a-14: ($font-size-benchmark + 14) * $scale + $unit;
$font-size-a-15: ($font-size-benchmark + 15) * $scale + $unit;
$font-size-a-16: ($font-size-benchmark + 16) * $scale + $unit;
$font-size-a-17: ($font-size-benchmark + 17) * $scale + $unit;
$font-size-a-18: ($font-size-benchmark + 18) * $scale + $unit;
$font-size-a-19: ($font-size-benchmark + 19) * $scale + $unit;
$font-size-a-20: ($font-size-benchmark + 20) * $scale + $unit;
$font-size-a-21: ($font-size-benchmark + 21) * $scale + $unit;
$font-size-a-22: ($font-size-benchmark + 22) * $scale + $unit;
$font-size-a-23: ($font-size-benchmark + 23) * $scale + $unit;
$font-size-a-24: ($font-size-benchmark + 24) * $scale + $unit;
// m - multiply
$font-size-m-4-8: ($font-size-benchmark * .5) * $scale + $unit;
$font-size-m-5-8: ($font-size-benchmark * .625) * $scale + $unit;
$font-size-m-6-8: ($font-size-benchmark * .75) * $scale + $unit;
$font-size-m-7-8: ($font-size-benchmark * .875) * $scale + $unit;
$font-size-m-9-8: ($font-size-benchmark * 1.125) * $scale + $unit;
$font-size-m-10-8: ($font-size-benchmark * 1.25) * $scale + $unit;
$font-size-m-12-8: ($font-size-benchmark * 1.5) * $scale + $unit;
$font-size-m-15-8: ($font-size-benchmark * 1.875) * $scale + $unit;
$font-size-m-18-8: ($font-size-benchmark * 2.25) * $scale + $unit;
$font-size-m-24-8: ($font-size-benchmark * 3) * $scale + $unit;
$font-size-m-32-8: ($font-size-benchmark * 4) * $scale + $unit;

$m-font-size: (
  "xs": $font-size-s-4,
  "sm": $font-size-s-2,
  "md": $font-size-base,
  "base": $font-size-base,
  "lg": $font-size-a-2,
  "xl": $font-size-a-4,
  "2xl": $font-size-a-6,
  "3xl": $font-size-a-8,
  "4xl": $font-size-a-10
);
