$m-font-weight: (
  thin: $font-weight-100,
  extra-light: $font-weight-200,
  ultra-light: $font-weight-200,
  light: $font-weight-300,
  default: $font-weight-400,
  normal: $font-weight-400,
  regular: $font-weight-400,
  medium: $font-weight-500,
  semi-bold: $font-weight-600,
  bold: $font-weight-700,
  extra-bold: $font-weight-800,
  ultra-bold: $font-weight-800,
  black: $font-weight-900,
  heavy: $font-weight-900
);
