// 控制元素行高

$line-height-benchmark: 22 !default;

// 基准行距
$line-height-base: $line-height-benchmark * $scale + $unit;
// s - sub
$line-height-s-8: ($line-height-benchmark - 8) * $scale + $unit;
$line-height-s-7: ($line-height-benchmark - 7) * $scale + $unit;
$line-height-s-6: ($line-height-benchmark - 6) * $scale + $unit;
$line-height-s-5: ($line-height-benchmark - 5) * $scale + $unit;
$line-height-s-4: ($line-height-benchmark - 4) * $scale + $unit;
$line-height-s-3: ($line-height-benchmark - 3) * $scale + $unit;
$line-height-s-2: ($line-height-benchmark - 2) * $scale + $unit;
$line-height-s-1: ($line-height-benchmark - 1) * $scale + $unit;
// a - add
$line-height-a-1: ($line-height-benchmark + 1) * $scale + $unit;
$line-height-a-2: ($line-height-benchmark + 2) * $scale + $unit;
$line-height-a-3: ($line-height-benchmark + 3) * $scale + $unit;
$line-height-a-4: ($line-height-benchmark + 4) * $scale + $unit;
$line-height-a-5: ($line-height-benchmark + 5) * $scale + $unit;
$line-height-a-6: ($line-height-benchmark + 6) * $scale + $unit;
$line-height-a-7: ($line-height-benchmark + 7) * $scale + $unit;
$line-height-a-8: ($line-height-benchmark + 8) * $scale + $unit;
$line-height-a-9: ($line-height-benchmark + 9) * $scale + $unit;
$line-height-a-10: ($line-height-benchmark + 10) * $scale + $unit;
$line-height-a-11: ($line-height-benchmark + 11) * $scale + $unit;
$line-height-a-12: ($line-height-benchmark + 12) * $scale + $unit;
$line-height-a-13: ($line-height-benchmark + 13) * $scale + $unit;
$line-height-a-14: ($line-height-benchmark + 14) * $scale + $unit;
$line-height-a-15: ($line-height-benchmark + 15) * $scale + $unit;
$line-height-a-16: ($line-height-benchmark + 16) * $scale + $unit;
$line-height-a-17: ($line-height-benchmark + 17) * $scale + $unit;
$line-height-a-18: ($line-height-benchmark + 18) * $scale + $unit;
$line-height-a-19: ($line-height-benchmark + 19) * $scale + $unit;
$line-height-a-20: ($line-height-benchmark + 20) * $scale + $unit;
$line-height-a-21: ($line-height-benchmark + 21) * $scale + $unit;
$line-height-a-22: ($line-height-benchmark + 22) * $scale + $unit;
$line-height-a-23: ($line-height-benchmark + 23) * $scale + $unit;
$line-height-a-24: ($line-height-benchmark + 24) * $scale + $unit;
// m - multiply
$line-height-m-4-8: ($line-height-benchmark * .5) * $scale + $unit;
$line-height-m-5-8: ($line-height-benchmark * .625) * $scale + $unit;
$line-height-m-6-8: ($line-height-benchmark * .75) * $scale + $unit;
$line-height-m-7-8: ($line-height-benchmark * .875) * $scale + $unit;
$line-height-m-9-8: ($line-height-benchmark * 1.125) * $scale + $unit;
$line-height-m-10-8: ($line-height-benchmark * 1.25) * $scale + $unit;
$line-height-m-12-8: ($line-height-benchmark * 1.5) * $scale + $unit;
$line-height-m-15-8: ($line-height-benchmark * 1.875) * $scale + $unit;
$line-height-m-18-8: ($line-height-benchmark * 2.25) * $scale + $unit;
$line-height-m-24-8: ($line-height-benchmark * 3) * $scale + $unit;
$line-height-m-32-8: ($line-height-benchmark * 4) * $scale + $unit;

$line-height-none: 1;
$line-height-tight: 1.25;
$line-height-snug: 1.375;
$line-height-normal: 1.5;
$line-height-relaxed: 1.625;
$line-height-loose: 2;
$line-height-default: 1.15;

$m-line-height: (
  xs: $line-height-s-4,
  sm: $line-height-s-2,
  md: $line-height-base,
  base: $line-height-base,
  lg: $line-height-a-2,
  xl: $line-height-a-4,
  2xl: $line-height-a-6,
  3xl: $line-height-a-8,
  4xl: $line-height-a-10
);
