.wrapper-modal {
  position: fixed;
  z-index: 240;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  &,
  .light & {
    background-color: $color-bg-mask;
  }

  .dark & {
    background-color: $color-bg-mask-reverse;
  }
}

.modal {
  position: relative;
  width: 80%;
  height: auto;
  padding: $length-6;
}

.modal-icon-close {
  width: $length-20;
  height: $length-20;
}
