/*
 * functions
 *
 * REF
 * - https://github.com/ant-design/ant-design/blob/master/components/style/color/colorPalette.less
 * - https://zhuanlan.zhihu.com/p/32422584
 * - https://blog.csdn.net/sunshine_in_moon/article/details/45131285
 * - https://blog.csdn.net/idfaya/article/details/6770414
 */

@function f-hex-to-hsv($hex-color) {
  // init
  $h: 0;
  $s: 0;
  $v: 0;
  // convert
  $r: red($hex-color) / 255;
  $g: green($hex-color) / 255;
  $b: blue($hex-color) / 255;
  $max: max($r, $g, $b);
  $min: min($r, $g, $b);
  // h deg
  @if ($max == $min) {
    $h: 0deg;
  } @else if ($max == $r and $g >= $b) {
    $h: 60deg * ($g - $b) / ($max - $min) + 0deg;
  } @else if ($max == $r and $g < $b) {
    $h: 60deg * ($g - $b) / ($max - $min) + 360deg;
  } @else if ($max == $g) {
    $h: 60deg * ($b - $r) / ($max - $min) + 120deg;
  } @else if ($max == $b) {
    $h: 60deg * ($r - $g) / ($max - $min) + 240deg;
  }
  // s %
  $s: if($max == 0, 0%, percentage(1 - $min / $max));
  // v %
  $v: percentage($max);
  // return list
  @return $h, $s, $v;
}

@function f-hsv-to-hex($h, $s, $v) {
  $h: $h / 1deg;
  $s: $s / 100%;
  $v: $v / 100%;
  $hi: floor($h / 60);
  $f: $h / 60 - $hi;
  $p: round($v * (1 - $s) * 255);
  $q: round($v * (1 - $f * $s) * 255);
  $t: round($v * (1 - (1 - $f) * $s) * 255);
  $v: round($v * 255);
  @if ($hi == 0) {
    @return rgb($v, $t, $p);
  } @else if ($hi == 1) {
    @return rgb($q, $v, $p);
  } @else if ($hi == 2) {
    @return rgb($p, $v, $t);
  } @else if ($hi == 3) {
    @return rgb($p, $q, $v);
  } @else if ($hi == 4) {
    @return rgb($t, $p, $v);
  } @else if ($hi == 5) {
    @return rgb($v, $p, $q);
  }
}

@function f-get-hue($h, $s, $v, $diff, $is-lighter) {
  $hue: 0deg;
  @if ($h >= 60deg and $h <= 240deg) {
    $hue: if($is-lighter, $h - 2deg * $diff, $h + 2deg * $diff);
  } @else {
    $hue: if($is-lighter, $h + 2deg * $diff, $h - 2deg * $diff);
  }
  $hue: if($hue < 0deg, $hue + 360deg, $hue);
  $hue: if($hue > 360deg, $hue - 360deg, $hue);
  // return deg
  @return round($hue);
}

@function f-get-saturation($h, $s, $v, $diff, $is-lighter) {
  $saturation: 0%;
  @if ($is-lighter) {
    $saturation: $s - 16% * $diff;
  } @else if ($diff == 4) {
    $saturation: $s + 16%;
  } @else {
    $saturation: $s + 5% * $diff;
  }
  $saturation: if($saturation > 100%, 100%, $saturation);
  $saturation: if($is-lighter and $diff == 5 and $saturation > 10%, 10%, $saturation);
  $saturation: if($saturation < 6%, 6%, $saturation);
  // return %
  @return round($saturation);
}

@function f-get-value($h, $s, $v, $diff, $is-lighter) {
  $value: 0%;
  $value: if($is-lighter, $v + 5% * $diff, $v - 15% * $diff);
  $value: if($value > 100%, 100%, $value);
  // return %
  @return round($value);
}

@function f-get-color($hex-color, $index: 6) {
  $is-lighter: $index <= 6;
  $hsv-color: f-hex-to-hsv($hex-color); // deg, %, %
  $diff: if($is-lighter, 6 - $index, $index - 6);
  $h: nth($hsv-color, 1); // deg
  $s: nth($hsv-color, 2); // %
  $v: nth($hsv-color, 3); // %
  $new-hex-color: f-hsv-to-hex(
    f-get-hue($h, $s, $v, $diff, $is-lighter),
    f-get-saturation($h, $s, $v, $diff, $is-lighter),
    f-get-value($h, $s, $v, $diff, $is-lighter)
  );
  @return change-color($new-hex-color, $alpha: alpha($hex-color));
}
