// variables that used by given elements
$page-background-color: $gray-1 !default;
$page-background-color-reverse: $gray-13 !default;
$body-background-color: $page-background-color !default;
$body-background-color: $page-background-color-reverse !default;
