// variables that used by given elements
$button-padding-benchmark: 4 !default;
$button-padding-y: $button-padding-benchmark * $scale + $unit !default;
$button-padding-x: $button-padding-benchmark * 4 * $scale + $unit !default;
$button-margin-y: 0 !default;
$button-margin-x: auto !default;
$button-font-size: $font-size-benchmark * $scale + $unit !default;
$button-color: inherit !default;
$button-background-color: $gray-1 !default;
$button-border: 1 * $scale + $unit solid $border-color;
$button-radius: $border-radius-benchmark * $scale + $unit;
$button-transition: $transition-delay $transition-timing-function;
$button-disabled-color: $color-disabled;
$button-disabled-background-color: $gray-3 !default;
$button-disabled-border-color: $border-color;

$button-sm-padding-y: 0 !default;
$button-sm-padding-x: $button-padding-benchmark * 2 * $scale + $unit !default;
$button-sm-font-size: $font-size-benchmark * $scale + $unit !default;
$button-lg-padding-y: $button-padding-benchmark * 1.6 * $scale + $unit !default;
$button-lg-padding-x: $button-padding-benchmark * 4 * $scale + $unit !default;
$button-lg-font-size: ($font-size-benchmark + 2) * $scale + $unit !default;

$button-text-color: inherit !default;
$button-text-background-color: transparent !default;
$button-text-border-color: transparent !default;
$button-text-active-color: inherit !default;
$button-text-active-background-color: $gray-3 !default;
$button-text-active-border-color: transparent !default;
$button-text-focus-color: inherit !default;
$button-text-focus-background-color: $gray-2 !default;
$button-text-focus-border-color: transparent !default;
$button-text-hover-color: inherit !default;
$button-text-hover-background-color: $gray-2 !default;
$button-text-hover-border-color: transparent !default;
$button-text-disabled-color: $color-disabled !default;
$button-text-disabled-background-color: transparent !default;
$button-text-disabled-border-color: transparent !default;

$button-primary-color: $gray-1 !default;
$button-primary-background-color: $primary-6 !default;
$button-primary-border-color: $primary-6 !default;
$button-primary-active-color: $gray-1 !default;
$button-primary-active-background-color: $primary-7 !default;
$button-primary-active-border-color: $primary-7 !default;
$button-primary-focus-color: $gray-1 !default;
$button-primary-focus-background-color: $primary-5 !default;
$button-primary-focus-border-color: $primary-5 !default;
$button-primary-hover-color: $gray-1 !default;
$button-primary-hover-background-color: $primary-5 !default;
$button-primary-hover-border-color: $primary-5 !default;
$button-primary-outlined-color: $primary-6 !default;
$button-primary-outlined-background-color: transparent !default;
$button-primary-outlined-border-color: $primary-6 !default;
$button-primary-outlined-active-color: $primary-7 !default;
$button-primary-outlined-active-background-color: transparent !default;
$button-primary-outlined-active-border-color: $primary-7 !default;
$button-primary-outlined-focus-color: $primary-5 !default;
$button-primary-outlined-focus-background-color: transparent !default;
$button-primary-outlined-focus-border-color: $primary-5 !default;
$button-primary-outlined-hover-color: $primary-5 !default;
$button-primary-outlined-hover-background-color: transparent !default;
$button-primary-outlined-hover-border-color: $primary-5 !default;
$button-primary-link-color: $primary-6 !default;
$button-primary-link-background-color: transparent !default;
$button-primary-link-border-color: transparent !default;
$button-primary-link-active-color: $primary-7 !default;
$button-primary-link-active-background-color: transparent !default;
$button-primary-link-active-border-color: transparent !default;
$button-primary-link-focus-color: $primary-5 !default;
$button-primary-link-focus-background-color: transparent !default;
$button-primary-link-focus-border-color: transparent !default;
$button-primary-link-hover-color: $primary-5 !default;
$button-primary-link-hover-background-color: transparent !default;
$button-primary-link-hover-border-color: transparent !default;
$button-primary-link-disabled-color: $color-disabled !default;
$button-primary-link-disabled-background-color: transparent !default;
$button-primary-link-disabled-border-color: transparent !default;
$button-primary-color-reverse: $gray-1 !default;
$button-primary-background-color-reverse: $primary-6-reverse !default;
$button-primary-border-color-reverse: $primary-6-reverse !default;
$button-primary-active-color-reverse: $gray-1 !default;
$button-primary-active-background-color-reverse: $primary-7-reverse !default;
$button-primary-active-border-color-reverse: $primary-7-reverse !default;
$button-primary-focus-color-reverse: $gray-1 !default;
$button-primary-focus-background-color-reverse: $primary-5-reverse !default;
$button-primary-focus-border-color-reverse: $primary-5-reverse !default;
$button-primary-hover-color-reverse: $gray-1 !default;
$button-primary-hover-background-color-reverse: $primary-5-reverse !default;
$button-primary-hover-border-color-reverse: $primary-5-reverse !default;
$button-primary-outlined-color-reverse: $primary-6-reverse !default;
$button-primary-outlined-background-color-reverse: transparent !default;
$button-primary-outlined-border-color-reverse: $primary-6-reverse !default;
$button-primary-outlined-active-color-reverse: $primary-7-reverse !default;
$button-primary-outlined-active-background-color-reverse: transparent !default;
$button-primary-outlined-active-border-color-reverse: $primary-7-reverse !default;
$button-primary-outlined-focus-color-reverse: $primary-5-reverse !default;
$button-primary-outlined-focus-background-color-reverse: transparent !default;
$button-primary-outlined-focus-border-color-reverse: $primary-5-reverse !default;
$button-primary-outlined-hover-color-reverse: $primary-5-reverse !default;
$button-primary-outlined-hover-background-color-reverse: transparent !default;
$button-primary-outlined-hover-border-color-reverse: $primary-5-reverse !default;
$button-primary-link-color-reverse: $primary-6-reverse !default;
$button-primary-link-background-color-reverse: transparent !default;
$button-primary-link-border-color-reverse: transparent !default;
$button-primary-link-active-color-reverse: $primary-7-reverse !default;
$button-primary-link-active-background-color-reverse: transparent !default;
$button-primary-link-active-border-color-reverse: transparent !default;
$button-primary-link-focus-color-reverse: $primary-5-reverse !default;
$button-primary-link-focus-background-color-reverse: transparent !default;
$button-primary-link-focus-border-color-reverse: transparent !default;
$button-primary-link-hover-color-reverse: $primary-5-reverse !default;
$button-primary-link-hover-background-color-reverse: transparent !default;
$button-primary-link-hover-border-color-reverse: transparent !default;
$button-primary-link-disabled-color-reverse: $color-disabled-reverse !default;
$button-primary-link-disabled-background-color-reverse: transparent !default;
$button-primary-link-disabled-border-color-reverse: transparent !default;

$button-success-color: $gray-1 !default;
$button-success-background-color: $success-6 !default;
$button-success-border-color: $success-6 !default;
$button-success-active-color: $gray-1 !default;
$button-success-active-background-color: $success-7 !default;
$button-success-active-border-color: $success-7 !default;
$button-success-focus-color: $gray-1 !default;
$button-success-focus-background-color: $success-5 !default;
$button-success-focus-border-color: $success-5 !default;
$button-success-hover-color: $gray-1 !default;
$button-success-hover-background-color: $success-5 !default;
$button-success-hover-border-color: $success-5 !default;
$button-success-outlined-color: $success-6 !default;
$button-success-outlined-background-color: transparent !default;
$button-success-outlined-border-color: $success-6 !default;
$button-success-outlined-active-color: $success-7 !default;
$button-success-outlined-active-background-color: transparent !default;
$button-success-outlined-active-border-color: $success-7 !default;
$button-success-outlined-focus-color: $success-5 !default;
$button-success-outlined-focus-background-color: transparent !default;
$button-success-outlined-focus-border-color: $success-5 !default;
$button-success-outlined-hover-color: $success-5 !default;
$button-success-outlined-hover-background-color: transparent !default;
$button-success-outlined-hover-border-color: $success-5 !default;
$button-success-link-color: $success-6 !default;
$button-success-link-background-color: transparent !default;
$button-success-link-border-color: transparent !default;
$button-success-link-active-color: $success-7 !default;
$button-success-link-active-background-color: transparent !default;
$button-success-link-active-border-color: transparent !default;
$button-success-link-focus-color: $success-5 !default;
$button-success-link-focus-background-color: transparent !default;
$button-success-link-focus-border-color: transparent !default;
$button-success-link-hover-color: $success-5 !default;
$button-success-link-hover-background-color: transparent !default;
$button-success-link-hover-border-color: transparent !default;
$button-success-link-disabled-color: $color-disabled !default;
$button-success-link-disabled-background-color: transparent !default;
$button-success-link-disabled-border-color: transparent !default;
$button-success-color-reverse: $gray-1 !default;
$button-success-background-color-reverse: $success-6-reverse !default;
$button-success-border-color-reverse: $success-6-reverse !default;
$button-success-active-color-reverse: $gray-1 !default;
$button-success-active-background-color-reverse: $success-7-reverse !default;
$button-success-active-border-color-reverse: $success-7-reverse !default;
$button-success-focus-color-reverse: $gray-1 !default;
$button-success-focus-background-color-reverse: $success-5-reverse !default;
$button-success-focus-border-color-reverse: $success-5-reverse !default;
$button-success-hover-color-reverse: $gray-1 !default;
$button-success-hover-background-color-reverse: $success-5-reverse !default;
$button-success-hover-border-color-reverse: $success-5-reverse !default;
$button-success-outlined-color-reverse: $success-6-reverse !default;
$button-success-outlined-background-color-reverse: transparent !default;
$button-success-outlined-border-color-reverse: $success-6-reverse !default;
$button-success-outlined-active-color-reverse: $success-7-reverse !default;
$button-success-outlined-active-background-color-reverse: transparent !default;
$button-success-outlined-active-border-color-reverse: $success-7-reverse !default;
$button-success-outlined-focus-color-reverse: $success-5-reverse !default;
$button-success-outlined-focus-background-color-reverse: transparent !default;
$button-success-outlined-focus-border-color-reverse: $success-5-reverse !default;
$button-success-outlined-hover-color-reverse: $success-5-reverse !default;
$button-success-outlined-hover-background-color-reverse: transparent !default;
$button-success-outlined-hover-border-color-reverse: $success-5-reverse !default;
$button-success-link-color-reverse: $success-6-reverse !default;
$button-success-link-background-color-reverse: transparent !default;
$button-success-link-border-color-reverse: transparent !default;
$button-success-link-active-color-reverse: $success-7-reverse !default;
$button-success-link-active-background-color-reverse: transparent !default;
$button-success-link-active-border-color-reverse: transparent !default;
$button-success-link-focus-color-reverse: $success-5-reverse !default;
$button-success-link-focus-background-color-reverse: transparent !default;
$button-success-link-focus-border-color-reverse: transparent !default;
$button-success-link-hover-color-reverse: $success-5-reverse !default;
$button-success-link-hover-background-color-reverse: transparent !default;
$button-success-link-hover-border-color-reverse: transparent !default;
$button-success-link-disabled-color-reverse: $color-disabled-reverse !default;
$button-success-link-disabled-background-color-reverse: transparent !default;
$button-success-link-disabled-border-color-reverse: transparent !default;

$button-warning-color: $gray-1 !default;
$button-warning-background-color: $warning-6 !default;
$button-warning-border-color: $warning-6 !default;
$button-warning-active-color: $gray-1 !default;
$button-warning-active-background-color: $warning-7 !default;
$button-warning-active-border-color: $warning-7 !default;
$button-warning-focus-color: $gray-1 !default;
$button-warning-focus-background-color: $warning-5 !default;
$button-warning-focus-border-color: $warning-5 !default;
$button-warning-hover-color: $gray-1 !default;
$button-warning-hover-background-color: $warning-5 !default;
$button-warning-hover-border-color: $warning-5 !default;
$button-warning-outlined-color: $warning-6 !default;
$button-warning-outlined-background-color: transparent !default;
$button-warning-outlined-border-color: $warning-6 !default;
$button-warning-outlined-active-color: $warning-7 !default;
$button-warning-outlined-active-background-color: transparent !default;
$button-warning-outlined-active-border-color: $warning-7 !default;
$button-warning-outlined-focus-color: $warning-5 !default;
$button-warning-outlined-focus-background-color: transparent !default;
$button-warning-outlined-focus-border-color: $warning-5 !default;
$button-warning-outlined-hover-color: $warning-5 !default;
$button-warning-outlined-hover-background-color: transparent !default;
$button-warning-outlined-hover-border-color: $warning-5 !default;
$button-warning-link-color: $warning-6 !default;
$button-warning-link-background-color: transparent !default;
$button-warning-link-border-color: transparent !default;
$button-warning-link-active-color: $warning-7 !default;
$button-warning-link-active-background-color: transparent !default;
$button-warning-link-active-border-color: transparent !default;
$button-warning-link-focus-color: $warning-5 !default;
$button-warning-link-focus-background-color: transparent !default;
$button-warning-link-focus-border-color: transparent !default;
$button-warning-link-hover-color: $warning-5 !default;
$button-warning-link-hover-background-color: transparent !default;
$button-warning-link-hover-border-color: transparent !default;
$button-warning-link-disabled-color: $color-disabled !default;
$button-warning-link-disabled-background-color: transparent !default;
$button-warning-link-disabled-border-color: transparent !default;
$button-warning-color-reverse: $gray-1 !default;
$button-warning-background-color-reverse: $warning-6-reverse !default;
$button-warning-border-color-reverse: $warning-6-reverse !default;
$button-warning-active-color-reverse: $gray-1 !default;
$button-warning-active-background-color-reverse: $warning-7-reverse !default;
$button-warning-active-border-color-reverse: $warning-7-reverse !default;
$button-warning-focus-color-reverse: $gray-1 !default;
$button-warning-focus-background-color-reverse: $warning-5-reverse !default;
$button-warning-focus-border-color-reverse: $warning-5-reverse !default;
$button-warning-hover-color-reverse: $gray-1 !default;
$button-warning-hover-background-color-reverse: $warning-5-reverse !default;
$button-warning-hover-border-color-reverse: $warning-5-reverse !default;
$button-warning-outlined-color-reverse: $warning-6-reverse !default;
$button-warning-outlined-background-color-reverse: transparent !default;
$button-warning-outlined-border-color-reverse: $warning-6-reverse !default;
$button-warning-outlined-active-color-reverse: $warning-7-reverse !default;
$button-warning-outlined-active-background-color-reverse: transparent !default;
$button-warning-outlined-active-border-color-reverse: $warning-7-reverse !default;
$button-warning-outlined-focus-color-reverse: $warning-5-reverse !default;
$button-warning-outlined-focus-background-color-reverse: transparent !default;
$button-warning-outlined-focus-border-color-reverse: $warning-5-reverse !default;
$button-warning-outlined-hover-color-reverse: $warning-5-reverse !default;
$button-warning-outlined-hover-background-color-reverse: transparent !default;
$button-warning-outlined-hover-border-color-reverse: $warning-5-reverse !default;
$button-warning-link-color-reverse: $warning-6-reverse !default;
$button-warning-link-background-color-reverse: transparent !default;
$button-warning-link-border-color-reverse: transparent !default;
$button-warning-link-active-color-reverse: $warning-7-reverse !default;
$button-warning-link-active-background-color-reverse: transparent !default;
$button-warning-link-active-border-color-reverse: transparent !default;
$button-warning-link-focus-color-reverse: $warning-5-reverse !default;
$button-warning-link-focus-background-color-reverse: transparent !default;
$button-warning-link-focus-border-color-reverse: transparent !default;
$button-warning-link-hover-color-reverse: $warning-5-reverse !default;
$button-warning-link-hover-background-color-reverse: transparent !default;
$button-warning-link-hover-border-color-reverse: transparent !default;
$button-warning-link-disabled-color-reverse: $color-disabled-reverse !default;
$button-warning-link-disabled-background-color-reverse: transparent !default;
$button-warning-link-disabled-border-color-reverse: transparent !default;

$button-error-color: $gray-1 !default;
$button-error-background-color: $error-6 !default;
$button-error-border-color: $error-6 !default;
$button-error-active-color: $gray-1 !default;
$button-error-active-background-color: $error-7 !default;
$button-error-active-border-color: $error-7 !default;
$button-error-focus-color: $gray-1 !default;
$button-error-focus-background-color: $error-5 !default;
$button-error-focus-border-color: $error-5 !default;
$button-error-hover-color: $gray-1 !default;
$button-error-hover-background-color: $error-5 !default;
$button-error-hover-border-color: $error-5 !default;
$button-error-outlined-color: $error-6 !default;
$button-error-outlined-background-color: transparent !default;
$button-error-outlined-border-color: $error-6 !default;
$button-error-outlined-active-color: $error-7 !default;
$button-error-outlined-active-background-color: transparent !default;
$button-error-outlined-active-border-color: $error-7 !default;
$button-error-outlined-focus-color: $error-5 !default;
$button-error-outlined-focus-background-color: transparent !default;
$button-error-outlined-focus-border-color: $error-5 !default;
$button-error-outlined-hover-color: $error-5 !default;
$button-error-outlined-hover-background-color: transparent !default;
$button-error-outlined-hover-border-color: $error-5 !default;
$button-error-link-color: $error-6 !default;
$button-error-link-background-color: transparent !default;
$button-error-link-border-color: transparent !default;
$button-error-link-active-color: $error-7 !default;
$button-error-link-active-background-color: transparent !default;
$button-error-link-active-border-color: transparent !default;
$button-error-link-focus-color: $error-5 !default;
$button-error-link-focus-background-color: transparent !default;
$button-error-link-focus-border-color: transparent !default;
$button-error-link-hover-color: $error-5 !default;
$button-error-link-hover-background-color: transparent !default;
$button-error-link-hover-border-color: transparent !default;
$button-error-link-disabled-color: $color-disabled !default;
$button-error-link-disabled-background-color: transparent !default;
$button-error-link-disabled-border-color: transparent !default;
$button-error-color-reverse: $gray-1 !default;
$button-error-background-color-reverse: $error-6-reverse !default;
$button-error-border-color-reverse: $error-6-reverse !default;
$button-error-active-color-reverse: $gray-1 !default;
$button-error-active-background-color-reverse: $error-7-reverse !default;
$button-error-active-border-color-reverse: $error-7-reverse !default;
$button-error-focus-color-reverse: $gray-1 !default;
$button-error-focus-background-color-reverse: $error-5-reverse !default;
$button-error-focus-border-color-reverse: $error-5-reverse !default;
$button-error-hover-color-reverse: $gray-1 !default;
$button-error-hover-background-color-reverse: $error-5-reverse !default;
$button-error-hover-border-color-reverse: $error-5-reverse !default;
$button-error-outlined-color-reverse: $error-6-reverse !default;
$button-error-outlined-background-color-reverse: transparent !default;
$button-error-outlined-border-color-reverse: $error-6-reverse !default;
$button-error-outlined-active-color-reverse: $error-7-reverse !default;
$button-error-outlined-active-background-color-reverse: transparent !default;
$button-error-outlined-active-border-color-reverse: $error-7-reverse !default;
$button-error-outlined-focus-color-reverse: $error-5-reverse !default;
$button-error-outlined-focus-background-color-reverse: transparent !default;
$button-error-outlined-focus-border-color-reverse: $error-5-reverse !default;
$button-error-outlined-hover-color-reverse: $error-5-reverse !default;
$button-error-outlined-hover-background-color-reverse: transparent !default;
$button-error-outlined-hover-border-color-reverse: $error-5-reverse !default;
$button-error-link-color-reverse: $error-6-reverse !default;
$button-error-link-background-color-reverse: transparent !default;
$button-error-link-border-color-reverse: transparent !default;
$button-error-link-active-color-reverse: $error-7-reverse !default;
$button-error-link-active-background-color-reverse: transparent !default;
$button-error-link-active-border-color-reverse: transparent !default;
$button-error-link-focus-color-reverse: $error-5-reverse !default;
$button-error-link-focus-background-color-reverse: transparent !default;
$button-error-link-focus-border-color-reverse: transparent !default;
$button-error-link-hover-color-reverse: $error-5-reverse !default;
$button-error-link-hover-background-color-reverse: transparent !default;
$button-error-link-hover-border-color-reverse: transparent !default;
$button-error-link-disabled-color-reverse: $color-disabled-reverse !default;
$button-error-link-disabled-background-color-reverse: transparent !default;
$button-error-link-disabled-border-color-reverse: transparent !default;
