/* variables */

@import "../utils";
@import "./initial";
@import "./derived";
@import "./layout";
@import "./components";

@if ($has-export) {
  :export {
    unit: $unit;
    scale: $scale;
    hasDark: $has-dark;
    hasImportant: $has-important;
    hasTransparent: $has-transparent;
    gray: $gray;
    gray1: $gray-1;
    gray2: $gray-2;
    gray3: $gray-3;
    gray4: $gray-4;
    gray5: $gray-5;
    gray6: $gray-6;
    gray7: $gray-7;
    gray8: $gray-8;
    gray9: $gray-9;
    gray10: $gray-10;
    gray11: $gray-11;
    gray12: $gray-12;
    gray13: $gray-13;
    hasGray: $has-gray;
    white: $white;
    hasWhite: $has-white;
    black: $black;
    hasBlack: $has-black;
    red: $red;
    red1: $red-1;
    red2: $red-2;
    red3: $red-3;
    red4: $red-4;
    red5: $red-5;
    red6: $red-6;
    red7: $red-7;
    red8: $red-8;
    red9: $red-9;
    red10: $red-10;
    redReverse: $red-reverse;
    red1Reverse: $red-1-reverse;
    red2Reverse: $red-2-reverse;
    red3Reverse: $red-3-reverse;
    red4Reverse: $red-4-reverse;
    red5Reverse: $red-5-reverse;
    red6Reverse: $red-6-reverse;
    red7Reverse: $red-7-reverse;
    red8Reverse: $red-8-reverse;
    red9Reverse: $red-9-reverse;
    red10Reverse: $red-10-reverse;
    hasRed: $has-red;
    volcano: $volcano;
    volcano1: $volcano-1;
    volcano2: $volcano-2;
    volcano3: $volcano-3;
    volcano4: $volcano-4;
    volcano5: $volcano-5;
    volcano6: $volcano-6;
    volcano7: $volcano-7;
    volcano8: $volcano-8;
    volcano9: $volcano-9;
    volcano10: $volcano-10;
    volcanoReverse: $volcano-reverse;
    volcano1Reverse: $volcano-1-reverse;
    volcano2Reverse: $volcano-2-reverse;
    volcano3Reverse: $volcano-3-reverse;
    volcano4Reverse: $volcano-4-reverse;
    volcano5Reverse: $volcano-5-reverse;
    volcano6Reverse: $volcano-6-reverse;
    volcano7Reverse: $volcano-7-reverse;
    volcano8Reverse: $volcano-8-reverse;
    volcano9Reverse: $volcano-9-reverse;
    volcano10Reverse: $volcano-10-reverse;
    hasVolcano: $has-volcano;
    orange: $orange;
    orange1: $orange-1;
    orange2: $orange-2;
    orange3: $orange-3;
    orange4: $orange-4;
    orange5: $orange-5;
    orange6: $orange-6;
    orange7: $orange-7;
    orange8: $orange-8;
    orange9: $orange-9;
    orange10: $orange-10;
    orangeReverse: $orange-reverse;
    orange1Reverse: $orange-1-reverse;
    orange2Reverse: $orange-2-reverse;
    orange3Reverse: $orange-3-reverse;
    orange4Reverse: $orange-4-reverse;
    orange5Reverse: $orange-5-reverse;
    orange6Reverse: $orange-6-reverse;
    orange7Reverse: $orange-7-reverse;
    orange8Reverse: $orange-8-reverse;
    orange9Reverse: $orange-9-reverse;
    orange10Reverse: $orange-10-reverse;
    hasOrange: $has-orange;
    gold: $gold;
    gold1: $gold-1;
    gold2: $gold-2;
    gold3: $gold-3;
    gold4: $gold-4;
    gold5: $gold-5;
    gold6: $gold-6;
    gold7: $gold-7;
    gold8: $gold-8;
    gold9: $gold-9;
    gold10: $gold-10;
    goldReverse: $gold-reverse;
    gold1Reverse: $gold-1-reverse;
    gold2Reverse: $gold-2-reverse;
    gold3Reverse: $gold-3-reverse;
    gold4Reverse: $gold-4-reverse;
    gold5Reverse: $gold-5-reverse;
    gold6Reverse: $gold-6-reverse;
    gold7Reverse: $gold-7-reverse;
    gold8Reverse: $gold-8-reverse;
    gold9Reverse: $gold-9-reverse;
    gold10Reverse: $gold-10-reverse;
    hasGold: $has-gold;
    yellow: $yellow;
    yellow1: $yellow-1;
    yellow2: $yellow-2;
    yellow3: $yellow-3;
    yellow4: $yellow-4;
    yellow5: $yellow-5;
    yellow6: $yellow-6;
    yellow7: $yellow-7;
    yellow8: $yellow-8;
    yellow9: $yellow-9;
    yellow10: $yellow-10;
    yellowReverse: $yellow-reverse;
    yellow1Reverse: $yellow-1-reverse;
    yellow2Reverse: $yellow-2-reverse;
    yellow3Reverse: $yellow-3-reverse;
    yellow4Reverse: $yellow-4-reverse;
    yellow5Reverse: $yellow-5-reverse;
    yellow6Reverse: $yellow-6-reverse;
    yellow7Reverse: $yellow-7-reverse;
    yellow8Reverse: $yellow-8-reverse;
    yellow9Reverse: $yellow-9-reverse;
    yellow10Reverse: $yellow-10-reverse;
    hasYellow: $has-yellow;
    lime: $lime;
    lime1: $lime-1;
    lime2: $lime-2;
    lime3: $lime-3;
    lime4: $lime-4;
    lime5: $lime-5;
    lime6: $lime-6;
    lime7: $lime-7;
    lime8: $lime-8;
    lime9: $lime-9;
    lime10: $lime-10;
    limeReverse: $lime-reverse;
    lime1Reverse: $lime-1-reverse;
    lime2Reverse: $lime-2-reverse;
    lime3Reverse: $lime-3-reverse;
    lime4Reverse: $lime-4-reverse;
    lime5Reverse: $lime-5-reverse;
    lime6Reverse: $lime-6-reverse;
    lime7Reverse: $lime-7-reverse;
    lime8Reverse: $lime-8-reverse;
    lime9Reverse: $lime-9-reverse;
    lime10Reverse: $lime-10-reverse;
    hasLime: $has-lime;
    green: $green;
    green1: $green-1;
    green2: $green-2;
    green3: $green-3;
    green4: $green-4;
    green5: $green-5;
    green6: $green-6;
    green7: $green-7;
    green8: $green-8;
    green9: $green-9;
    green10: $green-10;
    greenReverse: $green-reverse;
    green1Reverse: $green-1-reverse;
    green2Reverse: $green-2-reverse;
    green3Reverse: $green-3-reverse;
    green4Reverse: $green-4-reverse;
    green5Reverse: $green-5-reverse;
    green6Reverse: $green-6-reverse;
    green7Reverse: $green-7-reverse;
    green8Reverse: $green-8-reverse;
    green9Reverse: $green-9-reverse;
    green10Reverse: $green-10-reverse;
    hasGreen: $has-green;
    cyan: $cyan;
    cyan1: $cyan-1;
    cyan2: $cyan-2;
    cyan3: $cyan-3;
    cyan4: $cyan-4;
    cyan5: $cyan-5;
    cyan6: $cyan-6;
    cyan7: $cyan-7;
    cyan8: $cyan-8;
    cyan9: $cyan-9;
    cyan10: $cyan-10;
    cyanReverse: $cyan-reverse;
    cyan1Reverse: $cyan-1-reverse;
    cyan2Reverse: $cyan-2-reverse;
    cyan3Reverse: $cyan-3-reverse;
    cyan4Reverse: $cyan-4-reverse;
    cyan5Reverse: $cyan-5-reverse;
    cyan6Reverse: $cyan-6-reverse;
    cyan7Reverse: $cyan-7-reverse;
    cyan8Reverse: $cyan-8-reverse;
    cyan9Reverse: $cyan-9-reverse;
    cyan10Reverse: $cyan-10-reverse;
    hasCyan: $has-cyan;
    blue: $blue;
    blue1: $blue-1;
    blue2: $blue-2;
    blue3: $blue-3;
    blue4: $blue-4;
    blue5: $blue-5;
    blue6: $blue-6;
    blue7: $blue-7;
    blue8: $blue-8;
    blue9: $blue-9;
    blue10: $blue-10;
    blueReverse: $blue-reverse;
    blue1Reverse: $blue-1-reverse;
    blue2Reverse: $blue-2-reverse;
    blue3Reverse: $blue-3-reverse;
    blue4Reverse: $blue-4-reverse;
    blue5Reverse: $blue-5-reverse;
    blue6Reverse: $blue-6-reverse;
    blue7Reverse: $blue-7-reverse;
    blue8Reverse: $blue-8-reverse;
    blue9Reverse: $blue-9-reverse;
    blue10Reverse: $blue-10-reverse;
    hasBlue: $has-blue;
    geekBlue: $geek-blue;
    geekBlue1: $geek-blue-1;
    geekBlue2: $geek-blue-2;
    geekBlue3: $geek-blue-3;
    geekBlue4: $geek-blue-4;
    geekBlue5: $geek-blue-5;
    geekBlue6: $geek-blue-6;
    geekBlue7: $geek-blue-7;
    geekBlue8: $geek-blue-8;
    geekBlue9: $geek-blue-9;
    geekBlue10: $geek-blue-10;
    geekBlueReverse: $geek-blue-reverse;
    geekBlue1Reverse: $geek-blue-1-reverse;
    geekBlue2Reverse: $geek-blue-2-reverse;
    geekBlue3Reverse: $geek-blue-3-reverse;
    geekBlue4Reverse: $geek-blue-4-reverse;
    geekBlue5Reverse: $geek-blue-5-reverse;
    geekBlue6Reverse: $geek-blue-6-reverse;
    geekBlue7Reverse: $geek-blue-7-reverse;
    geekBlue8Reverse: $geek-blue-8-reverse;
    geekBlue9Reverse: $geek-blue-9-reverse;
    geekBlue10Reverse: $geek-blue-10-reverse;
    hasGeekBlue: $has-blue;
    purple: $purple;
    purple1: $purple-1;
    purple2: $purple-2;
    purple3: $purple-3;
    purple4: $purple-4;
    purple5: $purple-5;
    purple6: $purple-6;
    purple7: $purple-7;
    purple8: $purple-8;
    purple9: $purple-9;
    purple10: $purple-10;
    purpleReverse: $purple-reverse;
    purple1Reverse: $purple-1-reverse;
    purple2Reverse: $purple-2-reverse;
    purple3Reverse: $purple-3-reverse;
    purple4Reverse: $purple-4-reverse;
    purple5Reverse: $purple-5-reverse;
    purple6Reverse: $purple-6-reverse;
    purple7Reverse: $purple-7-reverse;
    purple8Reverse: $purple-8-reverse;
    purple9Reverse: $purple-9-reverse;
    purple10Reverse: $purple-10-reverse;
    hasPurple: $has-purple;
    magenta: $magenta;
    magenta1: $magenta-1;
    magenta2: $magenta-2;
    magenta3: $magenta-3;
    magenta4: $magenta-4;
    magenta5: $magenta-5;
    magenta6: $magenta-6;
    magenta7: $magenta-7;
    magenta8: $magenta-8;
    magenta9: $magenta-9;
    magenta10: $magenta-10;
    magentaReverse: $magenta-reverse;
    magenta1Reverse: $magenta-1-reverse;
    magenta2Reverse: $magenta-2-reverse;
    magenta3Reverse: $magenta-3-reverse;
    magenta4Reverse: $magenta-4-reverse;
    magenta5Reverse: $magenta-5-reverse;
    magenta6Reverse: $magenta-6-reverse;
    magenta7Reverse: $magenta-7-reverse;
    magenta8Reverse: $magenta-8-reverse;
    magenta9Reverse: $magenta-9-reverse;
    magenta10Reverse: $magenta-10-reverse;
    hasMagenta: $has-magenta;
    primary: $primary;
    primary1: $primary-1;
    primary2: $primary-2;
    primary3: $primary-3;
    primary4: $primary-4;
    primary5: $primary-5;
    primary6: $primary-6;
    primary7: $primary-7;
    primary8: $primary-8;
    primary9: $primary-9;
    primary10: $primary-10;
    primaryReverse: $primary-reverse;
    primary1Reverse: $primary-1-reverse;
    primary2Reverse: $primary-2-reverse;
    primary3Reverse: $primary-3-reverse;
    primary4Reverse: $primary-4-reverse;
    primary5Reverse: $primary-5-reverse;
    primary6Reverse: $primary-6-reverse;
    primary7Reverse: $primary-7-reverse;
    primary8Reverse: $primary-8-reverse;
    primary9Reverse: $primary-9-reverse;
    primary10Reverse: $primary-10-reverse;
    hasPrimary: $has-primary;
    success: $success;
    success1: $success-1;
    success2: $success-2;
    success3: $success-3;
    success4: $success-4;
    success5: $success-5;
    success6: $success-6;
    success7: $success-7;
    success8: $success-8;
    success9: $success-9;
    success10: $success-10;
    successReverse: $success-reverse;
    success1Reverse: $success-1-reverse;
    success2Reverse: $success-2-reverse;
    success3Reverse: $success-3-reverse;
    success4Reverse: $success-4-reverse;
    success5Reverse: $success-5-reverse;
    success6Reverse: $success-6-reverse;
    success7Reverse: $success-7-reverse;
    success8Reverse: $success-8-reverse;
    success9Reverse: $success-9-reverse;
    success10Reverse: $success-10-reverse;
    hasSuccess: $has-success;
    warning: $warning;
    warning1: $warning-1;
    warning2: $warning-2;
    warning3: $warning-3;
    warning4: $warning-4;
    warning5: $warning-5;
    warning6: $warning-6;
    warning7: $warning-7;
    warning8: $warning-8;
    warning9: $warning-9;
    warning10: $warning-10;
    warningReverse: $warning-reverse;
    warning1Reverse: $warning-1-reverse;
    warning2Reverse: $warning-2-reverse;
    warning3Reverse: $warning-3-reverse;
    warning4Reverse: $warning-4-reverse;
    warning5Reverse: $warning-5-reverse;
    warning6Reverse: $warning-6-reverse;
    warning7Reverse: $warning-7-reverse;
    warning8Reverse: $warning-8-reverse;
    warning9Reverse: $warning-9-reverse;
    warning10Reverse: $warning-10-reverse;
    hasWarning: $has-warning;
    error: $error;
    error1: $error-1;
    error2: $error-2;
    error3: $error-3;
    error4: $error-4;
    error5: $error-5;
    error6: $error-6;
    error7: $error-7;
    error8: $error-8;
    error9: $error-9;
    error10: $error-10;
    errorReverse: $error-reverse;
    error1Reverse: $error-1-reverse;
    error2Reverse: $error-2-reverse;
    error3Reverse: $error-3-reverse;
    error4Reverse: $error-4-reverse;
    error5Reverse: $error-5-reverse;
    error6Reverse: $error-6-reverse;
    error7Reverse: $error-7-reverse;
    error8Reverse: $error-8-reverse;
    error9Reverse: $error-9-reverse;
    error10Reverse: $error-10-reverse;
    hasError: $has-error;
    info: $info;
    info1: $info-1;
    info2: $info-2;
    info3: $info-3;
    info4: $info-4;
    info5: $info-5;
    info6: $info-6;
    info7: $info-7;
    info8: $info-8;
    info9: $info-9;
    info10: $info-10;
    infoReverse: $info-reverse;
    info1Reverse: $info-1-reverse;
    info2Reverse: $info-2-reverse;
    info3Reverse: $info-3-reverse;
    info4Reverse: $info-4-reverse;
    info5Reverse: $info-5-reverse;
    info6Reverse: $info-6-reverse;
    info7Reverse: $info-7-reverse;
    info8Reverse: $info-8-reverse;
    info9Reverse: $info-9-reverse;
    info10Reverse: $info-10-reverse;
    hasInfo: $has-info;
    // mColors: $m-colors;
    // mColorsReverse: $m-colors-reverse;
    // positioning
    // mPosition: $m-position;
    // mPositionValue: $m-position-value;
    zIndexMin: $z-index-min;
    zIndexMax: $z-index-max;
    zIndexStep: $z-index-step;
    // mZIndex: $m-z-index;
    // box-model
    // mBoxSizing: $m-box-sizing;
    // mDisplay: $m-display;
    // mFlex: $m-flex;
    // mFlexDirection: $m-flex-direction;
    // mFlexWrap: $m-flex-wrap;
    flexShrinkMin: $flex-shrink-min;
    flexShrinkMax: $flex-shrink-max;
    flexShrinkStep: $flex-shrink-step;
    // mFlexShrink: $m-flex-shrink;
    flexGrowMin: $flex-grow-min;
    flexGrowMax: $flex-grow-max;
    flexGrowStep: $flex-grow-step;
    // mFlexGrow: $m-flex-grow;
    // mAlignContent: $m-align-content;
    // mAlignItems: $m-align-items;
    // mAlignSelf: $m-align-self;
    // mJustifyContent: $m-justify-content;
    orderMin: $order-min;
    orderMax: $order-max;
    orderStep: $order-step;
    // mOrder: $m-order;
    // lWidthDenominator: $l-width-denominator;
    widthMin: $width-min;
    widthMax: $width-max;
    widthStep: $width-step;
    widthHas1Real: $width-has-1-real;
    // mWidth: $m-width;
    // lHeightDenominator: $l-height-denominator;
    heightMin: $height-min;
    heightMax: $height-max;
    heightStep: $height-step;
    heightHas1Real: $height-has-1-real;
    // mHeight: $m-height;
    paddingBase: $padding-base;
    paddingDiff: $padding-diff;
    paddingMin: $padding-min;
    paddingMax: $padding-max;
    paddingStep: $padding-step;
    // mPadding: $m-padding;
    marginBase: $margin-base;
    marginDiff: $margin-diff;
    marginMin: $margin-min;
    marginMax: $margin-max;
    marginStep: $margin-step;
    // mMargin: $m-margin;
    // mOverflow: $m-overflow;
    // typography
    fontFamilyDefault: $font-family-default;
    // mFontFamily: $m-font-family;
    fontSizeBase: $font-size-base;
    fontSizeDiff: $font-size-diff;
    fontSizeMin: $font-size-min;
    fontSizeMax: $font-size-max;
    fontSizeStep: $font-size-step;
    // mFontSize: $m-font-size;
    // mFontStyle: $m-font-style;
    // mFontWeight: $m-font-weight;
    // mFontVariant: $m-font-variant;
    lineHeightDefault: $line-height-default;
    lineHeightDiff: $line-height-diff;
    lineHeightMin: $line-height-min;
    lineHeightMax: $line-height-max;
    lineHeightStep: $line-height-step;
    // mLineHeight: $m-line-height;
    colorMain: $color-main;
    colorSecondary: $color-secondary;
    colorDisabled: $color-disabled;
    colorMainReverse: $color-main-reverse;
    colorSecondaryReverse: $color-secondary-reverse;
    colorDisabledReverse: $color-disabled-reverse;
    // mColor: $m-color;
    // mColorReverse: $m-color-reverse;
    // mTextAlign: $m-text-align;
    // mTextDecoration: $m-text-decoration;
    // visual
    backgroundColor: $background-color;
    backgroundColorReverse: $background-color-reverse;
    // mBackgroundColor: $m-background-color;
    // mBackgroundColorReverse: $m-background-color-reverse;
    // mBackgroundRepeat: $m-background-repeat;
    // mBackgroundAttachment: $m-background-attachment;
    // mBackgroundPosition: $m-background-position;
    // mBackgroundSize: $m-background-size;
    borderColor: $border-color;
    borderColorReverse: $border-color-reverse;
    // mBorderColor: $m-border-color;
    // mBorderColorReverse: $m-border-color-reverse;
    // mBorderStyle: $m-border-style;
    borderWidthBase: $border-width-base;
    borderWidthMin: $border-width-min;
    borderWidthMax: $border-width-max;
    borderWidthStep: $border-width-step;
    borderWidthHas1Real: $border-width-has-1-real;
    // mBorderWidth: $m-border-width;
    borderRadiusBase: $border-radius-base;
    borderRadiusDiff: $border-radius-diff;
    borderRadiusMin: $border-radius-min;
    borderRadiusMax: $border-radius-max;
    borderRadiusStep: $border-radius-step;
    // mBorderRadius: $m-border-radius;
    // mOutline: $m-outline;
    boxShadowUmbra: $box-shadow-umbra;
    // mBoxShadowUmbra: $m-box-shadow-umbra;
    boxShadowPenumbra: $box-shadow-penumbra;
    // mBoxShadowPenumbra: $m-box-shadow-penumbra;
    boxShadowAmbient: $box-shadow-ambient;
    // mBoxShadowAmbient: $m-box-shadow-ambient;
    boxShadowMin: $box-shadow-min;
    boxShadowMax: $box-shadow-max;
    boxShadowStep: $box-shadow-step;
    // mBoxShadow: $m-box-shadow;
    // misc
    // mOpacity: $m-opacity;
    transitionDefault: $transition-default;
    // mTransition: $m-transition;
  }
}
