/* 初始变量 initial variables */

/* 单位 unit */
$unit: rpx !default;

/* 缩放倍数 scale */
$scale: 2 !default;

/* 是否启用暗黑模式 */
$has-dark: false !default;

/* 是否在 classes 里启用 !important */
$has-important: false !default;

/* 通用变量 common */
// 中性色 neutral color
$has-transparent: true !default;
$gray: #8c8c8c !default;
$gray-1: #fff !default;
$gray-2: #fafafa !default;
$gray-3: #f5f5f5 !default;
$gray-4: #f0f0f0 !default;
$gray-5: #d9d9d9 !default;
$gray-6: #bfbfbf !default;
$gray-7: #8c8c8c !default;
$gray-8: #595959 !default;
$gray-9: #434343 !default;
$gray-10: #262626 !default;
$gray-11: #1f1f1f !default;
$gray-12: #141414 !default;
$gray-13: #000 !default;
$has-gray: true !default;
$white: #fff;
$has-white: true !default;
$black: #000;
$has-black: true !default;
// dust red
$red: #f5222d !default;
$has-red: false !default;
// volcano
$volcano: #fa541c !default;
$has-volcano: false !default;
// sunset orange
$orange: #fa8c16 !default;
$has-orange: false !default;
// calendula gold
$gold: #faad14 !default;
$has-gold: false !default;
// sunrise yellow
$yellow: #fadb14 !default;
$has-yellow: false !default;
// lime
$lime: #a0d911 !default;
$has-lime: false !default;
// polar green
$green: #52c41a !default;
$has-green: false !default;
// cyan
$cyan: #13c2c2 !default;
$has-cyan: false !default;
// daybreak blue
$blue: #1890ff !default;
$has-blue: false !default;
// geek blue
$geek-blue: #2f54eb !default;
$has-geek-blue: false !default;
// golden purple
$purple: #722ed1 !default;
$has-purple: false !default;
// magenta
$magenta: #eb2f96 !default;
$has-magenta: false !default;
// primary
$primary: #1890ff !default;
$has-primary: true !default;
// success
$success: #52c41a !default;
$has-success: true !default;
// warning
$warning: #faad14 !default;
$has-warning: true !default;
// error
$error: #f5222d !default;
$has-error: true !default;
// info
$info: #1890ff !default;
$has-info: true !default;

/* 定位变量 positioning */
// position
$m-position: (
  "relative": relative,
  "absolute": absolute,
  "static": static,
  "fixed": fixed
) !default;
// top/right/bottom/left
$m-position-value: (
  "-0": 0
) !default;
// z-index
$z-index-min: 0 !default;
$z-index-max: 50 !default;
$z-index-step: 10 !default;

/* 盒模型变量 box-model */
// box-sizing
$m-box-sizing: (
  "-border": border-box
) !default;
// display
$m-display: (
  "-block": block,
  "-inline-block": inline-block,
  "-flex": flex,
  "-inline-flex": inline-flex,
  "-none": none
) !default;
// flex
$m-flex: (
  "-auto": 1 1 auto,
  "-none": 0 0 auto
) !default;
// flex-direction
$m-flex-direction: (
  "-row": row,
  "-col": column
) !default;
// flex-wrap
$m-flex-wrap: (
  "-nowrap": nowrap,
  "-wrap": wrap
) !default;
// flex-shrink
$flex-shrink-min: 0 !default;
$flex-shrink-max: 1 !default;
$flex-shrink-step: 1 !default;
// flex-grow
$flex-grow-min: 0 !default;
$flex-grow-max: 1 !default;
$flex-grow-step: 1 !default;
// align-content
$m-align-content: (
  "-start": flex-start,
  "-end": flex-end,
  "-center": center
) !default;
// align-items
$m-align-items: (
  "-start": flex-start,
  "-end": flex-end,
  "-center": center
) !default;
// align-self
$m-align-self: (
  "-start": flex-start,
  "-end": flex-end,
  "-center": center
) !default;
// justify-content
$m-justify-content: (
  "-start": flex-start,
  "-end": flex-end,
  "-center": center,
  "-space-between": space-between,
  "-space-around": space-around
) !default;
// order
$order-min: -2 !default;
$order-max: 2 !default;
$order-step: 1 !default;
// width
$l-width-denominator: 8, 10, 12 !default;
$width-min: 0 !default;
$width-max: 40 !default;
$width-step: 1 !default;
$width-has-1-real: true !default;
// height
$l-height-denominator: 8, 10, 12 !default;
$height-min: 0 !default;
$height-max: 40 !default;
$height-step: 1 !default;
$height-has-1-real: true !default;
// padding
$padding-min: 0 !default;
$padding-max: 40 !default;
$padding-step: 1 !default;
$padding-has-1-real: true !default;
// margin
$margin-min: 0 !default;
$margin-max: 40 !default;
$margin-step: 1 !default;
$margin-has-1-real: true !default;
// overflow
$m-overflow: (
  "-auto": auto,
  "-hidden": hidden
) !default;

/* 排版变量 typography */
// font-family
$font-family-default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
  "微软雅黑", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// font-size
$font-size-base: 14 !default;
$font-size-diff: 2 !default;
$font-size-min: 10 !default;
$font-size-max: 40 !default;
$font-size-step: 2 !default;
// font-style
$m-font-style: (
  "-normal": normal,
  "-italic": italic
) !default;
// font-weight
$m-font-weight: (
  "": 400,
  "-regular": 400,
  "-medium": 500,
  "-semi-bold": 600,
  "-bold": 700
) !default;
// font-variant
$m-font-variant: (
  "tabular-nums": tabular-nums
) !default;
// line-height
$line-height-default: 1.5 !default;
$line-height-diff: 0.25 !default;
$line-height-min: 18 !default;
$line-height-max: 48 !default;
$line-height-step: 2 !default;
// text-align
$m-text-align: (
  "-left": left,
  "-right": right,
  "-center": center
) !default;
// text-decoration
$m-text-decoration: (
  "-none": none,
  "-underline": underline
) !default;
// text-transform
$m-text-transform: (
  "-uppercase": uppercase,
  "-lowercase": lowercase
) !default;

/* 视觉变量 visual */
// background-repeat
$m-background-repeat: (
  "-repeat": repeat,
  "-repeat-y": repeat-y,
  "-repeat-x": repeat-x,
  "-no-repeat": no-repeat
) !default;
// background-attachment
$m-background-attachment: (
  "-fixed": fixed,
  "-local": local
) !default;
// background-position
$m-background-position: (
  "-center": center
) !default;
// background-size
$m-background-size: (
  "-contain": contain,
  "-cover": cover
) !default;
// border-style
$m-border-style: (
  "": solid,
  "-solid": solid,
  "-none": none
) !default;
// border-width
$border-width-base: 1 !default;
$border-width-min: 0 !default;
$border-width-max: 1 !default;
$border-width-step: 1 !default;
$border-width-has-1-real: true !default;
// border-radius
$border-radius-base: 4 !default;
$border-radius-min: 0 !default;
$border-radius-max: 6 !default;
$border-radius-step: 1 !default;
// outline
$m-outline: (
  "-none": none
);
// box-shadow
$box-shadow-umbra: rgba(0, 0, 0, 0.2) !default;
$box-shadow-penumbra: rgba(0, 0, 0, 0.14) !default;
$box-shadow-ambient: rgba(0, 0, 0, 0.12) !default;
$box-shadow-min: 0 !default;
$box-shadow-max: 24 !default;
$box-shadow-step: 1 !default;

/* 杂项变量 misc */
// opacity
$m-opacity: (
  "-0": 0,
  "-100": 1
) !default;
// transition
$transition-default: all 0.48s cubic-bezier(0.25, 0.8, 0.5, 1) !default;
