// variables that used by layout
$container-font-family: $font-family-default !default;
$container-font-size-base: $font-size-base !default;
$container-font-size: $container-font-size-base * $scale + $unit !default;
$container-font-weight: 400 !default;
$container-line-height: $line-height-default !default;

$header-background-color: transparent !default;
$header-background-color-reverse: transparent !default;

$navbar-background-color: transparent !default;
$navbar-background-color-reverse: transparent !default;

$aside-background-color: transparent !default;
$aside-background-color-reverse: transparent !default;

$main-background-color: transparent !default;
$main-background-color-reverse: transparent !default;

$footer-background-color: transparent !default;
$footer-background-color-reverse: transparent !default;

$safe-area-height: 34 * $scale + $unit;
$safe-area-background-color: transparent !default;
$safe-area-background-color-reverse: transparent !default;

$row-background-color: transparent !default;
$row-background-color-reverse: transparent !default;

$col-background-color: transparent !default;
$col-background-color-reverse: transparent !default;

$grid-max: 24 !default;
$gutter-base: 12 !default;
$gutter-min: 4 !default;
$gutter-max: 24 !default;
$gutter-step: 2 !default;
$m-gutter: (
  "": $gutter-base / 2 * $scale + $unit,
  "-xs": (
    $gutter-base - 8
  ) / 2 * $scale + $unit,
  "-sm": (
    $gutter-base - 4
  ) / 2 * $scale + $unit,
  "-md": $gutter-base / 2 * $scale + $unit,
  "-lg": (
    $gutter-base + 4
  ) / 2 * $scale + $unit,
  "-xl": (
    $gutter-base + 8
  ) / 2 * $scale + $unit
) !default;
$tmp-gutter: $gutter-min;
@while ($tmp-gutter <= $gutter-max) {
  $m-gutter: map-merge(
    $m-gutter,
    (
      "-#{$tmp-gutter}": $tmp-gutter / 2 * $scale + $unit
    )
  );
  $tmp-gutter: $tmp-gutter + $gutter-step;
}
