// variables that used by layout
$header-background-color: transparent !default;
$header-background-color-reverse: transparent !default;

$navbar-background-color: transparent !default;
$navbar-background-color-reverse: transparent !default;

$aside-background-color: transparent !default;
$aside-background-color-reverse: transparent !default;

$main-background-color: transparent !default;
$main-background-color-reverse: transparent !default;

$footer-background-color: transparent !default;
$footer-background-color-reverse: transparent !default;

$safe-area-height: 34 * $scale + $unit;
$safe-area-background-color: transparent !default;
$safe-area-background-color-reverse: transparent !default;

$row-background-color: transparent !default;
$row-background-color-reverse: transparent !default;

$col-background-color: transparent !default;
$col-background-color-reverse: transparent !default;

$grid-max: 24 !default;
$m-gutter: (
  "": 12 / 2 * $scale + $unit,
  "-xs": 4 / 2 * $scale + $unit,
  "-sm": 8 / 2 * $scale + $unit,
  "-md": 12 / 2 * $scale + $unit,
  "-lg": 16 / 2 * $scale + $unit,
  "-xl": 20 / 2 * $scale + $unit
) !default;
$gutter-min: 4 !default;
$gutter-max: 20 !default;
@for $v from $gutter-min to $gutter-max {
  $m-gutter: map-merge(
    $m-gutter,
    (
      "-#{$v}": $v / 2 * $scale + $unit
    )
  );
}
