@each $key, $val in $m-palette-color-light {
  .bg#{$key},
  .light .bg#{$key} {
    background: $val;
  }
}

@each $key, $val in $m-functional-color-light {
  .bg#{$key},
  .light .bg#{$key} {
    background: $val;
  }
}

@each $key, $val in $m-background-color-light {
  .bg#{$key},
  .light .bg#{$key} {
    background: $val;
  }
}

@each $key, $val in $m-palette-color-dark {
  .dark .bg#{$key} {
    background: $val;
  }
}

@each $key, $val in $m-functional-color-dark {
  .dark .bg#{$key} {
    background: $val;
  }
}

@each $key, $val in $m-background-color-dark {
  .dark .bg#{$key} {
    background: $val;
  }
}
