@import "../../variables/index";

@each $k, $v in $m-colors {
  .bg#{$k},
  .is-light .bg#{$k},
  .is-light.bg#{$k} {
    background-color: $v;
  }
}

@each $k, $v in $m-background-color {
  .bg#{$k},
  .is-light .bg#{$k},
  .is-light.bg#{$k} {
    background-color: $v;
  }
}

@each $k, $v in $m-colors-reverse {
  .is-dark .bg#{$k},
  .is-dark.bg#{$k} {
    background-color: $v;
  }
}

@each $k, $v in $m-background-color-reverse {
  .is-dark .bg#{$k},
  .is-dark.bg#{$k} {
    background-color: $v;
  }
}
