@import "../../variables";

@each $k, $v in $m-border-width {
  .border#{$k} {
    border-width: $v if($has-important, !important, "");
  }

  .border-y#{$k} {
    border-top-width: $v if($has-important, !important, "");
    border-bottom-width: $v if($has-important, !important, "");
  }

  .border-x#{$k} {
    border-right-width: $v if($has-important, !important, "");
    border-left-width: $v if($has-important, !important, "");
  }

  .border-t#{$k} {
    border-top-width: $v if($has-important, !important, "");
  }

  .border-r#{$k} {
    border-right-width: $v if($has-important, !important, "");
  }

  .border-b#{$k} {
    border-bottom-width: $v if($has-important, !important, "");
  }

  .border-l#{$k} {
    border-left-width: $v if($has-important, !important, "");
  }
}
