@import "../../variables";

@each $k, $v in $m-colors {
  .border#{$k} {
    border-color: $v;
  }

  .border-y#{$k} {
    border-top-color: $v;
    border-bottom-color: $v;
  }

  .border-x#{$k} {
    border-right-color: $v;
    border-left-color: $v;
  }

  .border-t#{$k} {
    border-top-color: $v;
  }

  .border-r#{$k} {
    border-right-color: $v;
  }

  .border-b#{$k} {
    border-bottom-color: $v;
  }

  .border-l#{$k} {
    border-color: $v;
  }
}

@each $k, $v in $m-border-color {
  .border#{$k} {
    border-color: $v;
  }

  .border-y#{$k} {
    border-top-color: $v;
    border-bottom-color: $v;
  }

  .border-x#{$k} {
    border-right-color: $v;
    border-left-color: $v;
  }

  .border-t#{$k} {
    border-top-color: $v;
  }

  .border-r#{$k} {
    border-right-color: $v;
  }

  .border-b#{$k} {
    border-bottom-color: $v;
  }

  .border-l#{$k} {
    border-color: $v;
  }
}

@if ($has-dark) {
  @each $k, $v in $m-colors-reverse {
    .is-dark .border#{$k} {
      border-color: $v;
    }

    .is-dark .border-y#{$k} {
      border-top-color: $v;
      border-bottom-color: $v;
    }

    .is-dark .border-x#{$k} {
      border-right-color: $v;
      border-left-color: $v;
    }

    .is-dark .border-t#{$k} {
      border-top-color: $v;
    }

    .is-dark .border-r#{$k} {
      border-right-color: $v;
    }

    .is-dark .border-b#{$k} {
      border-bottom-color: $v;
    }

    .is-dark .border-l#{$k} {
      border-color: $v;
    }
  }

  @each $k, $v in $m-border-color-reverse {
    .is-dark .border#{$k} {
      border-color: $v;
    }

    .is-dark .border-y#{$k} {
      border-top-color: $v;
      border-bottom-color: $v;
    }

    .is-dark .border-x#{$k} {
      border-right-color: $v;
      border-left-color: $v;
    }

    .is-dark .border-t#{$k} {
      border-top-color: $v;
    }

    .is-dark .border-r#{$k} {
      border-right-color: $v;
    }

    .is-dark .border-b#{$k} {
      border-bottom-color: $v;
    }

    .is-dark .border-l#{$k} {
      border-color: $v;
    }
  }
}
