.break-normal,
.text-break-normal {
  word-break: normal;
  overflow-wrap: normal;
}

.break-words,
.text-break-words {
  overflow-wrap: break-word;
}

.break-all,
.text-break-all {
  word-break: break-all;
}

.truncate,
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
