@import "../../variables";

@each $k, $v in $m-colors {
  .text#{$k} {
    color: $v;
  }
}

@each $k, $v in $m-color {
  .text#{$k} {
    color: $v;
  }
}

@if ($has-dark) {
  @each $k, $v in $m-colors-reverse {
    .is-dark .text#{$k} {
      color: $v;
    }
  }

  @each $k, $v in $m-color-reverse {
    .is-dark .text#{$k} {
      color: $v;
    }
  }
}
