@import "../../variables";

.text-break-normal {
  word-break: normal if($has-important, !important, "");
  overflow-wrap: normal if($has-important, !important, "");
}

.text-break-word {
  overflow-wrap: break-word if($has-important, !important, "");
}

.text-break-all {
  word-break: break-all if($has-important, !important, "");
}

.text-truncate {
  overflow: hidden if($has-important, !important, "");
  text-overflow: ellipsis if($has-important, !important, "");
  white-space: nowrap if($has-important, !important, "");
}
