@import "./palette";

// 中性色
$gray: #8c8c8c !default;
$gray-1: #fff !default;
$gray-2: #fafafa !default;
$gray-3: #f5f5f5 !default;
$gray-4: #f0f0f0 !default;
$gray-5: #d9d9d9 !default;
$gray-6: #bfbfbf !default;
$gray-7: #8c8c8c !default;
$gray-8: #595959 !default;
$gray-9: #434343 !default;
$gray-10: #262626 !default;
$gray-11: #1f1f1f !default;
$gray-12: #141414 !default;
$gray-13: #000 !default;
// Dust Red / 薄暮
$red: #f5222d !default;
$red-1: f-get-color($red, 1); // #fff1f0
$red-2: f-get-color($red, 2); // #ffccc7
$red-3: f-get-color($red, 3); // #ffa39e
$red-4: f-get-color($red, 4); // #ff7875
$red-5: f-get-color($red, 5); // #ff4d4f
$red-6: f-get-color($red, 6); // #f5222d
$red-7: f-get-color($red, 7); // #cf1322
$red-8: f-get-color($red, 8); // #a8071a
$red-9: f-get-color($red, 9); // #820014
$red-10: f-get-color($red, 10); // #5c0011
$red-reverse: mix($red, $gray-12, 85%); // #d32029
$red-1-reverse: mix(f-get-color($red, 8), $gray-12, 15%); // #2a1215
$red-2-reverse: mix(f-get-color($red, 7), $gray-12, 25%); // #431418
$red-3-reverse: mix($red, $gray-12, 30%); // #58181c
$red-4-reverse: mix($red, $gray-12, 45%); // #791a1f
$red-5-reverse: mix($red, $gray-12, 65%); // #a61d24
$red-6-reverse: mix($red, $gray-12, 85%); // #d32029
$red-7-reverse: mix(f-get-color($red, 5), $gray-12, 90%); // #e84749
$red-8-reverse: mix(f-get-color($red, 4), $gray-12, 95%); // #f37370
$red-9-reverse: mix(f-get-color($red, 3), $gray-12, 97%); // #f89f9a
$red-10-reverse: mix(f-get-color($red, 2), $gray-12, 98%); // #fac8c3
// Volcano / 火山
$volcano: #fa541c !default;
$volcano-1: f-get-color($volcano, 1); // #fff2e8
$volcano-2: f-get-color($volcano, 2); // #ffd8bf
$volcano-3: f-get-color($volcano, 3); // #ffbb96
$volcano-4: f-get-color($volcano, 4); // #ff9c6e
$volcano-5: f-get-color($volcano, 5); // #ff7a45
$volcano-6: f-get-color($volcano, 6); // #fa541c
$volcano-7: f-get-color($volcano, 7); // #d4380d
$volcano-8: f-get-color($volcano, 8); // #ad2102
$volcano-9: f-get-color($volcano, 9); // #871400
$volcano-10: f-get-color($volcano, 10); // #610b00
$volcano-reverse: mix($volcano, $gray-12, 85%); // #d84a1b
$volcano-1-reverse: mix(f-get-color($volcano, 8), $gray-12, 15%); // #2b1611
$volcano-2-reverse: mix(f-get-color($volcano, 7), $gray-12, 25%); // #441d12
$volcano-3-reverse: mix($volcano, $gray-12, 30%); // #592716
$volcano-4-reverse: mix($volcano, $gray-12, 45%); // #7c3118
$volcano-5-reverse: mix($volcano, $gray-12, 65%); // #aa3e19
$volcano-6-reverse: mix($volcano, $gray-12, 85%); // #d84a1b
$volcano-7-reverse: mix(f-get-color($volcano, 5), $gray-12, 90%); // #e87040
$volcano-8-reverse: mix(f-get-color($volcano, 4), $gray-12, 95%); // #f3956a
$volcano-9-reverse: mix(f-get-color($volcano, 3), $gray-12, 97%); // #f8b692
$volcano-10-reverse: mix(f-get-color($volcano, 2), $gray-12, 98%); // #fad4bc
// Sunset Orange / 日暮
$orange: #fa8c16 !default;
$orange-1: f-get-color($orange, 1); // #fff7e6
$orange-2: f-get-color($orange, 2); // #ffe7ba
$orange-3: f-get-color($orange, 3); // #ffd591
$orange-4: f-get-color($orange, 4); // #ffc069
$orange-5: f-get-color($orange, 5); // #ffa940
$orange-6: f-get-color($orange, 6); // #fa8c16
$orange-7: f-get-color($orange, 7); // #d46b08
$orange-8: f-get-color($orange, 8); // #ad4e00
$orange-9: f-get-color($orange, 9); // #873800
$orange-10: f-get-color($orange, 10); // #612500
$orange-reverse: mix($orange, $gray-12, 85%); // #d87a16
$orange-1-reverse: mix(f-get-color($orange, 8), $gray-12, 15%); // #2b1d11
$orange-2-reverse: mix(f-get-color($orange, 7), $gray-12, 25%); // #442a11
$orange-3-reverse: mix($orange, $gray-12, 30%); // #593815
$orange-4-reverse: mix($orange, $gray-12, 45%); // #7c4a15
$orange-5-reverse: mix($orange, $gray-12, 65%); // #aa6215
$orange-6-reverse: mix($orange, $gray-12, 85%); // #d87a16
$orange-7-reverse: mix(f-get-color($orange, 5), $gray-12, 90%); // #e89a3c
$orange-8-reverse: mix(f-get-color($orange, 4), $gray-12, 95%); // #f3b765
$orange-9-reverse: mix(f-get-color($orange, 3), $gray-12, 97%); // #f8cf8d
$orange-10-reverse: mix(f-get-color($orange, 2), $gray-12, 98%); // #fae3b7
// Calendula Gold / 金盏花
$gold: #faad14 !default;
$gold-1: f-get-color($gold, 1); // #fffbe6
$gold-2: f-get-color($gold, 2); // #fff1b8
$gold-3: f-get-color($gold, 3); // #ffe58f
$gold-4: f-get-color($gold, 4); // #ffd666
$gold-5: f-get-color($gold, 5); // #ffc53d
$gold-6: f-get-color($gold, 6); // #faad14
$gold-7: f-get-color($gold, 7); // #d48806
$gold-8: f-get-color($gold, 8); // #ad6800
$gold-9: f-get-color($gold, 9); // #874d00
$gold-10: f-get-color($gold, 10); // #613400
$gold-reverse: mix($gold, $gray-12, 85%); // #d89614
$gold-1-reverse: mix(f-get-color($gold, 8), $gray-12, 15%); // #2b2111
$gold-2-reverse: mix(f-get-color($gold, 7), $gray-12, 25%); // #443111
$gold-3-reverse: mix($gold, $gray-12, 30%); // #594214
$gold-4-reverse: mix($gold, $gray-12, 45%); // #7c5914
$gold-5-reverse: mix($gold, $gray-12, 65%); // #aa7714
$gold-6-reverse: mix($gold, $gray-12, 85%); // #d89614
$gold-7-reverse: mix(f-get-color($gold, 5), $gray-12, 90%); // #e8b339
$gold-8-reverse: mix(f-get-color($gold, 4), $gray-12, 95%); // #f3cc62
$gold-9-reverse: mix(f-get-color($gold, 3), $gray-12, 97%); // #f8df8b
$gold-10-reverse: mix(f-get-color($gold, 2), $gray-12, 98%);  // #faedb5
// Sunrise Yellow / 日出
$yellow: #fadb14 !default;
$yellow-1: f-get-color($yellow, 1); // #feffe6
$yellow-2: f-get-color($yellow, 2); // #ffffb8
$yellow-3: f-get-color($yellow, 3); // #fffb8f
$yellow-4: f-get-color($yellow, 4); // #fff566
$yellow-5: f-get-color($yellow, 5); // #ffec3d
$yellow-6: f-get-color($yellow, 6); // #fadb14
$yellow-7: f-get-color($yellow, 7); // #d4b106
$yellow-8: f-get-color($yellow, 8); // #ad8b00
$yellow-9: f-get-color($yellow, 9); // #876800
$yellow-10: f-get-color($yellow, 10); // #614700
$yellow-reverse: mix($yellow, $gray-12, 85%); // #d8bd14
$yellow-1-reverse: mix(f-get-color($yellow, 8), $gray-12, 15%); // #2b2611
$yellow-2-reverse: mix(f-get-color($yellow, 7), $gray-12, 25%); // #443b11
$yellow-3-reverse: mix($yellow, $gray-12, 30%); // #595014
$yellow-4-reverse: mix($yellow, $gray-12, 45%); // #7c6e14
$yellow-5-reverse: mix($yellow, $gray-12, 65%); // #aa9514
$yellow-6-reverse: mix($yellow, $gray-12, 85%); // #d8bd14
$yellow-7-reverse: mix(f-get-color($yellow, 5), $gray-12, 90%); // #e8d639
$yellow-8-reverse: mix(f-get-color($yellow, 4), $gray-12, 95%); // #f3ea62
$yellow-9-reverse: mix(f-get-color($yellow, 3), $gray-12, 97%); // #f8f48b
$yellow-10-reverse: mix(f-get-color($yellow, 2), $gray-12, 98%); // #fafab5
// Lime / 青柠
$lime: #a0d911 !default;
$lime-1: f-get-color($lime, 1); // #fcffe6
$lime-2: f-get-color($lime, 2); // #f4ffb8
$lime-3: f-get-color($lime, 3); // #eaff8f
$lime-4: f-get-color($lime, 4); // #d3f261
$lime-5: f-get-color($lime, 5); // #bae637
$lime-6: f-get-color($lime, 6); // #a0d911
$lime-7: f-get-color($lime, 7); // #7cb305
$lime-8: f-get-color($lime, 8); // #5b8c00
$lime-9: f-get-color($lime, 9); // #3f6600
$lime-10: f-get-color($lime, 10); // #254000
$lime-reverse: mix($lime, $gray-12, 85%); // #8bbb11
$lime-1-reverse: mix(f-get-color($lime, 8), $gray-12, 15%); // #1f2611
$lime-2-reverse: mix(f-get-color($lime, 7), $gray-12, 25%); // #2e3c10
$lime-3-reverse: mix($lime, $gray-12, 30%); // #3e4f13
$lime-4-reverse: mix($lime, $gray-12, 45%); // #536d13
$lime-5-reverse: mix($lime, $gray-12, 65%); // #6f9412
$lime-6-reverse: mix($lime, $gray-12, 85%); // #8bbb11
$lime-7-reverse: mix(f-get-color($lime, 5), $gray-12, 90%); // #a9d134
$lime-8-reverse: mix(f-get-color($lime, 4), $gray-12, 95%); // #c9e75d
$lime-9-reverse: mix(f-get-color($lime, 3), $gray-12, 97%); // #e4f88b
$lime-10-reverse: mix(f-get-color($lime, 2), $gray-12, 98%); // #f0fab5
// Polar Green / 极光绿
$green: #52c41a !default;
$green-1: f-get-color($green, 1); // #f6ffed
$green-2: f-get-color($green, 2); // #d9f7be
$green-3: f-get-color($green, 3); // #b7eb8f
$green-4: f-get-color($green, 4); // #95de64
$green-5: f-get-color($green, 5); // #73d13d
$green-6: f-get-color($green, 6); // #52c41a
$green-7: f-get-color($green, 7); // #389e0d
$green-8: f-get-color($green, 8); // #237804
$green-9: f-get-color($green, 9); // #135200
$green-10: f-get-color($green, 10); // #092b00
$green-reverse: mix($green, $gray-12, 85%); // #49aa19
$green-1-reverse: mix(f-get-color($green, 8), $gray-12, 15%); // #162312
$green-2-reverse: mix(f-get-color($green, 7), $gray-12, 25%); // #1d3712
$green-3-reverse: mix($green, $gray-12, 30%); // #274916
$green-4-reverse: mix($green, $gray-12, 45%); // #306317
$green-5-reverse: mix($green, $gray-12, 65%); // #3c8618
$green-6-reverse: mix($green, $gray-12, 85%); // #49aa19
$green-7-reverse: mix(f-get-color($green, 5), $gray-12, 90%); // #6abe39
$green-8-reverse: mix(f-get-color($green, 4), $gray-12, 95%); // #8fd460
$green-9-reverse: mix(f-get-color($green, 3), $gray-12, 97%); // #b2e58b
$green-10-reverse: mix(f-get-color($green, 2), $gray-12, 98%); // #d5f2bb
// Cyan / 明青
$cyan: #13c2c2 !default;
$cyan-1: f-get-color($cyan, 1); // #e6fffb
$cyan-2: f-get-color($cyan, 2); // #b5f5ec
$cyan-3: f-get-color($cyan, 3); // #87e8de
$cyan-4: f-get-color($cyan, 4); // #5cdbd3
$cyan-5: f-get-color($cyan, 5); // #36cfc9
$cyan-6: f-get-color($cyan, 6); // #13c2c2
$cyan-7: f-get-color($cyan, 7); // #08979c
$cyan-8: f-get-color($cyan, 8); // #006d75
$cyan-9: f-get-color($cyan, 9); // #00474f
$cyan-10: f-get-color($cyan, 10); // #002329
$cyan-reverse: mix($cyan, $gray-12, 85%); // #13a8a8
$cyan-1-reverse: mix(f-get-color($cyan, 8), $gray-12, 15%); // #112123
$cyan-2-reverse: mix(f-get-color($cyan, 7), $gray-12, 25%); // #113536
$cyan-3-reverse: mix($cyan, $gray-12, 30%); // #144848
$cyan-4-reverse: mix($cyan, $gray-12, 45%); // #146262
$cyan-5-reverse: mix($cyan, $gray-12, 65%); // #138585
$cyan-6-reverse: mix($cyan, $gray-12, 85%); // #13a8a8
$cyan-7-reverse: mix(f-get-color($cyan, 5), $gray-12, 90%); // #33bcb7
$cyan-8-reverse: mix(f-get-color($cyan, 4), $gray-12, 95%); // #58d1c9
$cyan-9-reverse: mix(f-get-color($cyan, 3), $gray-12, 97%); // #84e2d8
$cyan-10-reverse: mix(f-get-color($cyan, 2), $gray-12, 98%); // #b2f1e8
// Daybreak Blue / 拂晓蓝
$blue: #1890ff !default;
$blue-1: f-get-color($blue, 1); // #e6f7ff
$blue-2: f-get-color($blue, 2); // #bae7ff
$blue-3: f-get-color($blue, 3); // #91d5ff
$blue-4: f-get-color($blue, 4); // #69c0ff
$blue-5: f-get-color($blue, 5); // #40a9ff
$blue-6: f-get-color($blue, 6); // #1890ff
$blue-7: f-get-color($blue, 7); // #096dd9
$blue-8: f-get-color($blue, 8); // #0050b3
$blue-9: f-get-color($blue, 9); // #003a8c
$blue-10: f-get-color($blue, 10); // #002766
$blue-reverse: mix($blue, $gray-12, 85%); // #177ddc
$blue-1-reverse: mix(f-get-color($blue, 8), $gray-12, 15%); // #111d2c
$blue-2-reverse: mix(f-get-color($blue, 7), $gray-12, 25%); // #112a45
$blue-3-reverse: mix($blue, $gray-12, 30%); // #15395b
$blue-4-reverse: mix($blue, $gray-12, 45%); // #164c7e
$blue-5-reverse: mix($blue, $gray-12, 65%); // #1765ad
$blue-6-reverse: mix($blue, $gray-12, 85%); // #177ddc
$blue-7-reverse: mix(f-get-color($blue, 5), $gray-12, 90%); // #3c9ae8
$blue-8-reverse: mix(f-get-color($blue, 4), $gray-12, 95%); // #65b7f3
$blue-9-reverse: mix(f-get-color($blue, 3), $gray-12, 97%); // #8dcff8
$blue-10-reverse: mix(f-get-color($blue, 2), $gray-12, 98%); // #b7e3fa
// Geek Blue / 极客蓝
$geek-blue: #2f54eb !default;
$geek-blue-1: f-get-color($geek-blue, 1); // #f0f5ff
$geek-blue-2: f-get-color($geek-blue, 2); // #d6e4ff
$geek-blue-3: f-get-color($geek-blue, 3); // #adc6ff
$geek-blue-4: f-get-color($geek-blue, 4); // #85a5ff
$geek-blue-5: f-get-color($geek-blue, 5); // #597ef7
$geek-blue-6: f-get-color($geek-blue, 6); // #2f54eb
$geek-blue-7: f-get-color($geek-blue, 7); // #1d39c4
$geek-blue-8: f-get-color($geek-blue, 8); // #10239e
$geek-blue-9: f-get-color($geek-blue, 9); // #061178
$geek-blue-10: f-get-color($geek-blue, 10); // #030852
$geek-blue-reverse: mix($geek-blue, $gray-12, 85%); // #2b4acb
$geek-blue-1-reverse: mix(f-get-color($geek-blue, 8), $gray-12, 15%); // #131629
$geek-blue-2-reverse: mix(f-get-color($geek-blue, 7), $gray-12, 25%); // #161d40
$geek-blue-3-reverse: mix($geek-blue, $gray-12, 30%); // #1c2755
$geek-blue-4-reverse: mix($geek-blue, $gray-12, 45%); // #203175
$geek-blue-5-reverse: mix($geek-blue, $gray-12, 65%); // #263ea0
$geek-blue-6-reverse: mix($geek-blue, $gray-12, 85%); // #2b4acb
$geek-blue-7-reverse: mix(f-get-color($geek-blue, 5), $gray-12, 90%); // #5273e0
$geek-blue-8-reverse: mix(f-get-color($geek-blue, 4), $gray-12, 95%); // #7f9ef3
$geek-blue-9-reverse: mix(f-get-color($geek-blue, 3), $gray-12, 97%); // #a8c1f8
$geek-blue-10-reverse: mix(f-get-color($geek-blue, 2), $gray-12, 98%); // #d2e0fa
// Golden Purple / 酱紫
$purple: #722ed1 !default;
$purple-1: f-get-color($purple, 1); // #f9f0ff
$purple-2: f-get-color($purple, 2); // #efdbff
$purple-3: f-get-color($purple, 3); // #d3adf7
$purple-4: f-get-color($purple, 4); // #b37feb
$purple-5: f-get-color($purple, 5); // #9254de
$purple-6: f-get-color($purple, 6); // #722ed1
$purple-7: f-get-color($purple, 7); // #531dab
$purple-8: f-get-color($purple, 8); // #391085
$purple-9: f-get-color($purple, 9); // #22075e
$purple-10: f-get-color($purple, 10); // #120338
$purple-reverse: mix($purple, $gray-12, 85%); // #642ab5
$purple-1-reverse: mix(f-get-color($purple, 8), $gray-12, 15%); // #1a1325
$purple-2-reverse: mix(f-get-color($purple, 7), $gray-12, 25%); // #24163a
$purple-3-reverse: mix($purple, $gray-12, 30%); // #301c4d
$purple-4-reverse: mix($purple, $gray-12, 45%); // #3e2069
$purple-5-reverse: mix($purple, $gray-12, 65%); // #51258f
$purple-6-reverse: mix($purple, $gray-12, 85%); // #642ab5
$purple-7-reverse: mix(f-get-color($purple, 5), $gray-12, 90%); // #854eca
$purple-8-reverse: mix(f-get-color($purple, 4), $gray-12, 95%); // #ab7ae0
$purple-9-reverse: mix(f-get-color($purple, 3), $gray-12, 97%); // #cda8f0
$purple-10-reverse: mix(f-get-color($purple, 2), $gray-12, 98%); // #ebd7fa
// Magenta / 法式洋红
$magenta: #eb2f96 !default;
$magenta-1: f-get-color($magenta, 1); // #fff0f6
$magenta-2: f-get-color($magenta, 2); // #ffd6e7
$magenta-3: f-get-color($magenta, 3); // #ffadd2
$magenta-4: f-get-color($magenta, 4); // #ff85c0
$magenta-5: f-get-color($magenta, 5); // #f759ab
$magenta-6: f-get-color($magenta, 6); // #eb2f96
$magenta-7: f-get-color($magenta, 7); // #c41d7f
$magenta-8: f-get-color($magenta, 8); // #9e1068
$magenta-9: f-get-color($magenta, 9); // #780650
$magenta-10: f-get-color($magenta, 10); // #520339
$magenta-reverse: mix($magenta, $gray-12, 85%); // #cb2b83
$magenta-1-reverse: mix(f-get-color($magenta, 8), $gray-12, 15%); // #291321
$magenta-2-reverse: mix(f-get-color($magenta, 7), $gray-12, 25%); // #40162f
$magenta-3-reverse: mix($magenta, $gray-12, 30%); // #551c3b
$magenta-4-reverse: mix($magenta, $gray-12, 45%); // #75204f
$magenta-5-reverse: mix($magenta, $gray-12, 65%); // #a02669
$magenta-6-reverse: mix($magenta, $gray-12, 85%); // #cb2b83
$magenta-7-reverse: mix(f-get-color($magenta, 5), $gray-12, 90%); // #e0529c
$magenta-8-reverse: mix(f-get-color($magenta, 4), $gray-12, 95%); // #f37fb7
$magenta-9-reverse: mix(f-get-color($magenta, 3), $gray-12, 97%); // #f8a8cc
$magenta-10-reverse: mix(f-get-color($magenta, 2), $gray-12, 98%); // #fad2e3
// 功能色
$color-primary: $blue-6 !default;
$color-success: $green-6 !default;
$color-warning: $gold-6 !default;
$color-error: $red-6 !default;
$color-info: $blue-6 !default;
// 文字色
$color-title: rgba(0, 0, 0, .85) !default;
$color-title-small: rgba(0, 0, 0, .75) !default;
$color-main: rgba(0, 0, 0, .65) !default;
$color-main-small: rgba(0, 0, 0, .55) !default;
$color-secondary: rgba(0, 0, 0, .45) !default;
$color-disabled: rgba(0, 0, 0, .25) !default;
$color-title-reverse: rgba(255, 255, 255, .85) !default;
$color-title-small-reverse: rgba(255, 255, 255, .75) !default;
$color-main-reverse: rgba(255, 255, 255, .65) !default;
$color-main-small-reverse: rgba(255, 255, 255, .55) !default;
$color-secondary-reverse: rgba(255, 255, 255, .45) !default;
$color-disabled-reverse: rgba(255, 255, 255, .3) !default;
// 背景色
$color-bg-container: $gray-1 !default;
$color-bg-default: rgba(0, 0, 0, .04) !default;
$color-bg-mask: rgba(0, 0, 0, .45) !default;
$color-bg-shadow: rgba(0, 0, 0, .45) !default;
$color-bg-divider: rgba(0, 0, 0, .06) !default;
$color-bg-container-reverse: $gray-12 !default;
$color-bg-default-reverse: rgba(255, 255, 255, .08) !default;
$color-bg-mask-reverse: rgba(255, 255, 255, .55) !default;
$color-bg-shadow-reverse: rgba(255, 255, 255, .55) !default;
$color-bg-divider-reverse: rgba(255, 255, 255, .12) !default;
// 边框色
$color-border-default: rgba(0, 0, 0, .15) !default;
$color-border-default-reverse: rgba(255, 255, 255, .2) !default;
