// 色板颜色
$palette-colors-dark: (
  "red": $red-reverse,
  "red-1": $red-1-reverse,
  "red-2": $red-2-reverse,
  "red-3": $red-3-reverse,
  "red-4": $red-4-reverse,
  "red-5": $red-5-reverse,
  "red-6": $red-6-reverse,
  "red-7": $red-7-reverse,
  "red-8": $red-8-reverse,
  "red-9": $red-9-reverse,
  "red-10": $red-10-reverse,
  "volcano": $volcano-reverse,
  "volcano-1": $volcano-1-reverse,
  "volcano-2": $volcano-2-reverse,
  "volcano-3": $volcano-3-reverse,
  "volcano-4": $volcano-4-reverse,
  "volcano-5": $volcano-5-reverse,
  "volcano-6": $volcano-6-reverse,
  "volcano-7": $volcano-7-reverse,
  "volcano-8": $volcano-8-reverse,
  "volcano-9": $volcano-9-reverse,
  "volcano-10": $volcano-10-reverse,
  "orange": $orange-reverse,
  "orange-1": $orange-1-reverse,
  "orange-2": $orange-2-reverse,
  "orange-3": $orange-3-reverse,
  "orange-4": $orange-4-reverse,
  "orange-5": $orange-5-reverse,
  "orange-6": $orange-6-reverse,
  "orange-7": $orange-7-reverse,
  "orange-8": $orange-8-reverse,
  "orange-9": $orange-9-reverse,
  "orange-10": $orange-10-reverse,
  "gold": $gold-reverse,
  "gold-1": $gold-1-reverse,
  "gold-2": $gold-2-reverse,
  "gold-3": $gold-3-reverse,
  "gold-4": $gold-4-reverse,
  "gold-5": $gold-5-reverse,
  "gold-6": $gold-6-reverse,
  "gold-7": $gold-7-reverse,
  "gold-8": $gold-8-reverse,
  "gold-9": $gold-9-reverse,
  "gold-10": $gold-10-reverse,
  "yellow": $yellow-reverse,
  "yellow-1": $yellow-1-reverse,
  "yellow-2": $yellow-2-reverse,
  "yellow-3": $yellow-3-reverse,
  "yellow-4": $yellow-4-reverse,
  "yellow-5": $yellow-5-reverse,
  "yellow-6": $yellow-6-reverse,
  "yellow-7": $yellow-7-reverse,
  "yellow-8": $yellow-8-reverse,
  "yellow-9": $yellow-9-reverse,
  "yellow-10": $yellow-10-reverse,
  "lime": $lime-reverse,
  "lime-1": $lime-1-reverse,
  "lime-2": $lime-2-reverse,
  "lime-3": $lime-3-reverse,
  "lime-4": $lime-4-reverse,
  "lime-5": $lime-5-reverse,
  "lime-6": $lime-6-reverse,
  "lime-7": $lime-7-reverse,
  "lime-8": $lime-8-reverse,
  "lime-9": $lime-9-reverse,
  "lime-10": $lime-10-reverse,
  "green": $green-reverse,
  "green-1": $green-1-reverse,
  "green-2": $green-2-reverse,
  "green-3": $green-3-reverse,
  "green-4": $green-4-reverse,
  "green-5": $green-5-reverse,
  "green-6": $green-6-reverse,
  "green-7": $green-7-reverse,
  "green-8": $green-8-reverse,
  "green-9": $green-9-reverse,
  "green-10": $green-10-reverse,
  "cyan": $cyan-reverse,
  "cyan-1": $cyan-1-reverse,
  "cyan-2": $cyan-2-reverse,
  "cyan-3": $cyan-3-reverse,
  "cyan-4": $cyan-4-reverse,
  "cyan-5": $cyan-5-reverse,
  "cyan-6": $cyan-6-reverse,
  "cyan-7": $cyan-7-reverse,
  "cyan-8": $cyan-8-reverse,
  "cyan-9": $cyan-9-reverse,
  "cyan-10": $cyan-10-reverse,
  "blue": $blue-reverse,
  "blue-1": $blue-1-reverse,
  "blue-2": $blue-2-reverse,
  "blue-3": $blue-3-reverse,
  "blue-4": $blue-4-reverse,
  "blue-5": $blue-5-reverse,
  "blue-6": $blue-6-reverse,
  "blue-7": $blue-7-reverse,
  "blue-8": $blue-8-reverse,
  "blue-9": $blue-9-reverse,
  "blue-10": $blue-10-reverse,
  "geek-blue": $geek-blue-reverse,
  "geek-blue-1": $geek-blue-1-reverse,
  "geek-blue-2": $geek-blue-2-reverse,
  "geek-blue-3": $geek-blue-3-reverse,
  "geek-blue-4": $geek-blue-4-reverse,
  "geek-blue-5": $geek-blue-5-reverse,
  "geek-blue-6": $geek-blue-6-reverse,
  "geek-blue-7": $geek-blue-7-reverse,
  "geek-blue-8": $geek-blue-8-reverse,
  "geek-blue-9": $geek-blue-9-reverse,
  "geek-blue-10": $geek-blue-10-reverse,
  "purple": $purple-reverse,
  "purple-1": $purple-1-reverse,
  "purple-2": $purple-2-reverse,
  "purple-3": $purple-3-reverse,
  "purple-4": $purple-4-reverse,
  "purple-5": $purple-5-reverse,
  "purple-6": $purple-6-reverse,
  "purple-7": $purple-7-reverse,
  "purple-8": $purple-8-reverse,
  "purple-9": $purple-9-reverse,
  "purple-10": $purple-10-reverse,
  "magenta": $magenta-reverse,
  "magenta-1": $magenta-1-reverse,
  "magenta-2": $magenta-2-reverse,
  "magenta-3": $magenta-3-reverse,
  "magenta-4": $magenta-4-reverse,
  "magenta-5": $magenta-5-reverse,
  "magenta-6": $magenta-6-reverse,
  "magenta-7": $magenta-7-reverse,
  "magenta-8": $magenta-8-reverse,
  "magenta-9": $magenta-9-reverse,
  "magenta-10": $magenta-10-reverse,
  "white": $gray-1,
  "black": $gray-13,
  "gray": $gray,
  "gray-1": $gray-1,
  "gray-2": $gray-2,
  "gray-3": $gray-3,
  "gray-4": $gray-4,
  "gray-5": $gray-5,
  "gray-6": $gray-6,
  "gray-7": $gray-7,
  "gray-8": $gray-8,
  "gray-9": $gray-9,
  "gray-10": $gray-10,
  "gray-11": $gray-11,
  "gray-12": $gray-12,
  "gray-13": $gray-13
);


// 功能色
$m-functional-color-dark: (
  "primary": $color-primary-reverse,
  "success": $color-success-reverse,
  "warning": $color-warning-reverse,
  "error": $color-error-reverse,
  "info": $color-info-reverse,
  "transparent": transparent
);

// 文字色
$m-text-color-dark: (
  "title": $color-title-reverse,
  "title-small": $color-title-small-reverse,
  "main": $color-main-reverse,
  "main-small": $color-title-small-reverse,
  "secondary": $color-secondary-reverse,
  "disabled": $color-disabled-reverse
);

// 背景色
$m-background-color-dark: (
  "container": $color-bg-container-reverse,
  "default": $color-bg-default-reverse,
  "mask": $color-bg-mask-reverse,
  "shadow": $color-bg-shadow-reverse,
  "divider": $color-bg-divider-reverse
);

// 边框色
$m-border-color-dark: (
  "default": $color-border-default-reverse
);

