@import "./colors";

$color-dark: $gray-12;
$color-light: $gray-1;
$color-black: $gray-13 !default;
$color-white: $gray-1 !default;
$color-transparent: transparent !default;
$color-primary: $blue-6 !default;
$color-success: $green-6 !default;
$color-warning: $gold-6 !default;
$color-error: $red-6 !default;
$color-info: $blue-6 !default;
$color-primary-reverse: $blue-6-reverse !default;
$color-success-reverse: $green-6-reverse !default;
$color-warning-reverse: $gold-6-reverse !default;
$color-error-reverse: $red-6-reverse !default;
$color-info-reverse: $blue-6-reverse !default;
$color-title: rgba(0, 0, 0, .85) !default;
$color-title-light: rgba(0, 0, 0, .75) !default;
$color-main: rgba(0, 0, 0, .65) !default;
$color-main-light: rgba(0, 0, 0, .55) !default;
$color-secondary: rgba(0, 0, 0, .45) !default;
$color-disabled: rgba(0, 0, 0, .25) !default;
$color-title-reverse: rgba(255, 255, 255, .85) !default;
$color-title-light-reverse: rgba(255, 255, 255, .75) !default;
$color-main-reverse: rgba(255, 255, 255, .65) !default;
$color-main-light-reverse: rgba(255, 255, 255, .55) !default;
$color-secondary-reverse: rgba(255, 255, 255, .45) !default;
$color-disabled-reverse: rgba(255, 255, 255, .3) !default;
$color-bg: rgba(0, 0, 0, .04) !default;
$color-mask: rgba(0, 0, 0, .45) !default;
$color-shadow: rgba(0, 0, 0, .45) !default;
$color-divider: rgba(0, 0, 0, .06) !default;
$color-bg-reverse: rgba(255, 255, 255, .08) !default;
$color-mask-reverse: rgba(255, 255, 255, .55) !default;
$color-shadow-reverse: rgba(255, 255, 255, .55) !default;
$color-divider-reverse: rgba(255, 255, 255, .12) !default;
$color-border: rgba(0, 0, 0, .15) !default;
$color-border-reverse: rgba(255, 255, 255, .2) !default;
