// Controlling the cursor style when hovering over an element
$cursor-auto: auto;
$cursor-pointer: pointer;
$cursor-help: help;
$cursor-zoom-in: zoom-in;
$cursor-zoom-out: zoom-out;
$cursor-default: auto;
