// Controlling the font weight of an element
$font-weight-100: 100;
$font-weight-thin: 100;
$font-weight-200: 200;
$font-weight-extra-light: 200;
$font-weight-ultra-light: 200;
$font-weight-300: 300;
$font-weight-light: 300;
$font-weight-400: 400;
$font-weight-default: 400;
$font-weight-regular: 400;
$font-weight-normal: 400;
$font-weight-500: 500;
$font-weight-medium: 500;
$font-weight-600: 600;
$font-weight-semi-bold: 600;
$font-weight-700: 700;
$font-weight-bold: 700;
$font-weight-800: 800;
$font-weight-extra-bold: 800;
$font-weight-ultra-bold: 800;
$font-weight-900: 900;
$font-weight-black: 900;
$font-weight-heavy: 900;
$font-weight-default: 400;
