// Controlling the decoration of text
$text-decoration-line-underline: underline;
$text-decoration-line-line-through: line-through;
$text-decoration-line-none: none;
$text-decoration-line-default: none;
