// Controlling an element's white-space property
$white-space-normal: normal;
$white-space-nowrap: nowrap;
$white-space-pre: pre;
$white-space-pre-wrap: pre-wrap;
$white-space-pre-line: pre-line;
$white-space-default: normal;
