// controlling the text color of an element
$color-title: rgba(0, 0, 0, .85) !default;
$color-title-light: rgba(0, 0, 0, .75) !default;
$color-main: rgba(0, 0, 0, .65) !default;
$color-main-light: rgba(0, 0, 0, .55) !default;
$color-secondary: rgba(0, 0, 0, .45) !default;
$color-disabled: rgba(0, 0, 0, .25) !default;
$color-title-inverse: rgba(255, 255, 255, .85) !default;
$color-title-light-inverse: rgba(255, 255, 255, .75) !default;
$color-main-inverse: rgba(255, 255, 255, .65) !default;
$color-main-light-inverse: rgba(255, 255, 255, .55) !default;
$color-secondary-inverse: rgba(255, 255, 255, .45) !default;
$color-disabled-inverse: rgba(255, 255, 255, .3) !default;
