// Controlling the font smoothing of an element
$font-smooth-auto: auto;
$font-smooth-antialiased: antialiased; // for -webkit-font-smoothing
$font-smooth-grayscale: grayscale; // for -moz-osx-font-smoothing
$font-smooth-default: auto;
