// 控制元素字体平滑
$font-smooth-auto: auto;
$font-smooth-antialiased: antialiased; // for -webkit-font-smoothing
$font-smooth-grayscale: grayscale; // for -moz-osx-font-smoothing
$font-smooth-default: auto;
