// Controlling the transformation of text
$text-transform-capitalize: capitalize;
$text-transform-uppercase: uppercase;
$text-transform-lowercase: lowercase;
$text-transform-none: none;
$text-transform-default: none;
