// 控制 inline 和 table-cell 元素的垂直对齐
$vertical-align-baseline: baseline;
$vertical-align-sub: sub;
$vertical-align-super: super;
$vertical-align-text-top: text-top;
$vertical-align-text-bottom: text-bottom;
$vertical-align-top: top;
$vertical-align-bottom: bottom;
$vertical-align-middle: middle;
$vertical-align-default: baseline;
