// 控制元素的 white-space 属性
$white-space-normal: normal;
$white-space-nowrap: nowrap;
$white-space-pre: pre;
$white-space-pre-wrap: pre-wrap;
$white-space-pre-line: pre-line;
$white-space-default: normal;
