/* flex */
.df {
  @include m-box-sizing-reset();
  @include m-display-reset();
}

.flex-auto {
  flex: $flex-auto !important;
}

.flex-none {
  flex: $flex-none !important;
}

.flex-row {
  flex-direction: $flex-row !important;
}

.flex-col {
  flex-direction: $flex-column !important;
}

.flex-wrap {
  flex-wrap: $flex-wrap !important;
}

.flex-wrap-reverse {
  flex-wrap: $flex-wrap-reverse !important;
}

.flex-nowrap {
  flex-wrap: $flex-nowrap !important;
}

.flex-center {
  align-items: $flex-center !important;
  justify-content: $flex-center !important;
}

.align-content-center {
  align-content: $flex-center !important;
}

.align-content-start {
  align-content: $flex-start !important;
}

.align-content-end {
  align-content: $flex-end !important;
}

.align-content-space-around {
  align-content: $flex-space-around !important;
}

.align-content-space-between {
  align-content: $flex-space-between !important;
}

.align-content-stretch {
  align-content: $flex-stretch !important;
}

.align-center {
  align-items: $flex-center !important;
}

.align-start {
  align-items: $flex-start !important;
}

.align-end {
  align-items: $flex-end !important;
}

.align-stretch {
  align-items: $flex-stretch !important;
}

.align-baseline {
  align-items: $flex-baseline !important;
}

.align-self-auto {
  align-self: $flex-auto !important;
}

.align-self-center {
  align-self: $flex-center !important;
}

.align-self-start {
  align-self: $flex-start !important;
}

.align-self-end {
  align-self: $flex-end !important;
}

.align-self-stretch {
  align-self: $flex-stretch !important;
}

.justify-center {
  justify-content: $flex-center !important;
}

.justify-start {
  justify-content: $flex-start !important;
}

.justify-end {
  justify-content: $flex-end !important;
}

.justify-space-around {
  justify-content: $flex-space-around !important;
}

.justify-space-between {
  justify-content: $flex-space-between !important;
}

.justify-space-evenly {
  justify-content: $flex-space-evenly !important;
}
