/* icon */
$icon-sizing-map: (
  xs: $sizing-icon-xs,
  sm: $sizing-icon-sm,
  md: $sizing-icon-md,
  lg: $sizing-icon-lg,
  xl: $sizing-icon-xl
);

$icon-sizing-list: map-keys($icon-sizing-map);

@each $size in $icon-sizing-list {
  .icon-#{$size} {
    @include m-sizing-square(map-get($icon-sizing-map, $size));
  }
}
