/* icon */
$icon-sizing-map: (
  xs: $sizing-icon-xs,
  sm: $sizing-icon-sm,
  md: $sizing-icon-md,
  lg: $sizing-icon-lg,
  xl: $sizing-icon-xl
);

$icon-sizing-list: map-keys($icon-sizing-map);

@each $size in $icon-sizing-list {
  .icon-#{$size} {
    @include m-sizing-square(map-get($icon-sizing-map, $size));
    flex: 0 0 map-get($icon-sizing-map, $size);

    & + text {
      @include m-spacing-margin-left($spacing-sm);
    }
  }
}


/* logo */
$logo-sizing-map: (
  xs: $sizing-logo-xs,
  sm: $sizing-logo-sm,
  md: $sizing-logo-md,
  lg: $sizing-logo-lg,
  xl: $sizing-logo-xl
);

$logo-sizing-list: map-keys($logo-sizing-map);

@each $size in $logo-sizing-list {
  .logo-#{$size} {
    @include m-sizing-square(map-get($logo-sizing-map, $size));
    flex: 0 0 map-get($logo-sizing-map, $size);

    & + text {
      @include m-spacing-margin-left($spacing-sm);
    }
  }
}


/* image */
$image-sizing-map: (
  xxxxs: $sizing-image-xxxxs,
  xxxs: $sizing-image-xxxs,
  xxs: $sizing-image-xxs,
  xs: $sizing-image-xs,
  sm: $sizing-image-sm,
  md: $sizing-image-md,
  lg: $sizing-image-lg,
  xl: $sizing-image-xl,
  xxl: $sizing-image-xxl,
  xxxl: $sizing-image-xxxl,
  xxxxl: $sizing-image-xxxxl
);

$image-sizing-list: map-keys($image-sizing-map);

@each $size in $image-sizing-list {
  .image-#{$size} {
    @include m-sizing-square(map-get($image-sizing-map, $size));
    flex: 0 0 map-get($image-sizing-map, $size);
    
    & + text {
      @include m-spacing-margin-left($spacing-sm);
    }
  }
}
