/* weapp root element */
page {
  @include m-position-reset();
  @include m-box-sizing-reset();
  @include m-sizing-full();
  @include m-spacing-reset();
  overflow: hidden;
  @include m-font-family-reset();
  @include m-font-size();
  @include m-font-weight();
  @include m-line-height();
}

/* reset box-sizing to border-box */
.bsbb {
  @include m-box-sizing-reset();
}

/* reset display to block */
.db {
  @include m-display(block);
}

.container {
  @include m-position-reset();
  @include m-box-sizing-reset();
  @include m-display-reset();
  @include m-flex-axis($flex-column);
  @include m-sizing-full();
  @include m-color($color-main);
  @include m-background-color($background-color-light);

  &.is-horizontal {
    flex: 1;
    @include m-flex-axis-reset();
    @include m-sizing-height();

    & > .main {
      @include m-sizing-width();
      @include m-sizing-height($sizing-100-pct);
      @include m-spacing-padding-reset();
    }
  }

  & > .bg {
    @include m-position(fixed);
    @include m-sizing-square($sizing-100-pct);
  }

  & > .header,
  & > .nav,
  & > .footer {
    @include m-position-reset();
    @include m-box-sizing-reset();
    @include m-display-reset();
    @include m-flex-axis($flex-row, $flex-center, $flex-space-between);
    @include m-sizing-width($sizing-100-pct);
    @include m-background-color($color-transparent);

    & > .left,
    & > .right {
      @include m-box-sizing-reset();
      @include m-display-reset();
      @include m-flex-axis($flex-row, $flex-center);
      @include m-sizing-height($sizing-100-pct);
      overflow: hidden;
    }

    & > .left {
      flex: $flex-auto;
      justify-content: $flex-start;
    }

    & > .right {
      flex: $flex-none;
      justify-content: $flex-end;
    }
  }

  & > .header {
    flex: 0 0 $sizing-layout-xl;
    @include m-spacing-padding-2($spacing-0, $spacing-lg);
  }

  & > .nav {
    flex: 0 0 $sizing-layout-xs;
    @include m-spacing-padding();
    overflow: hidden;
  }

  & > .aside {
    @include m-position-reset();
    @include m-box-sizing-reset();
    @include m-display-reset();
    @include m-flex-axis($flex-column, $flex-center);
    @include m-sizing($sizing-auto, $sizing-100-pct);
    @include m-background-color($color-transparent);
  }

  & > .main {
    @include m-position-reset();
    @include m-box-sizing-reset();
    @include m-display-reset();
    flex: $flex-auto;
    @include m-flex-axis($flex-column);
    @include m-sizing($sizing-100-pct, $sizing-auto);
    @include m-spacing-padding($spacing-xl);
    @include m-background-color($color-transparent);
  }

  & > .footer {
    @include m-flex-axis($flex-row, $flex-start, $flex-center); // 匹配 iPhone X 系列
    flex: 0 0 $sizing-layout-xxxxl;
    @include m-spacing-padding-2($spacing-xs, $spacing-lg);
  }
}


.container.light {
  @include m-color($color-main);
  @include m-background-color($background-color-light);

  & > .header,
  & > .nav {
    @include m-border-bottom($border-color-default, solid, $border-width-default);
  }

  & > .footer {
    @include m-border-top($border-color-default, solid, $border-width-default);
  }
}

.container.dark {
  @include m-color($color-main-inverse);
  @include m-background-color($background-color-dark);

  & > .header,
  & > .nav {
    @include m-border-bottom($border-color-default-inverse, solid, $border-width-default);
  }

  & > .footer {
    @include m-border-top($border-color-default-inverse, solid, $border-width-default);
  }
}
