$color-black: #000 !default;
$color-white: #fff !default;
$color-transparent: transparent !default;

@import "./ad-colors";
@import "./md-colors";

/* 默认跟随 Ant Design */
$color-primary: $ad-blue !default;
$color-success: $ad-green !default;
$color-warning: $ad-gold !default;
$color-error: $ad-red !default;
$color-info: $ad-blue !default;
