@import "../variables/index";

.row {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;

  @each $k, $v in $m-gutter {
    &.gutter#{$k} {
      margin-right: -$v;
      margin-left: -$v;

      > .col {
        padding-right: $v;
        padding-left: $v;
      }
    }
  }
}

.col {
  position: relative;
  box-sizing: border-box;
  display: block;
  flex: 0 0 100%;
  max-width: 100%;
  min-height: 0;
}

@for $v from 1 to $grid-max {
  $percent: $v / $grid-max * 100%;
  .col-#{$v} {
    flex: 0 0 $percent;
    max-width: $percent;
  }

  .col-offset-#{$v} {
    margin-left: $percent;
  }

  .col-pull-#{$v} {
    right: $percent;
  }

  .col-push-#{$v} {
    left: $percent;
  }
}
